/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* ############# Required files ############## */

@import url('components/one_root.css');
@import url('components/one_root-personal.css');
@import url('components/one_toolbar-icons.css');
@import url('components/one_containers.css');
@import url('components/one_tabs-bar.css');
@import url('components/one_urlbar-searchbar.css');
@import url('components/one_windows-controls.css');
@import url('components/one_customize-styles.css');
@import url('components/one_sound.css');
@import url('components/one_arrowpanel.css');
@import url('components/one_contextual-menu.css');
@import url('components/one_notifications.css');
@import url('components/one_close-button.css');
@import url('components/one_button-styles.css');
@import url('components/one_library.css');
@import url('components/one_hamburger-menu-icons.css');
@import url('components/one_menu.css');
@import url('components/one_left-sidebar.css');
@import url('components/one_tree-tabs.css');
@import url('components/one_optional-features.css');
@import url('components/one_tricks.css');
