/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* Bookmark text */

.browser-toolbar:not(.titlebar-color) {
    color: var(--lwt-text-color) !important;
}

/* Barra de busqueda */

findbar{
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
                      linear-gradient(transparent, transparent), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: right bottom, right bottom, right center, left center !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: auto !important;
    box-shadow: none !important;
    color: var(--lwt-tab-text) !important;
    border: none !important;
}

.findbar-find-status[status="notfound"] {
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.findbar-textbox {
    border-color: transparent !important;
    background-color:  var(--toolbarbutton-hover-personal) !important;
}

.findbar-textbox:focus {
    border-color: var(--general-color) !important;
    background-color: var(--arrowpanel-background) !important;
}

/* Vizualización correcta del porcentaje de zoom mostrado en la urlbar */

#urlbar-zoom-button {
    padding: 0px 4px !important;
    border-radius: 2px !important;
}

/* "popup_highlight" ---> 1.- keyboard highlight ;  2.-mouse highlight */

.urlbarView-row[selected], .urlbarView-row[row-selectable]:not([selected]):hover {
    --urlbar-popup-url-color: var(--toolbar-field-focus-color) !important; 
    background-color: var(--autocomplete-popup-hover-background) !important;
    --link-color: var(--lwt-tab-text) !important;
    border-radius: 0px !important;
}

/* Font size */

.urlbarView-title {
    font-size: 1.06em !important;
}

.urlbarView-tags, .urlbarView-url, .urlbarView-title:not(:empty)~.urlbarView-action {
    font-size: 1.05em !important;
    font-weight: 501 !important;
}

/* Width of search container */

.urlbarView-body-inner,
.urlbarView {
  margin-inline: 0px !important;
  width: 100% !important;
  border-inline: 0px solid red !important;
}

.urlbarView-results {
    padding-block: 0px !important;
}

.urlbarView-row {
  border: 0px solid transparent !important;
}

/* Url margin inline */

.urlbar-input-container {
    padding-inline: 11px !important;
}

#urlbar[breakout][breakout-extend] {
  & > .urlbar-input-container {
      padding-inline: 16px !important;
    }
}

/* 'Go' button */

.urlbar-go-button, .search-go-button, .urlbar-revert-button {
    width: calc(var(--toolbar-height-personal) - 14px) !important;
    height: calc(var(--toolbar-height-personal) - 14px) !important;
}

/* favicons */

.urlbarView-row {
  @media -moz-pref("browser.urlbar.richSuggestions.featureGate") {
    &:not([rich-suggestion]), &[rich-suggestion][icon-size="16"] {
      --urlbarView-icon-margin-start: 16px !important;
      --urlbarView-icon-margin-end: 12px !important;/**/
      }
  }
}

.urlbarView-favicon {
    min-width: 16px !important;
    max-width: 16px !important;
}

.urlbarView-row:hover .urlbarView-favicon {
    background-color: var(--toolbar-field-focus-background-color) !important;
    outline: 8px solid var(--toolbar-field-focus-background-color) !important;
    clip-path: circle(90%) !important;
}

/* Rich Suggestions */

.urlbarView-row[rich-suggestion] > .urlbarView-row-inner > .urlbarView-favicon {
    max-height: 16px !important;
    max-width: 16px !important;
    margin-inline: 16px 12px !important;
}

/* 'Switch to tab' button */

.urlbarView-row:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) {
    & > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
        padding-block: 0px 2px !important;
        margin-block: 0px -2px !important;
    }
}

/* Height if each row of suggestion */

.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root:not([uidensity="compact"]) & {
      min-height: 36px !important;
    }
  }
}

/* 'Switch to tab' button with container line */

.urlbarView-userContext {
  border-top: 0px !important;
  box-shadow: 0 -2px 0 0 var(--identity-tab-color), inset 0 2px 0 0 var(--identity-tab-color) !important;
}

/* Remove container icon when searchbar is smaller */
.urlbarView-userContext-icon {
    display: none !important;
}

/* 'Quick Action' Buttons urlbar 'open' */

.urlbarView-quickaction-button {
    box-shadow: 0px 0px 1px rgba(128, 128, 142, 0.9) !important;
}

.urlbarView-quickaction-button:hover {
    background-color: var(--button-hover-bgcolor) !important;
    box-shadow: 0px 0px 0px 1px var(--button-hover-bgcolor) !important;
}

/* Label 'Firefox Suggestions - Google Suggestions' */

.urlbarView-row[label] {
    margin-block-start: 26px !important;
}

.urlbarView-row[label]::before {
    margin-inline-start: 20px !important;
    font-weight: bold !important;
}

/* Margin left for 'This time Search with' */

#urlbar .search-panel-header{
    padding-inline-start: 14px !important;
}

/* Latest button 'Search configuration' */

#urlbar .search-setting-button {
  margin-inline: 10px !important;
}

/* Does not display search suggestions in double row - smaller firefox window */

@media screen and (min-height: 600px) {
    .urlbarView-results[wrap] > .urlbarView-row {
        &:where(:not([rich-suggestion])) > .urlbarView-row-inner {
            & > .urlbarView-no-wrap {
                flex-basis: 0% !important;
            }
        }
    }

    /* Separator title - url */
    .urlbarView-results[wrap] > .urlbarView-row {
        .urlbarView[action-override] &[has-url]:not([restyled-search]), &[has-url]:not([type$="tab"], [sponsored], [restyled-search]), &[has-url]:is([type="remotetab"], [sponsored]):is(:hover, [selected]), &[type="tabtosearch"] {
            & .urlbarView-title-separator {
                display: flex !important;
            }
        }
    }
    
    /* Unnecessary margin after the separator */
    .urlbarView-results[wrap] > .urlbarView-row {
        &[has-url] > .urlbarView-row-inner > .urlbarView-url {
            &:-moz-locale-dir(ltr) {
                margin-inline-start: 0px !important;
            }
        }

    }
}

/* ____________________________________ Nav-bar height ____________________________________ */

#nav-bar {
    height: var(--toolbar-height-personal) !important;
    border-top: none !important;
}

#urlbar-container {
    --urlbar-container-height: var(--toolbar-height-personal) !important;
}

#urlbar, #searchbar {
    --urlbar-height: calc(var(--toolbar-height-personal) - 10px) !important;
    --urlbar-min-height: calc(var(--toolbar-height-personal) - 10px) !important;
}

/* Urlbar */

#urlbar {
    min-height: calc(var(--toolbar-height-personal) - 8px) !important;
    border-radius: 7px !important;
}

#urlbar:not([open], [focused]) #urlbar-background {
    border-radius: 7px !important;
    transition: ease-in 150ms !important;
    transition-delay: 100ms !important;
}

#urlbar:not([open], [focused]):hover #urlbar-background {
    background-color: var(--toolbarbutton-hover-background) !important;
    border-radius: 7px !important;
    border-color: transparent !important;
    transition: linear 150ms !important;
    transition-delay: 80ms !important;
}

#urlbar:not([open]):is([focused]) #urlbar-background {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#urlbar[focused] #urlbar-background {
    border-radius: 7px !important;
    box-shadow: none !important;
    transition: background-color 0.4s ease !important;
}

#urlbar[open] #urlbar-background {
    background-image: var(--noise-urlbar-personal) !important;
    border-radius: 10px !important;
    border-color: transparent !important;
}

#urlbar-input, #urlbar-scheme {
    padding-inline-start: 6px !important;
}

#urlbar[open] {
    overflow: hidden !important;
    z-index: 4 !important;
}

@media (-moz-platform: windows) {
    #urlbar-input, #urlbar-scheme {
        padding-block-end: 2px !important;
    }
}

/* Necessary for many -Hamburger Menu- and -Left Sidebar- scenarios */

#navigator-toolbox {
    z-index: unset !important;
}

/* Brighness when urlbar [open]*/

#urlbar {
    box-shadow: 0 0 0 100vw transparent;
    transition: box-shadow 250ms ease-out !important;
}

#urlbar[open] {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    transition: box-shadow 250ms ease-out !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

/* Margen de las toolbar cuando left-sidebar no es usada */

#nav-bar, #PersonalToolbar {
    border-radius: 8px !important;
    margin-inline: 4px !important;
}

#PersonalToolbar{
    margin-block-start: 1px !important;
    padding-inline: 1px !important;
    padding-block: 1px !important;
}

:root:is([sizemode="fullscreen"]) #nav-bar{
    margin-bottom: 1px !important;
}


/* Search Engine button */

@media not -moz-pref("browser.urlbar.searchModeSwitcher.featureGate") {
    #urlbar-searchmode-switcher:not(:hover,[open]) {
        background-color: transparent !important;
    }
}

#urlbar-searchmode-switcher {
    appearance: none;
    margin-block: 2px !important;
    border-radius: var(--urlbar-icon-border-radius);
    margin-inline-end: var(--urlbar-icon-padding);
    padding-inline: var(--urlbar-searchmodeswitcher-spacing);
    
    &:hover {
        background-color: var(--urlbar-box-hover-bgcolor) !important;
    }
    &[open] {
        background-color: var(--urlbar-box-active-bgcolor) !important;
    }   
}

#searchmode-switcher-chicklet {
    height: calc(var(--urlbar-min-height) - 6px - 2 * var(--urlbar-container-padding)) !important;
    align-self: center !important;
}

#searchmode-switcher-icon {
    width: 14px !important;
    height: 14px !important;
    padding: 0px !important;
    margin: -3px !important;
}

#searchmode-switcher-dropmarker {
    display: none !important;
}

#urlbar-searchmode-switcher,
#searchmode-switcher-chicklet {
  @media -moz-pref("browser.urlbar.searchModeSwitcher.featureGate") or -moz-pref("browser.urlbar.scotchBonnet.enableOverride") {
    #urlbar[searchmode] & {
        display: inline-flex;
        background-color: var(--urlbar-box-bgcolor) !important;
    }
  }
}

#urlbar-searchmode-switcher:is(:hover,[open]) {
  @media -moz-pref("browser.urlbar.searchModeSwitcher.featureGate") or -moz-pref("browser.urlbar.scotchBonnet.enableOverride") {
    #urlbar[searchmode] & {
        display: inline-flex;
        background-color: var(--urlbar-box-hover-bgcolor) !important;
        border-radius: 2px !important;
        padding-inline-end: 5px !important;
        margin-inline-end: 1px !important;
    }
  }
}


/* Search-bar */

#searchbar {
    min-height: 28px !important;
    max-height: 30px !important;
}

#searchbar:hover {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#searchbar:focus-within {
    border-color: var(--toolbar-field-focus-background-color) !important;
    box-shadow: none !important;
    background-color: var(--toolbarbutton-hover-background) !important;
}

#PopupSearchAutoComplete {
    appearance: none !important;
    margin-top: -1px !important;
    margin-left: -3px !important;
    --arrowpanel-border-color: none !important;
}

/* Páginas de extensiones */

#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button {
    background: transparent !important;
}

#identity-box.extensionPage label {
    display: none !important;
}

/* Páginas seguras de firefox */

/* Label e ícono */

#identity-icon-label {
    display: none !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    list-style-image: url("../icons/foxFill.svg") !important;
    -moz-context-properties: fill !important;
    fill: var(--lwt-tab-text) !important;
    width: 15px !important;
    height: 15px !important;
    margin-inline: 2px 2px !important;
    opacity: 0.8 !important;
}

#identity-box[pageproxystate="valid"].chromeUI .identity-box-button:is(:hover, [open]) #identity-icon {
    fill: var(--lwt-tab-text) !important;
    opacity: 1 !important;
}

#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, 
#identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    margin-inline-end: 3px !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button, #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button, 
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button, #urlbar-label-box {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:hover:not([open]), 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:hover:not([open]) {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 85%, var(--lwt-tab-text)) !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button[open="true"], 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 78%, var(--lwt-tab-text)) !important;
}

/* alinear: "Conexión segura" en candado */

#identity-popup-security-button {
    margin-bottom: 0px !important;
}

/* -----------------> Íconos de la urlbar más pequeños <--------------------- */

/* Tamaño */

#tracking-protection-icon, #identity-icon, .sharing-icon, .desktop-notification-icon {
    height: 14px !important;
    width: 14px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.identity-box-button {
    padding-inline: 0px !important;
}

/* box, caja de íconos */

#identity-icon-box, #identity-permission-box, #notification-popup-box {
    margin-block: 3px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

#permissions-granted-icon, #identity-permission-box[hasPermissions], #blocked-permissions-container>.blocked-permission-icon {
    margin-inline: 2px !important;
    margin-right: 2px !important;
}

#blocked-permissions-container>.blocked-permission-icon {
    padding: 1px !important;
    margin-left: 0px !important;
}

/* íconos varios de permisos */

#notification-popup-box image {
    padding: 3px !important;
    height: 20px !important;
    width: 20px !important;
}

/* ícono de Permitir Notificaciones */

.popup-notification-icon[popupid="web-notifications"], .desktop-notification-icon {
    width: 16px !important;
    height: 16px !important;
    padding: 0px !important;
    margin-inline-start: 0px !important;
}

#notification-popup-box {
    width: 20px !important;
    height: 20px !important;
}

/* ícono Portección contra rastreo */

#tracking-protection-icon-container {
    margin-block: 3px !important;
    margin-inline: 3px 0px!important;
    padding: 2px !important;
}

#tracking-protection-icon {
    margin-inline-start: 1px !important;
    margin-block-start: 1px !important;
}

/* ícono bookmark, vista de lectura, etc */

.urlbar-page-action {
    width: 21px !important;
    height: 20px !important;
    margin-inline: 3px !important;
    padding: 3px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.urlbar-page-action>.urlbar-icon {
    width: 15px !important;
    height: 15px !important;
}

/* Translate button */

#translations-button[translationsactive="true"]{
    width: initial !important;
    border-radius: 52px !important;
}

#translations-button[translationsactive="true"] .urlbar-icon{
    display: none !important;
}

#translations-button-locale {
    background-color: var(--button-active-bgcolor) !important;
    color: var(--lwt-tab-text) !important;
    border-radius: 52px !important;
    height: 20px !important;
    padding-top: 1px !important;
    padding-inline-start: 0px !important;
    margin-inline: -3px -3px !important;
    margin-block: -3px !important;
}

#translations-button:is([open], :hover) #translations-button-locale{
    background-color: var(--toolbarbutton-icon-fill) !important;
    color: var(--contrast-color) !important;
}

/* Fondo :hover de íconos de la urlbar" */

#notification-popup-box:hover:not([open="true"]), #identity-icon-box:hover:not([open="true"]), #identity-permission-box:hover:not([open="true"]), 
#tracking-protection-icon-container:hover:not([open="true"]), .urlbar-page-action:not([disabled], [open="true"]):hover, #urlbar-go-button:hover, 
.search-go-button:hover, #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button:hover {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 85%, var(--lwt-tab-text)) !important;
    border-radius: 4px !important;
}

/* Color verde de la descripción de web segura */

description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, 
#identity-popup-securityView-body>button {
    color: #2cf62c !important
}

/* Fondo active de íconos de la urlbar */

#notification-popup-box[open="true"], #identity-icon-box[open="true"], #identity-permission-box[open="true"], #tracking-protection-icon-container[open="true"], 
.urlbar-page-action:not([disabled])[open="true"], #urlbar-go-button[open="true"], .search-go-button[open="true"], 
:not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], :not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], 
.urlbar-icon-wrapper[open="true"], .urlbar-icon-wrapper[open="true"], .identity-box-button[open="true"], 
#tracking-protection-icon-container[open="true"], .identity-box-button[open="true"] .urlbar-page-action:not([disabled]):hover, 
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 78%, var(--lwt-tab-text)) !important;
    border-radius: 4px !important;
}

/* Eliminar ícono de -sitio anclado- en las sugerencias de busqueda */

.urlbarView-type-icon {
    display: none !important;
}
