/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* "tab_line": "#126e82" */

@supports not -moz-bool-pref("firefoxone.without-default-colors") {
    #tabbrowser-tabs {
        --lwt-tab-line-color: transparent !important;
    }}

/* Color bolita de -cargando página- */

#tabbrowser-tabs {
    --tab-loading-fill: var(--lwt-tab-text) !important;
}

/* Espacio top en ventana no maximizada */

:root[tabsintitlebar][sizemode="normal"] {
    --windowed-top-padding: 0px;
}

:root[tabsintitlebar][sizemode="normal"] #TabsToolbar {
    padding-block-start: var(--windowed-top-padding, 0px) !important;
}

/* Firefox view icon */

#firefox-view-button { list-style-image: url("../images/firefoxview-close.svg") !important; }
#firefox-view-button[aria-pressed="true"] { list-style-image: url("../images/firefoxview-open.svg") !important; }

:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs , 
:root[privatebrowsingmode="temporary"] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
    border-inline-start: 0px solid transparent !important;
}

toolbar:is(#TabsToolbar) #firefox-view-button {
    margin-left: -2px !important;
}

toolbar:is(#TabsToolbar) #firefox-view-button[aria-pressed="true"] .toolbarbutton-icon{
    border-radius: var(--tab-border-radius) !important;
}

#firefox-view-button[aria-pressed="true"] .toolbarbutton-icon {
    outline: none !important;
    background: var(--general-color) !important;
    fill: #eaeaea !important;
}

toolbar #firefox-view-button[aria-pressed="true"]:hover .toolbarbutton-icon {
    fill: var(--lwt-tab-text) !important;
}

/* Quitar imagen de la interfaz principal */

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) #navigator-toolbox {
    background-image:  none !important; 
}

/* _________________________________________ Pestaña activa _____________________________________ */

.tab-stack, .tab-background, .tab-content{
    border-radius: var(--tab-border-radius) !important;
}

.tab-stack{
    --tab-block-margin: 0px !important;
    margin-block: var(--tab-block-margin-personal) !important;
}

.tab-content{
    height: var(--tab-height-personal) !important;
    margin-block: var(--tab-block-margin) !important;
    border-radius: var(--tab-border-radius) !important;
    z-index: 2 !important;
}

/* Sombra en la pestaña activa */

:root:not([lwtheme-image],[style*="--lwt-additional-images"]) .tabbrowser-tab[selected="true"]:not([multiselected]) .tab-stack {
    box-shadow: 0px 4px 7px 0px color-mix(in srgb, var(--lwt-frame) 84%, var(--lwt-tab-text)) !important;
    z-index: 1 !important;
}

@supports -moz-bool-pref("firefoxone.without-default-colors") {
    :root:not([lwtheme-image],[style*="--lwt-additional-images"]) .tabbrowser-tab[selected="true"]:not([multiselected]) .tab-stack {
        box-shadow: none !important;
    }
}

/* Imagen en pestaña */

:root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) tab[selected] .tab-background{
    background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: initial, initial, left top, right top, right top !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: var(--display-theme-with-images) !important; 
    outline: 1px solid var(--identity-tab-color, var(--button-active-bgcolor)) !important;
    outline-offset: -1px !important;
    z-index: 1 !important;
}

/* no Outline color in this config */

@supports -moz-bool-pref("firefoxone.without-default-colors") {
:root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) tab[selected] .tab-stack{
    outline: none !important;
    }}

/* Colores al mover una pestaña */

#tabbrowser-tabs:is([movingtab]) .tabbrowser-tab[selected="true"] .tab-content{
    background-color: var(--lwt-selected-tab-background-color) !important;
}

@supports -moz-bool-pref("firefoxone.without-default-colors") {
    #tabbrowser-tabs:is([movingtab]) .tabbrowser-tab[selected="true"] .tab-content{
    background-color: initial !important;
    }
}

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) 
    #tabbrowser-tabs:is([movingtab]) .tabbrowser-tab[selected="true"] .tab-content{
    outline: 1px solid var(--button-active-bgcolor) !important;
    outline-offset: -1px !important;
}

/* Mantener una imagen al mover pestaña en temas con imagenes */

:root:is([lwtheme-image], [style*="--lwt-additional-images"]) 
    #tabbrowser-tabs:is([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]{
    background-image: linear-gradient(transparent, transparent), 
                      linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: left top, right top, left center !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
}

/* Multiselected tabs */

.tabbrowser-tab[multiselected]:is([selected]) :is(.tab-stack, .tab-content, .tab-background){
    background-image: none !important;
    background-color: var(--button-bgcolor-personal) !important;
    --tab-border-radius: 0px !important;
    outline-color: var(--general-color) !important;
}

.tabbrowser-tab[multiselected]:not([selected]) .tab-content{
    background-image: none !important;
    background-color: var(--button-bgcolor) !important;
    --tab-border-radius: 0px !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.tabbrowser-tab[multiselected]:not([selected]) .tab-background{
    outline: none !important;
    border-radius: 0px !important;
}

/* separadores entre pestañas */

.tabbrowser-tab:not(.tabbrowser-tab>stack[selected] + .tabbrowser-tab>stack>.tab-background) .tab-background:after{
    border-left: 1px solid color-mix(in srgb, currentColor 30%, transparent);
    height: calc(var(--tab-height-personal) + var(--tab-block-margin) / 2) !important;
    border-image: 0 1 linear-gradient(
    transparent 20%,
    color-mix(in srgb, currentColor 20%, transparent) 20%,
    color-mix(in srgb, currentColor 20%, transparent) 80%,
    transparent 80%
  ) !important;
    position:absolute;
    
}
.tab-background:after{
    content:"";
    left: -1px !important;
}

.tabbrowser-tab[selected] .tab-background:after,
.tabbrowser-tab:hover .tab-background:after,
.tabbrowser-tab[multiselected] .tab-background:after,
#tabbrowser-tabs[haspinnedtabs]> #tabbrowser-arrowscrollbox[overflowing] > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) .tab-background:after,
.tabbrowser-tab:nth-child(1 of :not([hidden])) .tab-background:after,
.tabbrowser-tab:is([selected]):nth-child(1 of :not([hidden])) + .tabbrowser-tab .tab-background:after,
#tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] .tab-background:after,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:hover + .tabbrowser-tab:not([first-visible-unpinned-tab]) .tab-background:after,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[multiselected] + .tabbrowser-tab .tab-background:after,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[selected] + .tabbrowser-tab .tab-background:after{
    content: none !important;
}

/* "toolbar_top_separator": "#17161c" */

#navigator-toolbox {
    --lwt-tabs-border-color: transparent !important;
}

/* Borde entre pestañas */

.tabbrowser-tab {
    padding-inline: 0px !important;
}

/* Color :hover de las pestañas no seleccionadas */

.tabbrowser-tab:not([selected="true"], [multiselected]):hover > .tab-stack:not([selected="true"], [multiselected]) {
    background-color: color-mix(in srgb, var(--lwt-tab-text) 4%, var(--lwt-frame)) !important;
    z-index: 1 !important;
}

/* Botón "Open Newtab" */

#tabs-newtab-button, #TabsToolbar #new-tab-button {
    padding-block-start: calc(var(--margin-top-personal)) !important;
    padding-inline-start: 6px !important;
    fill: var(--lwt-tab-text) !important;
}

#TabsToolbar #tabs-newtab-button image:not(.menu-iconic-icon), #TabsToolbar #new-tab-button image:not(.menu-iconic-icon) {
    background: var(--toolbar-bgcolor) !important;
    padding-block-start: calc(var(--margin-top-personal)) !important;
    padding: 4px !important;
    max-height: 20px !important;
    min-height: 20px !important;
    max-width: 20px !important;
    min-width: 20px !important;
    border-radius: 50% !important;
}

#TabsToolbar #tabs-newtab-button:hover image:not(.menu-iconic-icon), #TabsToolbar #new-tab-button:hover image:not(.menu-iconic-icon) {
    background: var(--lwt-selected-tab-background-color) !important;
    transform: scale(1.1,1.1) !important;
}

/* Favicon de pagina newtab */

.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    content: url("../images/foxlogofavicon.svg");
    fill: var(--lwt-tab-text) !important;
}

tab:not([selected]) .tab-icon-image {
    opacity: 0.9 !important;
}

/* Scroll de pestañas */

#tabbrowser-tabs {
    --uc-tabs-scrollbutton-border: 0px !important;
}

#scrollbutton-up, #scrollbutton-down {
    border: 8px solid transparent !important;
    border-inline-width: 4px !important;
}

#scrollbutton-up:not([disabled="true"]), #scrollbutton-down:not([disabled="true"]) {
    background-color: color-mix(in srgb, var(--lwt-selected-tab-background-color) 50%, transparent) !important;
    border-radius: 0 !important;
}

#scrollbutton-up:not([disabled="true"]):hover, #scrollbutton-down:not([disabled="true"]):hover {
    background-color: var(--lwt-selected-tab-background-color) !important;
}

spacer{      
    border: none !important;
    /*background-image: radial-gradient(ellipse at bottom, var(--border-contrast-color) 0%, var(--border-contrast-color) 7.6%, transparent 107.5%) !important;*/
}

/* Quitar label "Navegación Privada" */

#private-browsing-indicator-with-label > label {
    display: none !important;
}

/* Tamaño horizontal pestañas */

.tabbrowser-tab[fadein]:not([pinned],[style^="max-width"]) {
    max-width: 168px !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
  min-width: 64px !important;
}

/* Reduce spacing between pinned and regular tabs */

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0px !important;
}

/* Eliminar espacio de arrastre - izquierda */

.titlebar-spacer[type="pre-tabs"] {
    display: none !important
}

/* Sombra label de pestañas - sombra de pestaña */

.tab-label {
    text-shadow: none !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
}

/* Color y posición "dot" de pestaña que necesita atención */

.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
    background-image: radial-gradient(circle, var(--general-color), var(--general-color) 2px, transparent 2px) !important;
    background-position: center top calc(0px + var(--tabs-navbar-shadow-size)) !important;
}

/* Code to tabs-bar reach lower height that 30px */

#titlebar{ appearance: none !important; }

.titlebar-buttonbox-container, .tab-close-button, .tab-label-container{
  max-height: calc(var(--tab-height-personal) + var(--tab-block-margin) + 4px) !important;
}

/* _______________________ Nav-bar and Bookmark-bar - Compatibilidad con temas que usan imágenes ________________________ */

/* Nav-bar */

:root:not([chromehidden~="toolbar"]):is([style*="--lwt-additional-images"],[lwtheme-image]) #nav-bar{
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
                      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: right top, right top, calc(100% + 4px) calc(-2px - var(--toolbar-height-personal)), left calc(-2px - var(--toolbar-height-personal)) !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: auto !important; 
    outline: 1px solid #50505040 !important;
    outline-offset: -1px !important;
}

/* Bookmark-bar */

:root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar {
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
                      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: right top, right top, calc(100% + 4px) calc(-2px - var(--toolbar-height-personal)*2), left calc(-2px - var(--toolbar-height-personal)*2) !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: auto, auto, var(--display-theme-with-images) !important; 
    outline: 1px solid #50505040 !important;
    outline-offset: -1px !important;
}

/* ################################################## Menu-bar sin Tree-tab style ######################################################*/

@media (prefers-color-scheme: dark){
    :root:is([style*="--lwt-additional-images"],[lwtheme-image]) #main-menubar{
        --toolbar-bgcolor: #101019b0 !important;
    }}
    
@media (prefers-color-scheme: light){
    :root:is([style*="--lwt-additional-images"],[lwtheme-image]) #main-menubar{
        --toolbar-bgcolor: #ffffff80 !important;
    }}

:root:is([style*="--lwt-additional-images"],[lwtheme-image]) #main-menubar{
    box-shadow: inset 0 1px 0 0 var(--lwt-frame), inset 0 1px 0 0 var(--lwt-frame),inset 0 1px 0 0 var(--lwt-frame),
                inset 0px -1px 0 0  #50505040,  /* abajo */
                inset 0 4px var(--lwt-frame),
                inset 0px 5px 0 0  #50505040,   /* Top */
                inset -1px 0 0 0  #50505040,    /* right */ 
                inset 1px 0 0 0  #50505040      /* Left */
                !important;
}

@supports not -moz-bool-pref("firefoxone.tree_tabs_style") {

/* ________________________________________________________ Menubar ______________________________________________________ */

:root:not([customizing]) #titlebar{
  -moz-box-orient: horizontal; /* Fx <112 compatibility */
  flex-direction: row;
}
#toolbar-menubar[autohide="false"] > .titlebar-buttonbox-container,
#toolbar-menubar[autohide="false"] > spacer{ display: none; }

#main-menubar[autohide="false"]{
  -moz-box-flex: 1; /* Fx <112 compatibility */
  flex-grow: 1 !important;
}
:root:not([customizing]) #toolbar-menubar[autohide="false"][inactive]{ max-width: 0 }

#TabsToolbar > .titlebar-buttonbox-container{
  display: flex !important;
  visibility: visible !important;
}

#TabsToolbar > .titlebar-spacer[type="post-tabs"]{
  display: flex !important;
}

/* __ Menubar Flotante __ */

#toolbar-menubar[autohide="true"]{
    position: fixed;
    display: flex;
    top: 0px !important;
    width: 100vw;
    height: initial !important;
    z-index: 10;
}

#toolbar-menubar[autohide="true"][inactive="true"]{ height: 0px !important; }

#toolbar-menubar > spacer{ flex-grow: 1 }
#toolbar-menubar[inactive] > .titlebar-buttonbox-container{ display: none }

#main-menubar{
    height: calc(var(--tab-min-height) +  1 * var(--tab-block-margin,0px) + 5px);
    background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                      linear-gradient(transparent, transparent), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: right top, right top, right top, left top, right top !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: auto !important; 
    color: var(--arrowpanel-color);
    border-radius: 8px !important;
    box-shadow: inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame) !important;
}

#menubar-items{
    -moz-box-orient: horizontal !important; /* Fx <112 compatibility */
    flex-direction: row !important;
}
#toolbar-menubar[autohide="true"] #menubar-items::after{
    content: "";
    display: flex;
    width: 30px;
    height: calc(var(--tab-min-height) +  1 * var(--tab-block-margin,0px) + 5px);
    background-image: linear-gradient(to right, var(--lwt-frame)30%, transparent) !important;  
}
    
/* Border in -non default colors- config - solid themes */
@supports -moz-bool-pref("firefoxone.without-default-colors") {
    #main-menubar{
          box-shadow: inset 0 1px 0 0 var(--lwt-frame), inset 0 1px 0 0 var(--lwt-frame),inset 0 1px 0 0 var(--lwt-frame),
                      inset 0px -1px 0 0  #50505040,  /* abajo */
                      inset 0 4px var(--lwt-frame),
                      inset 0px 5px 0 0  #50505040,   /* top */
                      inset -1px 0 0 0  #50505040,    /* right */ 
                      inset 1px 0 0 0  #50505040      /* Left */
                      !important;
        }}

@media (-moz-gtk-csd-reversed-placement){
  #toolbar-menubar[autohide="true"]:not([inactive]) > .titlebar-buttonbox-container{ display: none }  
}}

/* __ Menu trick round border __*/

/* Barra de menú */

#main-menubar>menu {
    text-shadow: none !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}


#main-menubar>menu>label{
    margin-bottom: 4px !important;
}

#main-menubar>menu:is(:hover, [open]){
    background-color: transparent !important;
}

#main-menubar>menu>label{
    padding: 5px  5px 6px 5px !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
}

#main-menubar>menu:is(:hover, [open])>label{
    background-color: var(--button-active-bgcolor) !important;
    color: white !important;
}

#toolbar-menubar {
    padding-inline-start: calc(var(--padding-left-tab) + 9px) !important;
    height: -moz-available !important;
    }

#toolbar-menubar>toolbaritem>menubar>menu {
    
    background-clip: content-box !important;
    border-top: 6px solid transparent !important;
    }

:root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide="false"]+#TabsToolbar {
    padding-inline-start: 4px !important;
    }

/* ------------------------ config to MacOS ---------------------------
   ------------- partial compatibility to window Controls ----------*/

@media (-moz-platform: macos) {
    :root:not([sizemode="fullscreen"]) #tabbrowser-tabs {
        padding-inline-start: 10px !important;
    }
}
