/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* ____________________________ Selected tab gradient border on solid themes ____________________________ */

@supports -moz-bool-pref("firefoxone.selected_tab_gradient_border") {

    /* Sobreescribir lines from one_tabs-bar.css */
    #tabbrowser-tabs:is([movingtab]) .tabbrowser-tab[selected="true"] .tab-content{
        background-color: initial !important;
    }    
    :root:not([lwtheme-image],[style*="--lwt-additional-images"]) .tabbrowser-tab[selected="true"]:not([multiselected]) .tab-stack {
        box-shadow: none !important;
    }
    
    /* new color for selected tab */
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]){
        --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
    }
    
    /* Fix for container line position in selected tab */
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]) .tabbrowser-tab[selected] .tab-context-line{ 
        margin: 2px 0 0 1px !important;
        transition: 0ms !important;
    }

    :root:not([style*="--lwt-additional-images"],[lwtheme-image]) .tab-background[selected]{
        outline: none !important;
        border: 1px solid transparent !important;
        box-shadow: none !important;
        background-clip: padding-box;
        border-radius: 5px !important;
    }
    
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]) .tabbrowser-tab[selected] > .tab-stack::before{
        content: "";
        display: flex;
        min-height: inherit;
        border-radius: var(--tab-border-radius);
        grid-area: 1/1;
        margin-block: var(--tab-block-margin);
        background: repeat linear-gradient(165deg,                                       
        #d02f85ee 0%, #b336fcee 8%, #3567fdee 40%, #4e7afdee 60%,#4e89fdee 70%, #d02f85ee 100%) !important;
    }
}

/* ______________________________ Image in menus in themes than use images ______________________________ */

@supports -moz-bool-pref("firefoxone.image_in_menus") {

    @media (prefers-color-scheme: dark){
        :root:is([style*="--lwt-additional-images"],[lwtheme-image]){
            --arrowpanel-background: #101019b0 !important;
    }}

    @media (prefers-color-scheme: light){
        :root:is([style*="--lwt-additional-images"],[lwtheme-image]){
            --arrowpanel-background: #f9f9f9b0 !important;
    }}

    .menupopup-arrowscrollbox, slot, panelview {
        background-image: linear-gradient(var(--arrowpanel-background, transparent), var(--arrowpanel-background, transparent)), 
                          linear-gradient(transparent, transparent), 
                          var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
        background-size: auto 100vh !important;
        background-position: -1px -1px !important;
    }

    @media (-moz-platform: windows), (-moz-platform: linux) {
        :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[open]>.toolbarbutton-badge-stack,
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>stack::after{
            background-image: linear-gradient(var(--arrowpanel-background, transparent), var(--arrowpanel-background, transparent)), 
                              linear-gradient(transparent, transparent), 
                              var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
            background-size: auto 100vh !important;
            background-position-x: -1px !important;
            background-position-y: -8px !important;
    }}
    
    @media (-moz-platform: windows), (-moz-platform: linux) {
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>stack::after{
            background-position-x: calc(-2px - var(--my-vertical-toolbar-width) + var(--my-vertical-toolbar-width) / 4) !important;
    }}
}

/* __________________________________ Rhythm image for tab with sound __________________________________ */

@supports -moz-bool-pref("firefoxone.rhythm_sound_tab") {
    
    tab[soundplaying]:not([pinned]) .tab-background::before{
        content: "" !important; 
        display: block !important;
        position: absolute !important;
        }
    
    @media (prefers-color-scheme: dark){
        tab[soundplaying]:not([pinned]) .tab-background::before{
            background: url("../images/Beats.webp") no-repeat left center !important;
            background-size: 22px 16px !important;
            width: 22px !important;
            height: 16px !important;
            margin-inline-start: 5px !important;
            margin-block-start: calc(var(--tab-height-personal)/2 - 1px)  !important;
    }}

    @media (prefers-color-scheme: light){
        tab[soundplaying]:not([pinned]) .tab-background::before{
            background: url("../images/Beats.gif") repeat left center !important;
            background-size: 16px 16px !important;
            margin-inline-start: 6px !important;
            margin-block-start: calc(var(--tab-height-personal)/2 + 3px)  !important;
            width: 20px !important;
            height: 10px !important;
    }}
    
    /* Fix for non default colors config */
    @supports -moz-bool-pref("firefoxone.without-default-colors") {
        @media (prefers-color-scheme: dark){
            tab[soundplaying][selected]:not([pinned]) .tab-background::before{
                margin-inline-start: 4px !important;
                margin-block-start: calc(var(--tab-height-personal)/2 - 2px)  !important;
                }}
         @media (prefers-color-scheme: light){
            tab[soundplaying][selected]:not([pinned]) .tab-background::before{
                margin-inline-start: 5px !important;
                margin-block-start: calc(var(--tab-height-personal)/2 + 2px)  !important;
                }}
    }
}
