/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */


@supports -moz-bool-pref("firefoxone.tree_tabs_style") {
    
/* ##################################### Controles de ventana ##################################### */

@media (-moz-platform: windows) {

    .titlebar-button{
        background-color: transparent !important;
        padding-inline: 4px !important;
        padding-block-start: calc(var(--tab-block-margin-personal) + 6px) !important;
        background: transparent !important;
    }
    
    :root:is([inFullscreen]) .titlebar-button{
        padding-block-start: calc(var(--toolbar-height-personal) / 2 + 3px) !important;
    }
    
    .titlebar-button.titlebar-close{
        padding-inline-end: 8px !important;
    }
    
    .titlebar-button.titlebar-min .toolbarbutton-icon,
    .titlebar-button.titlebar-restore .toolbarbutton-icon, .titlebar-button.titlebar-max .toolbarbutton-icon,
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        width: 30px !important;
        height: calc(var(--toolbar-height-personal) - 6px) !important;
        border-radius: 5px !important;
    }
    
    .titlebar-button:hover .toolbarbutton-icon{
        background-color:  var(--toolbarbutton-hover-personal) !important;
    }
    
    /* Min button */
    
    .titlebar-button.titlebar-min .toolbarbutton-icon{
        padding-block: calc(var(--toolbar-height-personal) / 2 - 10px) 6px !important;
        padding-inline: 9px !important;
    }
    
    /* maximizar-restore-close buttons */
    
    .titlebar-button.titlebar-restore .toolbarbutton-icon, 
    .titlebar-button.titlebar-max .toolbarbutton-icon,
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        padding-block: calc(var(--toolbar-height-personal) / 2 - 9px) !important;
        padding-inline: 9px !important;
    }
  }

/*###################################### Mantener Window Controls quitando las pestañas ###########################
############################################## Codigo sin editar de MrOtherGuy ####################################*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Creates placeholders for window controls */
/* This is a supporting file used by other stylesheets */

/* This stylesheet is pretty much unnecessary if window titlebar is enabled */

/* This file should preferably be imported before other stylesheets */

/* Defaults for window controls on RIGHT side of the window */
/* Modify these values to match your preferences */
:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  --uc-window-control-width: 138px; /* Space reserved for window controls (Win10) */
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-window-drag-space-pre: 0px; /* left side*/
  --uc-window-drag-space-post: 0px; /* right side*/
}

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-pre: 0px; /* Remove pre space */
}

@media  (-moz-platform: windows){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 105px;
  }
}

@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 84px;
  }
}

/* macOS settings are further below */
.titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
:root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
:root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
  position: absolute;
  display: flex;
  top: 0;
  right:0;
  height: 40px;
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }

#nav-bar{
  border-inline: var(--uc-window-drag-space-pre,0px) solid var(--toolbar-bgcolor);
  border-inline-style: solid !important;
  border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px));
}

/* Use this pref to check Mac OS where window controls are on left */
/* This pref defaults to true on Mac and doesn't actually do anything on other platforms. So if your system has window controls on LEFT side you can set the pref to true */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 72px;
  }
  :root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset }
}

/*########################################## OCULTAR TABS-BAR ##############################################
####################################Codigo sin editar de MrOtherGuy ########################################*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hides tabs toolbar */
/* For OSX use hide_tabs_toolbar_osx.css instead */

/* Note, if you have either native titlebar or menubar enabled, then you don't really need this style.
 * In those cases you can just use: #TabsToolbar{ visibility: collapse !important }
 */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

:root[tabsintitlebar]{ --uc-toolbar-height: calc(var(--toolbar-height-personal) + 4px); }
:root[tabsintitlebar][uidensity="compact"]{ --uc-toolbar-height: 32px }

#TabsToolbar{ visibility: collapse !important }

:root[sizemode="fullscreen"] #TabsToolbar > :is(#window-controls,.titlebar-buttonbox-container){
  visibility: visible !important;
  z-index: 2;
}

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height,0px));
}

    /* ____ Menu-bar ____ */
    
:root[tabsintitlebar] #toolbar-menubar[autohide="true"]{
  min-height: unset !important;
  height: var(--uc-toolbar-height,0px) !important;
  position: relative;
}

#toolbar-menubar[autohide="false"]{
  margin-bottom: var(--uc-toolbar-height,0px)
}
    
#main-menubar{
  height: calc(var(--toolbar-height-personal) +  4px);
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--arrowpanel-color);
  border-radius: 8px 0px 0px 8px !important;
  box-shadow: inset 0 4px var(--lwt-frame) !important;
}
    
#main-menubar{
    height: calc(var(--tab-min-height) +  1 * var(--tab-block-margin,0px) + 6px);
    background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                      linear-gradient(transparent, transparent), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: right top, right top, right center, left center, center top !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: auto !important; 
    color: var(--arrowpanel-color);
    box-shadow: inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame) !important;
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[autohide="true"][inactive] > #menubar-items {
  opacity: 0;
  pointer-events: none;
  margin-left: var(--uc-window-drag-space-pre,0px)
}
    
#toolbar-menubar[autohide="true"] #menubar-items::after{
    display: none;
}
    
/* Border in -non default colors- config - solid themes */
@supports -moz-bool-pref("firefoxone.without-default-colors") {
    #main-menubar{
          box-shadow: inset 0 1px 0 0 var(--lwt-frame), inset 0 1px 0 0 var(--lwt-frame),inset 0 1px 0 0 var(--lwt-frame),
                      inset 0px -1px 0 0  #50505040,  /* abajo */
                      inset 0 4px var(--lwt-frame),
                      inset 0px 5px 0 0  #50505040,   /* top */
                      inset -1px 0 0 0  #50505040,    /* right */ 
                      inset 1px 0 0 0  #50505040      /* Left */
                      !important;
        }}
    
/* ##################################################### My Code ######################################################
###################################### Adicional <sobre-escribir> Codigo de Arriba ####################################*/

#nav-bar{
    border-width: 0px !important;
    padding-inline-end: calc(var(--uc-window-control-width) + 14px ) !important;
}
    
/* Margen para simular el borde */
    
#nav-bar:not([inFullscreen]){
    margin-top: calc(4px - var(--uc-toolbar-height, 0px)) !important;
}
    
:root:is([inFullscreen]) #navigator-toolbox{
    padding-top: 4px !important;
}
    
/* Posición y Espacio para el botón menú en Fullscreen */
    
:root:not([chromehidden~="toolbar"])[inFullscreen] #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child,
:root:not([chromehidden~="toolbar"])[inFullscreen] toolbar[customizing] .customization-target{
    margin-inline-start: calc(var(--my-vertical-toolbar-width) - var(--tab-block-margin)) !important;
}
    
:root:not([chromehidden~="toolbar"])[inFullscreen] #PanelUI-button { left: 0px !important; }
:root:not([chromehidden~="toolbar"])[inFullscreen] #PanelUI-menu-button { min-height: calc(var(--toolbar-height-personal) + var(--tab-block-margin)) !important; }

/* Espacio de arrastre en ventana normal */
    
:root:not([inFullscreen])[sizemode="normal"] #nav-bar{
    padding-inline: 40px calc(var(--uc-window-control-width) + 50px ) !important;
}
    
/* Separador entre los controles de ventana y los íconos de la toolbar */
    
#nav-bar-overflow-button:after,
:root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #nav-bar:not([nonemptyoverflow]) #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):last-child:after{
    background: url("../images/urlbar-separator.svg") no-repeat center !important; 
    content: ""; display: block !important;
    background-size: 6px 16px !important;
    height: 16px;
    -moz-context-properties: fill !important;
    padding-inline: 8px 4px !important;
    margin-left: 2px !important;
    opacity: 0.2;
}
    
/* Compatibilidad para - window controls on left - en linux */
    
@media (-moz-gtk-csd-reversed-placement){
    :root:not([sizemode="fullscreen"]) #nav-bar{
        border-width: 0px !important;
        padding-inline-end: 0px !important;
        padding-inline-start: calc(var(--uc-window-control-width) + 14px ) !important;
    }
    
    :root:not([inFullscreen])[sizemode="normal"] #nav-bar{
        padding-inline: calc(var(--uc-window-control-width) + 54px ) calc(var(--uc-window-control-width) + 0px ) !important;
    }
    
    :root:not([sizemode="fullscreen"]) #nav-bar-overflow-button:after,
    :root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #nav-bar:not([nonemptyoverflow]) #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):last-child:after{
        content: none;
    }
}
  
/* ################################## Código para la extensión "Tab-Center-Reborn" ################################ 
   #####################################________________________________________################################### */

:root {
    /* delay before expanding tabs, set to '0' for no delay */
    --delay: 0.5s;
    --transition-time: 0.2s;
    --positionX1: 48px; /* '48px' for left, '0px' for right sidebar */
    --positionX2: absolute; /* 'absolute' for left, 'none' for right sidebar */
    /* width of the collapsed sidebar in fullscreen mode ('1px' or '48px') */
    --fullscreen-sidebar-width: 1px;
}
/* General styles */
#browser {
    position: relative;
}
#sidebar-box:not([lwt-sidebar]){
    appearance: unset !important;
}
#sidebar-box[sidebarcommand*="tabcenter"] {
    z-index: 1;
    --prueba-variable: green;
}
#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header {
    visibility: collapse;
    display: none;
}
[sidebarcommand*="tabcenter"] #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"] {
    min-width: 48px !important;
    max-width: 48px !important;
    width: 48px;
}
#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    display: block;
    position: var(--positionX2);
    min-width: 48px;
    max-width: 48px;
    overflow: hidden;
    z-index: 1;
    top: 0;
    bottom: 0;
    outline: 1px solid color-mix(in srgb, var(--toolbar-bgcolor) 96%, var(--lwt-tab-text)) !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}
    
#sidebar-box[sidebarcommand*="tabcenter"][positionend="true"]:not([hidden]) {
    display: block;
    position: var(--positionX2);
    min-width: 48px;
    max-width: 48px;
    overflow: hidden;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 1px solid color-mix(in srgb, var(--toolbar-bgcolor) 96%, var(--lwt-tab-text)) !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

/* use :where() selector to lower specificity */
:where(#main-window[inFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    min-width: var(--fullscreen-sidebar-width) !important;
    max-width: var(--fullscreen-sidebar-width) !important;
    margin-left: 0px !important;
}
#sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:hover {
    min-width: 10vw !important;
    width: 30vw !important;
    max-width: 200px !important;
    z-index: 1 !important;
    transition: all var(--transition-time) ease var(--delay);
}
/* used for delay function */
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) {
    transition: all var(--transition-time) ease 0s;
}

@media (width >= 1200px) {
    #sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
    #sidebar-box[sidebarcommand*="tabcenter"]:hover {
        max-width: 250px !important;
    }
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    display: none;
}

[sidebarcommand*="tabcenter"] #sidebar {
    max-height: 100%;
    height: 100%;
}

#main-window:not([inFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent {
    margin-left: calc(var(--positionX1) + 10px);
}
    
#main-window:not([inFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"][positionend="true"]:not([hidden]) ~ #appcontent {
    margin-left: 0px;
    margin-right: 59px;
}

#main-window[inFullscreen]:not([inDOMFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent {
    margin-left: var(--fullscreen-sidebar-width);
}

#main-window[inFullscreen] #sidebar {
    height: 100vh;
}

[sidebarcommand*="tabcenter"] #sidebar-header {
    background: #0C0C0D;
    border-bottom: none !important;
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    border-right-color: #0C0C0D !important;
    border-left-color: #0C0C0D !important;
}

[sidebarcommand*="tabcenter"] #sidebar-switcher-target,
[sidebarcommand*="tabcenter"] #sidebar-close {
    filter: invert(100%);
    }

/* Tree-tabs without left-sidebar */

@supports -moz-bool-pref("firefoxone.style_without_leftsidebar") {

    :root:not([chromehidden~="toolbar"]) #PanelUI-button, 
    :root:not([chromehidden~="toolbar"])[inFullscreen] #PanelUI-button { left: 7px !important; }

    :root:not([chromehidden~="toolbar"])[sizemode="maximized"] #PanelUI-menu-button[open] { margin-inline-start: -3px !important; }

    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button,
    :root:not([chromehidden~="toolbar"])[inFullscreen] #PanelUI-menu-button { min-height: calc(var(--toolbar-height-personal) + var(--tab-block-margin) ) !important; }
    
    /*:root:is([inFullscreen]) #PanelUI-menu-button { min-height: calc(var(--toolbar-height-personal) + 0px ) !important; }*/

    :root:not([chromehidden~="toolbar"]) #PersonalToolbar { margin-top: initial !important; }

    :root:not([chromehidden~="toolbar"]) #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child,
    :root:not([chromehidden~="toolbar"])[inFullscreen] #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child,
    :root:not([chromehidden~="toolbar"]) toolbar[customizing] .customization-target,
    :root:not([chromehidden~="toolbar"])[inFullscreen] toolbar[customizing] .customization-target{
        margin-inline-start: calc(var(--padding-left-tab) + 4px) !important; }
    
    /* margen izquierda menu-bar*/
    
    :root:not([chromehidden~="toolbar"]) #toolbar-menubar {
        padding-inline-start: calc(var(--padding-left-tab) + 14px) !important;
    }
    
    /* sin borde redondeado la menu-bar*/
    #main-menubar{
        border-radius: 0px !important;
    }
  }
}
