/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

@media (-moz-bool-pref:"firefoxone.tree_tabs_style") {
    
/* _________________________________________________________________ OCULTAR TABS-BAR _________________________________________________________________
   ____________________________ https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar_v2.css ____________________________  */

    /* This requires Firefox 133+ to work */

    @media (-moz-bool-pref: "sidebar.verticalTabs"){
        #sidebar-main{
            visibility: collapse;
        }
    }
    @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"){
        #nav-bar > .titlebar-buttonbox-container{
            order: -1 !important;
            > .titlebar-buttonbox{
                flex-direction: row-reverse;
            }
        }
    }
    @media not (-moz-bool-pref: "sidebar.verticalTabs"){
        #TabsToolbar{
            visibility: collapse;
        }
        :root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container{
            display: flex !important;
        }
        :root[tabsintitlebar] #toolbar-menubar:not([autohide="false"]) ~ #nav-bar{
            > .titlebar-buttonbox-container{
                display: flex !important;
            }
            :root[sizemode="normal"] & {
                > .titlebar-spacer{
                    display: flex !important;
                }
            }
            :root[sizemode="maximized"] & {
                /*> .titlebar-spacer[type="post-tabs"]{
                    display: flex !important;
                }/**/
                @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
                    (-moz-gtk-csd-reversed-placement),
                    (-moz-platform: macos){
                        > .titlebar-spacer[type="post-tabs"]{
                            display: none !important;
                        }
                        > .titlebar-spacer[type="pre-tabs"]{
                            display: none !important;
                        }
                }
            }
        }
    }
    
/* _____________________________________________ Window controls _____________________________________________ */

    :root:has(#toolbar-menubar[autohide="true"]) {
        & .titlebar-buttonbox-container {
            max-height: calc(var(--toolbar-height-personal) + 8px) !important;
            min-height: calc(var(--toolbar-height-personal) + 8px) !important;
        }
        
        & .titlebar-close{
            padding-inline-end: 20px !important;
        }
        
        & #main-menubar{
            min-height: calc(var(--toolbar-height-personal) + 4px) !important;
            color: var(--arrowpanel-color);
            border-radius: 8px 0 0 8px !important;
            box-shadow: inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame)!important;
            outline: none !important;
        }

        & #nav-bar {
            height: calc(var(--toolbar-height-personal) + 4px) !important;
        }
        
        & #nav-bar {
            margin-inline-end: 0px !important;
            border-radius: 8px 12px 8px 8px !important;/**/
            box-shadow: 
                inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame), inset 0 4px var(--lwt-frame),
                inset -1px 0 0 0 var(--lwt-frame), inset -1px 0 0 0 var(--lwt-frame),inset -1px 0 0 0 var(--lwt-frame),
                inset -4px 0 var(--lwt-frame) !important;
        }
        
        &:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) #nav-bar {
            outline: none !important;
            box-shadow: inset 0 1px 0 0 var(--lwt-frame), inset 0 1px 0 0 var(--lwt-frame),inset 0 1px 0 0 var(--lwt-frame),
                inset 0px -1px 0 0  var(--general-border-color),  /* abajo */
                inset 0 4px 0 0 var(--lwt-frame),
                inset 0px 5px 0 0  var(--general-border-color),   /* top */
                inset -1px 0 0 0 var(--lwt-frame), inset -1px 0 0 0 var(--lwt-frame),inset -1px 0 0 0 var(--lwt-frame),
                inset -4px 0 0 0 var(--lwt-frame),                /* right */ 
                inset -5px 0 0 0  var(--general-border-color),    
                inset 1px 0 0 0  var(--general-border-color)      /* Left */
                !important;
        }

        /* Alinear items de la nav-bar + trick para clic desde el borde superior */

        & #nav-bar-customization-target toolbarbutton,
        & #nav-bar > #nav-bar-overflow-button{
            margin-top: -6px !important;
            padding-top: 10px !important;
        }
    }
/* ___________________________________________ Menubar ___________________________________________ */
    
    /* Añado borde a la barra de menú en temas con imágenes */
    
    :root:is([style*="--lwt-additional-images"],[lwtheme-image]) #main-menubar{
        box-shadow: inset 0 1px 0 0 var(--lwt-frame), inset 0 1px 0 0 var(--lwt-frame),inset 0 1px 0 0 var(--lwt-frame),            
            inset 0 4px var(--lwt-frame),
            inset 0px 5px 0 0  var(--general-border-color),   /* Top */
            inset -1px 0 0 0  var(--general-border-color),    /* right */ 
            inset 1px 0 0 0  var(--general-border-color)      /* Left */
            !important;
    }
    
    /* Bug fix: Trick to hide urlbar when menu appears */
    
    #urlbar{
        display: none !important;
    }

    :root:has(#toolbar-menubar[autohide="true"][inactive="true"]){
        & #urlbar{
            display: initial !important;
        }
    }
    
    #toolbar-menubar[autohide="true"]  #main-menubar>menu{
        padding-block-start: 4px !important;
    }

    /* ____________________ Border styles when not using default colors */

    @media (-moz-bool-pref:"firefoxone.without-default-colors") {
        
        /* Menubar */
        &:root:has(#toolbar-menubar[autohide="true"]) #main-menubar {
            box-shadow: inset 0 1px 0 0 var(--lwt-frame), inset 0 1px 0 0 var(--lwt-frame),inset 0 1px 0 0 var(--lwt-frame),
                inset 0px -1px 0 0  var(--general-border-color),  /* abajo */
                inset 0 4px var(--lwt-frame),
                inset 0px 5px 0 0  var(--general-border-color),   /* top */
                inset -1px 0 0 0  var(--general-border-color),    /* Right */
                inset 1px 0 0 0  var(--general-border-color)      /* Left */
                !important;
        }

        /* Navbar */
        &:root:has(#toolbar-menubar[autohide="true"]) {
            & #nav-bar {
                outline: none !important;
                box-shadow: inset 0 1px 0 0 var(--lwt-frame), inset 0 1px 0 0 var(--lwt-frame),inset 0 1px 0 0 var(--lwt-frame),
                    inset 0px -1px 0 0  var(--general-border-color),  /* abajo */
                    inset 0 4px 0 0 var(--lwt-frame),
                    inset 0 5px 0 0  var(--general-border-color),   /* top */
                    inset -1px 0 0 0 var(--lwt-frame), inset -1px 0 0 0 var(--lwt-frame), inset -1px 0 0 0 var(--lwt-frame),
                    inset -4px 0 0 0 var(--lwt-frame),                /* right */ 
                    inset -5px 0 0 0  var(--general-border-color),    
                    inset 1px 0 0 0  var(--general-border-color)      /* Left */
                    !important;
            }
            /* Remove unwanted border on navbar right side 
            & #nav-bar:has(#urlbar:not([open])){
                    clip-path: xywh(-164px 0 calc(100% + 164px) 100% round  0 0 11px 0);
            }*/
        }
    }
    
/* ____________________ various styles ____________________ */

    /* Urlbar  vertical centered */

    #urlbar { margin-top: 4px !important; }

    /* _______ Make border top of url dragable */

    #urlbar-container {
        margin-block: 1px 1px !important;
    }

    #urlbar-container[breakout] {
        --urlbar-container-height: calc(var(--toolbar-height-personal) - 2px) !important;
    }
    
    /* Posición y Espacio para el botón menú en Fullscreen */

    :root:not([chromehidden~="toolbar"])[sizemode="fullscreen"] #nav-bar {
        padding-inline-start: calc(var(--my-vertical-toolbar-width) - var(--tab-block-margin)) !important;
    }

    /*:root:not([chromehidden~="toolbar"])[sizemode="fullscreen"] #PanelUI-button { left: 0px !important; }/**/
    :root:not([chromehidden~="toolbar"])[sizemode="fullscreen"] #PanelUI-menu-button { min-height: calc(var(--toolbar-height-personal) + var(--tab-block-margin) + 2px) !important; }

    /* Separador ultimo icono de la nav-bar + window controls */

    :root:has(#toolbar-menubar[autohide="true"]):not([sizemode="normal"]) .titlebar-buttonbox-container:before{
        background: url("../icons/urlbar-separator.svg") no-repeat center !important;
        content: ""; display: block !important;
        background-size: 16px 16px !important;
        width: 22px !important;
        margin-left: -2px !important;
        height: calc(var(--toolbar-height-personal) + 8px);
        -moz-context-properties: fill !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        opacity: 0.2;
    }

/* ________________________________ Compatibilidad para - window controls on linux ________________________________ */
    
/* Espacio y Separador Window controls on right*/
    
@media (-moz-gtk-csd-available) {
    
    :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
        --uc-window-control-width: 100px !important;
    }
    
    :root:not([sizemode="normal"]) .titlebar-buttonbox:before{
        width: 44px !important;
    }
}
    
/* Compatibilidad para - window controls on left - en linux */
  
@media (-moz-gtk-csd-reversed-placement){
    
    :root:has(#toolbar-menubar[autohide="true"]) {
        
        & .titlebar-close{
            padding-inline-end: 0px !important;
        }
    }
    
    /* Separador ultimo icono de la nav-bar + window controls */
    
    :root:has(#toolbar-menubar[autohide="true"]):not([sizemode="normal"]) .titlebar-buttonbox-container:before{
        display: none !important;
    }

    :root:has(#toolbar-menubar[autohide="true"]):not([sizemode="normal"]) .titlebar-buttonbox-container:after{
        background: url("../icons/urlbar-separator.svg") no-repeat center !important;
        content: ""; display: block !important;
        background-size: 16px 16px !important;
        width: 22px !important;
        margin-inline-start: 12px !important;
        height: calc(var(--toolbar-height-personal) + 8px);
        -moz-context-properties: fill !important;
        fill: var(--toolbarbutton-icon-fill) !important;
        opacity: 0.2;
    }
}
  
/* ################################## Código para la extensión "Tab-Center-Reborn" ################################ 
   #####################################________________________________________################################### */
    
    /* Hide the sidebar header when using vertical tab extensions */

    #sidebar-box:is(
    [sidebarcommand*="tabcenter"],
    [sidebarcommand*="treestyletab"],
    [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) #sidebar-header {
        visibility: collapse;
        display: none;
    }
    
    #sidebar {
        clip-path: xywh(0 0 100% 100% round 9px);
    }
    
    /* overwrite: Style sidebar in fullscreen */
    
    :root:not([sizemode="fullscreen"]) #sidebar-box[sidebarcommand*="tabcenter"]:not([positionend="true"]) {
        outline: none !important;
        margin-inline: 0px !important;
        border-radius: 9px !important;
        clip-path: none !important;
    }
    
    :root:is([sizemode="fullscreen"]) #sidebar-box[sidebarcommand*="tabcenter"] {
        outline: none !important;
    }
    
    /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css */

    #sidebar-box:is(
    [sidebarcommand*="tabcenter"]){
        --uc-sidebar-width: 58px;
        --uc-sidebar-hover-width: 250px;
        --uc-autohide-sidebar-delay: 0ms; /* Wait 0.6s before hiding sidebar */
        --uc-autohide-transition-duration: 115ms;
        --uc-autohide-transition-type: linear;
        --browser-area-z-index-sidebar: 3;
        position: relative;
        min-width: var(--uc-sidebar-width) !important;
        width: var(--uc-sidebar-width) !important;
        max-width: var(--uc-sidebar-width) !important;
        z-index: var(--browser-area-z-index-sidebar,3);
    }
    #sidebar-box[positionend]{ direction: rtl }
    #sidebar-box[positionend] > *{ direction: ltr }

    #sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
    #sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

    #main-window[sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 1px; }

    :root:has(#sidebar-box:is(
    [sidebarcommand*="tabcenter"])) #sidebar-splitter{ display: none }

    #sidebar-header{
        overflow: hidden;
        color: var(--chrome-color, inherit) !important;
        padding-inline: 0 !important;
    }

    #sidebar-header::before,
    #sidebar-header::after{
        content: "";
        display: flex;
        padding-left: 8px;
    }

    #sidebar-header,
    #sidebar{
        transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
        min-width: var(--uc-sidebar-width) !important;
        will-change: min-width;
    }
    #sidebar-box:hover > #sidebar-header,
    #sidebar-box:hover > #sidebar{
        z-index: 10000 !important;
        min-width: var(--uc-sidebar-hover-width) !important;
        transition-delay: 0ms !important;
    }

    .sidebar-panel{
        background-color: transparent !important;
        color: var(--newtab-text-primary-color) !important;
    }

    .sidebar-panel #search-box{
        -moz-appearance: none !important;
        background-color: rgba(249,249,250,0.1) !important; 
        color: inherit !important;
    }

    /* Add sidebar divider and give it background */

    #sidebar,
    #sidebar-header{
        background-color: inherit !important;
        border-inline: 0px solid rgb(80,80,80);
        border-inline-width: 0px 0px;
    }

    #sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
    #sidebar-box[positionend] > *{
        border-inline-width: 0px 0px;
    }

    /* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

    #sidebar-box:not([positionend]):hover ~ #tabbrowser-tabbox #statuspanel{
        inset-inline: auto 0px !important;
    }
    #sidebar-box:not([positionend]):hover ~ #tabbrowser-tabbox #statuspanel-label{
        margin-inline: 0px !important;
        border-left-style: solid !important; 
    }

/* _________________________________________________ Tree-tabs without left-sidebar _________________________________________________ */

    @media (-moz-bool-pref:"firefoxone.style_without_leftsidebar") {

        @media (-moz-platform: windows), (-moz-platform: linux) {

            :root:not([invisibleBMS]) {
                --margin-left-icons-personal: 7px !important;                       /* Nuevo margen-left del ícono -menu- */
                --margin-right-icons-personal: 10px !important;                     /* Nuevo margen-left del ícono -menu- */
                --padding-left-tab: 44px !important;                                /* Nuevo tamaño botón -Menu- */
            }

            /* Tamaño */

            :root:not([chromehidden~="toolbar"],[invisibleBMS]) #PanelUI-menu-button:not([open]) {
                width: calc(var(--padding-left-tab) + 4px) !important;
            }

            /* Alinea menú button en [fullscreen] */

            :root:not([chromehidden~="toolbar"])[sizemode="fullscreen"] #PanelUI-menu-button {
                min-height: calc(var(--toolbar-height-personal) + var(--tab-block-margin) + 4px) !important;
            }

            /* Menubar border radius */

            :root:has(#toolbar-menubar[autohide="true"]) {
                & #main-menubar{
                    border-radius: 0px !important;
                }
            }

            @media (-moz-platform: windows){

                /* Alinear botón en ventana maximizada - 'ventana normal y fullscreen' */

                :root:not([chromehidden~="toolbar"],[invisibleBMS])[sizemode="maximized"] #PanelUI-menu-button[open] .toolbarbutton-badge-stack {
                    padding-inline-start: calc(var(--margin-left-icons-personal) + 3px) !important;
                }

                :root:not([chromehidden~="toolbar"],[invisibleBMS]):is([sizemode="normal"],[sizemode="fullscreen"]) #PanelUI-menu-button[open] .toolbarbutton-badge-stack {
                    margin-inline-start: calc(var(--margin-left-icons-personal) - 3px) !important;
                }


                /* menu [open ] -sobreescribo-  Sirve para alinear al cambiar the height de pestañas 
                Mismo número que la variable de abajo: --button-height-personal */

                :root:not([chromehidden~="toolbar"],[sizemode="normal"],[sizemode="fullscreen"],[invisibleBMS]) 
                #PanelUI-menu-button[open]>.toolbarbutton-badge-stack {
                    min-height: 30px !important; 
                    max-height: 30px !important;
                }

                /* Padding top para hacer espacio para la fila del Label menú */

                :root:not([chromehidden~="toolbar"],[invisibleBMS])[sizemode="maximized"] #appMenu-popup>panelmultiview>box>box>panelview {
                    padding-top: 32px !important;
                }

                /* Margin top para subir el menú [open] */

                :root:not([chromehidden~="toolbar"],[invisibleBMS])[sizemode="maximized"] #appMenu-popup {
                    --menu-plus-label-width: 88px !important;
                    --button-height-personal: 32px !important;
                    margin-top: calc(-5px - var(--button-height-personal)) !important;
                    clip-path: polygon(0% 0%, 0% 100%, 1% 53%, 0 10px, var(--menu-plus-label-width) 10px,
                        var(--menu-plus-label-width) var(--button-height-personal), 0 var(--button-height-personal), 0 100%, 100% 100%, 100% 0%);
                }
            }

            /* Posición margin-top */

            :root:has(#toolbar-menubar[autohide="true"]):not([chromehidden~="toolbar"],[sizemode="fullscreen"],[invisibleBMS]) #PanelUI-menu-button>.toolbarbutton-badge-stack {
                margin-block-start: 8px !important;
            }

            :root:not([chromehidden~="toolbar"],[invisibleBMS])[sizemode="fullscreen"] #PanelUI-menu-button>.toolbarbutton-badge-stack {
                margin-block-start: 0px !important;
            }

            @media (-moz-platform: linux){

                /* Alinear botón en ventana maximizada, ventana normal y fullscreen */

                :root:not([chromehidden~="toolbar"],[invisibleBMS]) #PanelUI-menu-button{
                    width: calc(var(--padding-left-tab) + 4px) !important;
                }
            }
            /* Margen back-button de la toolbar */

            :root:not([chromehidden~="toolbar"]):has(#toolbar-menubar[autohide="true"]) #nav-bar {
                padding-inline-start: var(--padding-left-tab) !important; }

            /* margen izquierda menu-bar*/

            :root:not([chromehidden~="toolbar"]) #toolbar-menubar {
                padding-inline-start: var(--padding-left-tab) !important;
            }

            /* sin borde redondeado la menu-bar*/
            #main-menubar{
                border-radius: 0px !important;
            }
        }
    }
}
