/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* Remove unwanted extra tab width */

#tabbrowser-arrowscrollbox[orient="horizontal"] {

    &>tab-group {
        &:not([collapsed]) > .tabbrowser-tab {
            &:is([muted], [soundplaying], [activemedia-blocked]) {
                #tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
                    min-width: max(var(--tab-min-width-pref, var(--tab-min-width))) !important;
                }
            }
        }
    }
    
    &>.tabbrowser-tab {
        &:is([muted], [soundplaying], [activemedia-blocked]) {
            #tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
                min-width: max(var(--tab-min-width-pref, var(--tab-min-width))) !important;
            }
        }
    }
}

/* 'muted' & 'activemedia-blocked' icons hidden */

.tabbrowser-tab:not(:hover) {
    .tab-icon-overlay:not([soundplaying]),      /* For pinned tabs */
    .tab-audio-button:not([soundplaying]) {     /* For Unpinned tabs */
        opacity: 0;
    }
}

/* Fixed glich when clic mute button */

.tabbrowser-tab {
    --tab-icon-end-margin: 5px !important;

    &:is([muted], [soundplaying], [activemedia-blocked]) {
        --tab-icon-end-margin: 2.5px !important;
    }
}

/* Hide sound button when tab is pending or loading */

.tabbrowser-tab:is([pending],[busy]):hover :is(.tab-audio-button, .tab-icon-overlay) {
    opacity: 0 !important;
    pointer-events: none !important;
}

/* General style for sound button */

.button-background {
    position: var(--my-position) !important;
    top: var(--my-top) !important;
    inset-inline-start: var(--my-inset-inline-start) !important;
    background-image: var(--my-background-image) !important;
    background-size: var(--my-background-size) !important;
    box-shadow: var(--my-box-shadow) !important;
    opacity: var(--my-opacity) !important;
    fill: var(--my-fill) !important;
    outline: var(--my-outline) !important;
    outline-offset: var(--my-outline-offset) !important;
    align-items: var(--my-align-items, center) !important;
}

/* Favicon trimmed on tab 'hover' when it is 'muted' or 'media blocked' */
.tabbrowser-tab:not([pending]):hover {
    & .tab-icon-stack:not([crashed]):is([muted],[activemedia-blocked]) {
        & :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
            mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
        }
    }
}

/*  Favicon trimmed in 'pinned' tabs when sound playing */
.tab-icon-stack[pinned]:not([crashed]):is([soundplaying]) {
    & :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
        mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
    }
}

.tab-audio-button:is([soundplaying],[muted],[activemedia-blocked]) {
    --button-size-icon-small: 16px !important;
    --button-min-height-small: var(--button-size-icon-small) !important;
    --button-border-radius: 50% !important;
    --my-align-items: end !important;
    height: var(--button-min-height-small) !important;
}

/* Normal tabs - Playing icon */

.tab-audio-button[soundplaying] {
    --my-background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important;
    /*--button-background-color-ghost: color-mix(in srgb, var(--contrast-color), transparent) !important;/**/
    --button-background-color-ghost-hover: var(--lwt-tab-text) !important;
    --button-background-color-ghost-active: color-mix(in srgb, var(--contrast-color), transparent) !important;
    --button-border-radius: 3px !important;
    /*--my-background-size: 10px !important;/**/
    --my-outline: none !important;
    --my-outline-offset: -2px !important;
    --my-box-shadow: none !important;
    --my-fill: var(--lwt-tab-text) !important;

    &:hover {
        /*--my-outline: 1px solid var(--lwt-tab-text) !important;/**/
        --my-fill: var(--contrast-color) !important;
    }
}

/* Normal tabs - Muted icon */

.tab-audio-button:is([muted],[activemedia-blocked]) {
    --my-position: absolute !important;
    --my-top: calc(var(--tab-height-personal)/2 - 14px) !important;
    --my-inset-inline-start: 14px !important;
    --my-background-image: url("../icons/paused.svg") !important;
    --button-background-color-ghost-hover: transparent !important;
    --button-background-color-ghost-active: transparent !important;
    --button-border-radius: 50% !important;
    --my-background-size: 8px !important;
    --my-outline: 1px solid var(--lwt-tab-text) !important;
    --my-outline-offset: -3px !important;
    --my-box-shadow: inset 0 0 0 1px var(--contrast-color) !important;
    --my-fill: var(--lwt-tab-text) !important;
    --my-opacity: 0.8 !important;

    &:hover {
        --my-background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
        --my-fill: var(--lwt-tab-text) !important;
        --my-opacity: 1 !important;
    }
}

.tab-audio-button:is([activemedia-blocked]) {
    --my-background-image: url("../icons/blocked.svg") !important;
}

/* Pinned tabs */

.tab-icon-overlay {
    #tabbrowser-tabs[orient="vertical"]:not([expanded]) &:not([crashed]), &[pinned]:not([crashed]) {

        &:is([soundplaying], [muted], [activemedia-blocked]) {
            background-color: color-mix(in srgb, var(--contrast-color), transparent) !important;
            background-image: none !important;
        }

        &[soundplaying] {
            height: 12px !important;
            width: 12px !important;
            list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
            outline: 1px solid var(--general-color) !important;
            outline-offset: -1px !important;
            box-shadow: inset 0 0 0 1px var(--general-color) !important;
            fill: var(--general-color)  !important;
            inset-inline-end: -8px !important;
            top: -4px !important;

            &:hover {
                outline: 1px solid var(--lwt-tab-text) !important;
                fill: var(--lwt-tab-text) !important;
            }
        }

        &:is([muted],[activemedia-blocked]) {
            list-style-image: url("../icons/paused.svg") !important;
            background-color: transparent !important;
            padding: 4px !important;
            top: -6px !important;
            inset-inline-end: -6px !important;
            outline: 1px solid var(--lwt-tab-text) !important;
            outline-offset: -3px !important;

            &:hover {
                fill: var(--lwt-tab-text) !important;
                list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
            }
        }

        &:is([activemedia-blocked]) {
            list-style-image: url("../icons/blocked.svg") !important;
        }
    }
}

/* _______________ Sound icon for Vertical tabs _______________ */

@media -moz-pref("sidebar.verticalTabs") {

    .tab-audio-button:is([soundplaying],[muted],[activemedia-blocked]) {
        --button-size-icon-small: 14px !important;
        --button-min-height-small: var(--button-size-icon-small) !important;
        --my-position: absolute !important;
        --my-top: calc(var(--tab-height-personal)/2 - 13px) !important;
        --my-inset-inline-start: 25px !important;
        --my-background-size: 8px !important;
        --my-outline-offset: -2px !important;
    }

    .tab-audio-button[soundplaying] {
        --my-background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg") !important;
        --button-background-color-ghost: color-mix(in srgb, var(--contrast-color), transparent) !important;
        --button-background-color-ghost-hover: color-mix(in srgb, var(--contrast-color), transparent) !important;
        --button-background-color-ghost-active: color-mix(in srgb, var(--contrast-color), transparent) !important;
        --button-border-radius: 50% !important;
        --my-outline: 1px solid var(--general-color) !important;
        --my-box-shadow: inset 0 0 0 1px var(--general-color) !important;
        --my-fill: var(--general-color)  !important;

        &:hover {
            --general-color: var(--lwt-tab-text) !important;
            --my-fill: var(--lwt-tab-text) !important;
        }
    }

    /* Hide favicon corner for 'playing' button */

    & .tabbrowser-tab .tab-icon-stack:not([crashed]):is([soundplaying]) :is(.tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay) {
        mask-image: url("../icons/tab_icon_masks.svg#SoundMask") !important;
    }
}