/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* Menú contextual */

menupopup {
    --panel-padding: 4px 0px !important;
}

menupopup > menuitem, menupopup > menu {
    appearance: none !important;
    padding-block: 0.4em !important;
    border-radius: 0px !important;
}

/* Combo-box - Select Box more compact */

#ContentSelectDropdown > menupopup > menuitem {
    padding: 0 6px !important;
}

/* separador de items */

menuseparator {
    padding-inline-end: 0 !important;
    padding-inline-start: 12px !important;
}

@media (-moz-platform: linux) {
    menuseparator::before {
    appearance: none !important;
    margin-inline: 6px !important;
    }
}

/* Bug fix: Separator after 'AI menu' causes unwanted scrolling */

:root:not(:has(#context-ask-chat[hidden="true"])) #frame-sep {
    display: flex !important;
}

/* Márgenes menú y menú desplegable del menú */

menupopup:not(#PlacesToolbar) menupopup {
    appearance: none !important;
    margin-block-start: -6px !important;
    margin-inline-start: -10px !important;
}

#permission-popup menupopup {
    appearance: none !important;
    margin-block-start: -3px !important;
}

#PlacesToolbar menupopup menupopup {
    appearance: none !important;
    margin-block-start: -9px !important;
    margin-inline-start: -8px !important;
}

/* General Styles */

menupopup:not(.in-menulist), panel:not(.in-menulist) {
    --panel-shadow-margin: 1px !important;  /* 1px to draw the external border */
    --panel-border-radius: 8px !important;  /* Roundness */
}

menupopup:not(.in-menulist) {    
    --panel-background: var(--noise-urlbar-personal, transparent), /* Ruido don't apply for rare reason */
        linear-gradient(var(--arrowpanel-background), var(--arrowpanel-background)) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
    
    box-shadow: inset 0px 0px 0 1px var(--border-contrast-color, #09080d) !important;
    border-radius: 8px !important;

    /* Font color in Contextual menus */

    &> menuitem:not([disabled="true"]),
        &> menu {
            appearance: none !important;
            color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
    }

    /* Color to 'hover' items */

    &> menuitem:not([disabled="true"]):is(:hover,[_moz-menuactive]),
        &> menu:is(:hover,[_moz-menuactive]) {
            appearance: none !important;
            background-color: var(--button-hover-bgcolor) !important;
            color: var(--arrowpanel-color, #ffffff) !important;
    }

    &> menuitem:is([disabled="true"]):hover {
        appearance: none !important;
        background: transparent !important;
    }

    /* Necesario para quitar glitch indeseado al mover el mouse sobre items inhabilitados */

    &> menuitem:is([disabled="true"]),
        &> menu:is([disabled="true"]) {
            /*display: none !important;*/
            appearance: none !important;
            background-color: transparent !important;
    }
    
    /* color the fondo para items seleccionados con las teclas de dirección */

    & menu:where([_moz-menuactive="true"]:not([disabled="true"])),
    & menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
            appearance: none !important;
            background-color: var(--button-active-bgcolor) !important;
    }
    
    
    /* Mostrar background-color en el item seleccionado */

    &> menuitem:is([selected="true"]):not([disabled="false"]) {
        appearance: none !important;
        background-color: var(--button-hover-bgcolor) !important;
        color: #ffffff !important;
    }

    &> menuitem:is([selected="true"]):hover:not([disabled="false"]) {
        appearance: none !important;
        background-color: var(--button-active-bgcolor) !important;
    }
}

/* Necesario para quitar glitch indeseado al mover el mouse sobre items inhabilitados 

#context-navigation > menuitem:not([selected="true"]){
    appearance: none !important;
    background-color: transparent !important;
}*/

/* Makes context navigation buttons appears as normal textual menuitems */

#context-navigation {
    -moz-box-orient: vertical;
    flex-direction: column !important;
    color: var(--arrowpanel-color) !important;
}

#context-navigation > menuitem > .menu-iconic-left {
    display: none
}

#context-navigation > menuitem {
    padding-block: 0.4em !important;
    padding-inline-start: 1em;
    justify-content: flex-start !important;
    -moz-box-pack: start !important;
    width: auto !important;
    border-radius: 0px !important;
}

#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) {
    background: var(--button-bgcolor) !important;
    color: var(--arrowpanel-color) !important;
}

#context-navigation > menuitem::before {
    content: attr(aria-label);
}

/* #################################### LINUX ####################################### */

@media (-moz-platform: linux) {
    
menupopup > menuitem, menupopup > menu {
    appearance: none !important;
    padding-block: 4px !important;
}

/* Borde items */
    
menupopup {
    --panel-padding: 4px 0px !important;
}
    
menu, menuitem, menucaption {
    border-radius: 0px !important;
}
    
/* Flecha derecha */
    
.menu-right {
        appearance: none !important;
        list-style-image: url(chrome://global/skin/icons/arrow-right.svg )!important;
        height: 16px !important;
        width: 16px !important;
        -moz-context-properties: fill !important;
        fill: currentColor !important;
        opacity: 0.7 !important;
}
    
/* Margen menú del menú */
    
menupopup:not(#PlacesToolbar) menupopup {
    appearance: none !important;
    margin-inline-start: -10px !important;
}
    
/* Necesario para quitar glitch indeseado al mover el mouse rapidamente sobre items del menú */
    
menugroup > menuitem:not([selected="true"]), menugroup > menu {
    appearance: none !important;
    background-color: transparent !important;
}

/* Makes context navigation buttons appears as normal textual menuitems */
    
#context-navigation {
    appearance: none !important;
    -moz-box-orient: vertical;
    flex-direction: column !important;
}
    
#context-navigation > menuitem > .menu-iconic-left {
    appearance: none !important;
    display: none
}
    
#context-navigation > menuitem {
    appearance: none !important;
    padding-block: 4px !important;
    padding-inline-start: 2em !important;
    justify-content: flex-start !important;
    -moz-box-pack: start !important;
    width: auto !important;
    border-radius: 0px !important;
}
    
#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) {
    appearance: none !important;
    background: var(--button-active-bgcolor) !important;
    color: #ffffff !important;
}
    
#context-navigation > menuitem::before {
    appearance: none !important;
    content: attr(aria-label)
    }
}