/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* ____________________________ Selected tab gradient border on solid themes ____________________________ */

@media -moz-pref("firefoxone.selected_tab_gradient_border") {

    /* Sobreescribir lines from one_tabs-bar.css */
    #tabbrowser-tabs:is([movingtab]) .tabbrowser-tab[selected="true"] .tab-content{
        background-color: initial !important;
    }    
    :root:not([lwtheme-image],[style*="--lwt-additional-images"]) .tabbrowser-tab[selected="true"]:not([multiselected]) .tab-stack {
        box-shadow: none !important;
    }
    :root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) tab[selected] .tab-background{
        outline: none !important;
    }
    
    /* new color for selected tab */
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]){
        --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
    }
    
    /* Fix for container line position in selected tab */
    .tabbrowser-tab[selected] .tab-context-line{ 
        margin: 2px 0 0 1px !important;
        transition: 0ms !important;
    }

     .tab-background[selected]{
        outline: none !important;
        border: 1px solid transparent !important;
        box-shadow: none !important;
        background-clip: padding-box;
        border-radius: 5px !important;
        z-index: 2 !important;
    }
    
     .tabbrowser-tab[selected] > .tab-stack::before{
        content: "";
        display: flex;
        min-height: inherit;
        border-radius: var(--tab-border-radius);
        grid-area: 1/1;
        margin-block: var(--tab-block-margin);
        background: linear-gradient(165deg,
        var(--gradient-colors)) !important;
        z-index: 1 !important;
    }
    
    @media -moz-pref("sidebar.verticalTabs") {
        .tabbrowser-tab[selected] > .tab-stack::before{
            margin-inline: calc(var(--tab-inline-padding) - 6px) !important;
        }
    }
}

/* ___________________________________________ Image in menus ___________________________________________ */

@media -moz-pref("firefoxone.image_in_menus") {
    
    /* Image for solid themes */    
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]) :is(slot, panelview, menupopup),
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]):is([sizemode="maximized"]) #PanelUI-menu-button{
        --lwt-header-image: url("../newtab/menu-image.png") !important;
    }

    @media (prefers-color-scheme: dark){
        :root:is([style*="--lwt-additional-images"],[lwtheme-image]),
        :root:not([style*="--lwt-additional-images"],[lwtheme-image]){
            --arrowpanel-background: #101019d0 !important;
    }}

    @media (prefers-color-scheme: light){
        :root:is([style*="--lwt-additional-images"],[lwtheme-image]),
        :root:not([style*="--lwt-additional-images"],[lwtheme-image]){
            --arrowpanel-background: #f9f9f9d0 !important;
    }}
    
    /* Tab preview */
    .tab-preview-text-container {
        backdrop-filter: blur(14px) !important;
    }
    
    /* Fix for arrowpanels like save 'Bookmark' */
    panel:not(.in-menulist, #appMenu-popup) {
        --panel-shadow-margin: 0px !important;
        --panel-background: transparent !important;
        border-radius: 10px !important;
        background-size: auto 100vh !important; 
        background-image: linear-gradient(var(--arrowpanel-background, transparent), var(--arrowpanel-background, transparent)), 
                          linear-gradient(transparent, transparent), 
                          var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
        
    }

    menupopup:not(.in-menulist), panelview {
        --panel-background: transparent !important;
        background-image: linear-gradient(var(--arrowpanel-background, transparent), var(--arrowpanel-background, transparent)), 
                          linear-gradient(transparent, transparent), 
                          var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
        background-size: auto 100vh !important; 
        background-position: -1px -1px !important;
        border-radius: 8px !important; /* when using with main-image */
    }

    @media (-moz-platform: windows), (-moz-platform: linux) {
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>.toolbarbutton-badge-stack,
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>stack::after{
            background-image: linear-gradient(var(--arrowpanel-background, transparent), var(--arrowpanel-background, transparent)), 
                              linear-gradient(transparent, transparent), 
                              var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
            background-size: auto 100vh !important;
            background-position-x: 0px !important;
            background-position-y: -5px !important;
    }}
    
    @media (-moz-platform: windows), (-moz-platform: linux) {
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>stack::after{
            background-position-x: calc(-10px - var(--margin-left-icons-personal) - var(--margin-right-icons-personal)) !important;
            background-position-y: -11px !important;
    }}
    
    /* Alinear imagen con left-sidebar deshabilitada */
    @media -moz-pref("firefoxone.style_without_leftsidebar") {
    @media (-moz-platform: windows), (-moz-platform: linux) {
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>.toolbarbutton-badge-stack,
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>stack::after{
            background-position-x: 0px !important;
            background-position-y: 0px !important;
        }
        :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>stack::after{
            background-position-x: -24px !important;
            background-position-y: -4px !important;
        }}}
}

/* ______________________________________ Rhythm image for tab with sound _______________________________________ */

@media -moz-pref("firefoxone.rhythm_sound_tab") {
    
    tab[soundplaying]:not([pinned]) .tab-background::before{
        content: "" !important; 
        display: block !important;
        position: absolute !important;
        }
    
    @media (prefers-color-scheme: dark){
        tab[soundplaying]:not([pinned]) .tab-background::before{
            background: url("../icons/Beats.webp") no-repeat left center !important;
            background-size: 22px 16px !important;
            width: 22px !important;
            height: 16px !important;
            margin-inline-start: 5px !important;
            margin-block-start: calc(var(--tab-height-personal)/2 - 2px)  !important;
    }}

    @media (prefers-color-scheme: light){
        tab[soundplaying]:not([pinned]) .tab-background::before{
            background: url("../icons/Beats.gif") no-repeat left center !important;
            background-size: 16px 16px !important;
            margin-inline-start: 8px !important;
            margin-block-start: calc(var(--tab-height-personal)/2 + 3px)  !important;
            width: 20px !important;
            height: 10px !important;
    }}
    
    /* Fix for tab_gradient_border config */
    @media -moz-pref("firefoxone.selected_tab_gradient_border") {
        @media (prefers-color-scheme: dark){
           tab[soundplaying][selected]:not([pinned]) .tab-background::before{
                margin-inline-start: 4px !important;
                margin-block-start: calc(var(--tab-height-personal)/2 - 2px)  !important;
                }}
        @media (prefers-color-scheme: light){
           tab[soundplaying][selected]:not([pinned]) .tab-background::before{
                margin-inline-start: 5px !important;
                margin-block-start: calc(var(--tab-height-personal)/2 + 2px)  !important;
                }}}
}

/* ____________________________________________ Main-Image config ____________________________________________ */

@media -moz-pref("firefoxone.main-image") {

/* Sombra en la pestaña activa  eliminada */
    :root:not([lwtheme-image],[style*="--lwt-additional-images"]) .tabbrowser-tab[selected="true"]:not([multiselected]) .tab-stack {
            box-shadow: none !important; }
    
/* Borde en la pestaña activa - temas solidos y con imágenes */
    @media not -moz-pref("firefoxone.selected_tab_gradient_border") {
    tab[selected] .tab-background{
        outline: 1px solid var(--identity-tab-color, var(--button-active-bgcolor)) !important;
        outline-offset: -1px !important;
        }}
    
    tab[selected] .tab-background{
        background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)), 
                          var(--lwt-additional-images,none), var(--lwt-header-image, none) !important;
        background-repeat: no-repeat !important;
        background-size: calc(100% + 0px) auto !important;
        background-attachment: fixed !important;
        background-color: transparent !important;
        outline: 1px solid var(--identity-tab-color, var(--button-active-bgcolor)) !important;
        outline-offset: -1px !important;
        z-index: 1 !important;
    }
    
    #nav-bar, #PersonalToolbar{
        background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
        background-size: calc(100% + 0px) auto !important;
        background-position: right top !important;
        background-attachment: fixed !important;
        background-color: transparent !important;
    }
    
    #sidebar-main::before {
        background-size: auto calc(100% + 11px + var(--tab-height-personal) + var(--toolbar-height-personal)) !important;
        background-position-y: calc(-11px - var(--tab-height-personal) - var(--toolbar-height-personal)) !important;
        backdrop-filter: var(--brightness-wallpaper) !important;
    }

    /* Alineamos la imagen correctamente cuando se usa left-sidebar */
    @media not -moz-pref("firefoxone.style_without_leftsidebar") {
        #PersonalToolbar,
        :root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar {
            background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
            background-size: calc(100% + /*var(--my-vertical-toolbar-width, 0px)*/ 0px) auto !important;
            background-attachment: fixed !important;
            background-position-x: right !important;
            background-position-y: top !important;
            backdrop-filter: var(--brightness-wallpaper) !important;
        }
    }

@media (prefers-color-scheme: dark){ 
    :root[brighttext],
    :root[lwt-toolbar-field-focus-brighttext],
    :root[lwtheme],
    :root:not([lwtheme]),
    :root:is([style*="--lwt-additional-images"],[lwtheme-image]){
        
  --general-border-color: #50505040 !important;    
  --toolbar-field-background-color: transparent !important;                                                      /* toolbar_field */
  --toolbar-field-border-color: transparent !important;                                                          /* toolbar_field_border */
  --lwt-selected-tab-background-color: var(--toolbarbutton-hover-background) !important;                         /* tab_selected */
  --toolbar-field-focus-background-color: color-mix(in srgb, var(--general-color) 4%, #2e273ff7) !important;     /* toolbar_field_focus */
  --toolbarbutton-hover-background: color-mix(in srgb, 
    transparent 88%, color-mix(in srgb, var(--lwt-tab-text) 68%, var(--general-color)) ) !important;             /* button_background_hover */
  --toolbarbutton-active-background: color-mix(in srgb, 
    transparent 88%, color-mix(in srgb, var(--lwt-tab-text) 90%, var(--general-color)) ) !important;             /* button_background_active */
  --toolbarbutton-hover-personal: var(--toolbarbutton-hover-background) !important;                              /* Button :hover color personal */
  --lwt-background-alignment: left top, left top, left top !important;
  --lwt-header-image: var(--lwt-main-image) !important; 
  --lwt-additional-images: var(--lwt-main-image) !important;

  tab[selected] .tab-background, #nav-bar, findbar, #PersonalToolbar, #sidebar-main {
        --toolbar-bgcolor: #10101940 !important;                                                                 /* toolbar */
        }
    }}
  
@media (prefers-color-scheme: light){
    :root:not([lwtheme-brighttext="true"]),
    :root:not([lwt-toolbar-field-focus-brighttext]),
    :root[lwtheme],
    :root:not([lwtheme]),
    :root:is([style*="--lwt-additional-images"],[lwtheme-image]){
        
  --general-border-color: #50505080 !important;
  --toolbar-field-background-color: transparent !important;                                                      /* toolbar_field */
  --toolbar-field-border-color: transparent !important;                                                          /* toolbar_field_border */
  --lwt-selected-tab-background-color: var(--toolbarbutton-hover-background) !important;                         /* tab_selected */
  --toolbar-field-focus-background-color: color-mix(in srgb, var(--general-color) 14%, #f9f9f9f7) !important;    /* toolbar_field_focus */
  --toolbarbutton-hover-background: color-mix(in srgb, 
    transparent 88%, color-mix(in srgb, var(--lwt-tab-text) 68%, var(--general-color)) ) !important;             /* button_background_hover */
  --toolbarbutton-active-background: color-mix(in srgb, 
    transparent 78%, color-mix(in srgb, var(--lwt-tab-text) 58%, var(--general-color)) ) !important;             /* button_background_active */
  --toolbarbutton-hover-personal: var(--toolbarbutton-hover-background) !important;                              /* Button :hover color personal */
  --lwt-background-alignment: right top, left top, left top !important;
  --lwt-header-image: var(--lwt-main-image) !important; 
  --lwt-additional-images: var(--lwt-main-image) !important;

  tab[selected] .tab-background, #nav-bar, findbar, #PersonalToolbar, #sidebar-main {
        --toolbar-bgcolor: #ffffff40 !important;                                                                 /* toolbar */
    }
  }}
}
