/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

@media not -moz-pref("firefoxone.style_without_leftsidebar") {

/*----------------------------------------------This first code block is from MrOtherGuy-----------------------------------------------------
-----------------> https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/vertical_bookmarks_toolbar.css -------------------*/

/* Makes bookmarks toolbar appear vertically at the left side of the window */

@-moz-document url(chrome://browser/content/browser.xhtml){

  :root:not([inDOMFullscreen]){
    --uc-vertical-toolbar-width: var(--my-vertical-toolbar-width) !important;                   /* Mi Edit */
  }
    
  #navigator-toolbox{ position: relative }
  #PersonalToolbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: var(--uc-vertical-toolbar-width,0);
    min-width: unset !important;
    /* These create a empty area to the bottom of the toolbar, which is to mask a fact that we don't know exactly how high the toolbar should be */
    height: 100vh;
    max-height: 100vh !important; 
    padding-bottom: 120px !important;
    padding-inline: 0px !important;                                                             /* Mi edit */
  }
    
  #PersonalToolbar .toolbarbutton-1{
        min-width: var(--uc-vertical-toolbar-width) !important;                                 /* Mi edit */
        --toolbarbutton-inner-padding: 8px !important;                                          /* Mi edit */
        --toolbarbutton-border-radius: 7px !important;                                          /* Mi code */
  }    
    
  #PersonalToolbar #PlacesChevron{
    display: none;
  }
    
  #PersonalToolbar > #personal-bookmarks{
    overflow-y: auto;
    scrollbar-width: none;
    height: 100vh;
  }
  
  #PlacesToolbar,
  #PlacesToolbarDropIndicatorHolder{
    -moz-box-orient: vertical !important; /* Can be removed with Firefox 112 */
    flex-direction: column;
  }
  
  #PersonalToolbar #PlacesToolbarItems{                             /* Permite recorrer los marcadores con la rueda del mouse */
    display: flex !important;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
  }
    
  #PersonalToolbar > toolbaritem{
    justify-content: center !important;
  }
    
  #PersonalToolbar #PlacesToolbarItems > toolbarseparator{
    height: 7px;
    width: calc(var(--my-vertical-toolbar-width) - 22px) !important;                                    /* My code */
    margin-inline: 13px !important;                                                                     /* My code */
    background-color: color-mix(in srgb, var(--toolbar-bgcolor) 80%, var(--lwt-tab-text)) !important;   /* My edit */
    background-clip: padding-box;
    border-block: 3px solid transparent !important;
  }

  #PersonalToolbar #PlacesToolbarItems > .bookmark-item{                                            /* carpetas de marcadores */
    padding-block: 4px !important;
    margin-inline: 0 !important;
  }
  
  #browser,
  #browser-bottombox,
  #main-window > body::after, /* This selector is for compatibility with tabs_below_content.css */
  #customization-container{
    padding-left: calc(var(--uc-vertical-toolbar-width,0) + 0px);                                        /* My edit*/
  }

  :root:is([chromehidden~="toolbar"],[sizemode="fullscreen"]) > body > #browser,
  :root:is([chromehidden~="toolbar"],[sizemode="fullscreen"]) > body > #browser-bottombox,
  #main-window:is([chromehidden~="toolbar"],[sizemode="fullscreen"]) > body::after,
  :root:is([chromehidden~="toolbar"],[sizemode="fullscreen"]) > body > #customization-container{
    padding-left: 0;                                                                                    /* My edit*/
  }
    
  /* You should probably disable this if you have Firefox < 113 */
  #PersonalToolbar #PlacesToolbarItems{
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
  }
}
    
/* ______________________________________________________ My Code to Adapt to -ONE- Style ______________________________________________________ */
    
    :root {
    --uc-vertical-toolbar-width: var(--my-vertical-toolbar-width) !important;       /* Nuevo tamaño sidebar */
    --padding-left-tab: var(--uc-vertical-toolbar-width) !important;                /* Nuevo tamaño botón -Menu- */
    }
    
    /* ---------------- Quitar label de items de la left-sidebar ---------------- */
    
    #personal-bookmarks .bookmark-item>.toolbarbutton-text, #import-button>.toolbarbutton-text {
        display: none !important;
    }    
        /* Without bookmarks labels - quitamos margenes que desalinean los íconos */    
        #personal-bookmarks .bookmark-item>.toolbarbutton-icon, #import-button>.toolbarbutton-icon{
            margin: 0px !important;
        }
    
        #personal-bookmarks .bookmark-item{
            margin: 0px !important;
        }
    
    /* margen izquierda pestañas*/
    
    :root:not([chromehidden~="toolbar"]) {
        & #toolbar-menubar, 
        & #toolbar-menubar[autohide="true"]+#TabsToolbar,
        & #toolbar-menubar[autohide="false"]+#TabsToolbar {
            padding-inline-start: calc(var(--padding-left-tab) + 4px) !important;
        }
    }
    
    /* Alinea Imagen en pestaña activa en temas con imágenes */

    :root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) tab[selected] .tab-background{
        background-position: 0 0, calc(100% - 4px) top, calc(var(--padding-left-tab) + 4px) top, left top, 0 0 !important;
    }
    
    /* Borde izquierda-derecha de la toolbar */

    :root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]) #nav-bar {
        margin-inline-start: calc(var(--padding-left-tab) + 4px) !important;
        margin-block-end: 1px !important;
    }
    
    /* Posición y estilo de la barra lateral izquierda de marcadores */

    :root:not([chromehidden~="toolbar"]) #PersonalToolbar {
        --toolbarbutton-active-background: var(--button-active-bgcolor) !important;
        --padding-top-left-sidebar: 46px !important;
        --padding-bottom-left-sidebar: 8px !important;
        --height-left-sidebar: calc(100vh - 8px) !important;
        height: var(--height-left-sidebar) !important;
        max-height: var(--height-left-sidebar) !important;
        background-color: var(--toolbar-bgcolor) !important;
        top: 4px !important;
        margin-block: 0px !important;
        padding-top: var(--padding-top-left-sidebar) !important;
        padding-bottom: var(--padding-bottom-left-sidebar) !important;
        z-index: 1 !important;
        
        outline: none !important;
        margin-inline: 0px 4px !important;
        box-shadow: inset 1px 0 0 0 var(--lwt-frame), inset 1px 0 0 0 var(--lwt-frame), inset 1px 0 0 0 var(--lwt-frame),
                    inset 4px 0 var(--lwt-frame) !important;
    }
    
    /* Image in the left-sidebar in themes that use images */

    :root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) #PersonalToolbar {
        background-position: left top !important;
        background-size: cover !important;
    }
    
/* Outline en tema que tienen imágenes */

:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]):is([lwtheme-image],[style*="--lwt-additional-images"])
    #PersonalToolbar{
        outline: none !important;
        box-shadow: inset 1px 0 0 0 var(--lwt-frame), inset 1px 0 0 0 var(--lwt-frame), inset 1px 0 0 0 var(--lwt-frame),
                    inset 4px 0 var(--lwt-frame),
                    inset 0px -1px 0 0  var(--general-border-color),  /* abajo */
                    inset 5px 0 0 0  var(--general-border-color),     /* left */
                    inset -1px 0 0 0 var(--general-border-color),     /* right */ 
                    inset 0 1px 0 0  var(--general-border-color)      /* Left */
                    !important;
        }
    
/* outline en todos los temas "without-default-colors" and 'main-image' config */

    @media -moz-pref("firefoxone.without-default-colors") or -moz-pref("firefoxone.main-image") {
        :root:not([chromehidden~="toolbar"]) #PersonalToolbar{
                outline: none !important;
                box-shadow: inset 1px 0 0 0 var(--lwt-frame), inset 1px 0 0 0 var(--lwt-frame), inset 1px 0 0 0 var(--lwt-frame),
                            inset 4px 0 var(--lwt-frame),
                            inset 0px -1px 0 0  var(--general-border-color),  /* abajo */
                            inset 5px 0 0 0  var(--general-border-color),     /* left */
                            inset -1px 0 0 0 var(--general-border-color),     /* right */ 
                            inset 0 1px 0 0  var(--general-border-color)      /* Left */
                            !important;
                }}
    
/* --------------------------------- Zoom on :hover items ------------------------------------ */
    
    /* animación */
    @keyframes scalezoom{
        0%{ transform:scale(1.12) }
        50%{ transform:scale(0.8) }
        100%{ transform:scale(1.0) }}
    
    /* 'hover' Extensions */
    
    #PersonalToolbar .toolbarbutton-1:is(:hover):not(:active,[open]) .toolbarbutton-icon:not(.toolbarbutton-1>image),   /* Extensiones */
    #PersonalToolbar .toolbarbutton-1:is(:hover):not(:active,[open]) .toolbarbutton-badge-stack image {                 /* account icon, download icon, etc */
        transform: scale(1.2) !important;
        transition-duration: 200ms !important;
    }
    
    /* Click animation on Extensions */
    
    #PersonalToolbar .toolbarbutton-1:is(:active,[open]) .toolbarbutton-icon:not(.toolbarbutton-1:is(:active, [open])>.toolbarbutton-icon),
    #PersonalToolbar .toolbarbutton-1:is(:active, [open]) .toolbarbutton-badge-stack image{
        animation: scalezoom linear 250ms !important;
    }
    
    /* 'hover' other icons */
    
    #PersonalToolbar {
        & .toolbarbutton-1:is(:hover):not(:active,[open])>image,                                           /* íconos default */
        & #PlacesToolbarItems>.bookmark-item:is(:hover,:active):not([open])>.toolbarbutton-icon,           /* Marcadores */
        & #OtherBookmarks:not(bookmark-item):is(:hover,:active):not([open])>.toolbarbutton-icon{           /* Other bookmarks button */
            transform: scale(1.12) !important;
            transition-duration: 200ms !important;
        }}
    
    /* Clic default icons */
    
    #PersonalToolbar {
        & .toolbarbutton-1:is(:active):not([open])>image {                                                 /* íconos default */
            transform: scale(0.8) !important;
            transition-duration: 200ms !important;
        }}
    
    #PersonalToolbar {
        & .toolbarbutton-1:is([open]):not(:active)>image {                                                 /* íconos default */
            transform: scale(1.0) !important;
            transition-duration: 200ms !important;
        }}
    
    /* Click animation on bookmarks */
    
    #PersonalToolbar {
        & #PlacesToolbarItems>.bookmark-item:is([open]):not(:active)>.toolbarbutton-icon,                  /* Marcadores */
        & #OtherBookmarks:not(bookmark-item):is([open]):not(:active)>.toolbarbutton-icon{                  /* Other bookmarks button */
            animation: scalezoom ease-in-out 250ms !important;
            transition:  200ms !important;
        }}
    
    /* Color, tamaño y alineación de Items de la barra lateral */

    #PersonalToolbar .toolbarbutton-1{
        --toolbarbutton-inner-padding: 6px !important;
        --toolbarbutton-outer-padding: 0 4px !important;
        padding-inline-start: 4px !important;
    }
    
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item,
    #PersonalToolbar #OtherBookmarks{
        padding-inline-start: 8px !important;
    }
    
    /* Trick para suavizar border de los íconos *//*
    #PersonalToolbar> toolbarbutton .toolbarbutton-icon {
        padding-block: 0px !important;
        height: 28px !important;
        width: 28px !important;
    }

    /* Separador usando "espacio flexible" */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], #PersonalToolbar toolbarspring {
        max-width: var(--uc-vertical-toolbar-width) !important;
        min-height: 60px !important;
        max-height: 110px !important;
    }
    
    /* Iconos de Marcadores - corrección de tamaño y color de background */
    
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item:not(:hover)>.toolbarbutton-icon,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item:not(.subviewbutton, [disabled="true"]):hover,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon,
    #PersonalToolbar #PlacesToolbarItems>.bookmark-item:not(.subviewbutton, [disabled="true"]){
        background-color: transparent !important;
    }

    #PersonalToolbar #PlacesToolbarItems > .bookmark-item>.toolbarbutton-icon{
        margin-block-start: 0px !important;
        height: 28px !important;
        width: 28px !important;
        padding: 6px !important;
        background-color: var(--toolbarbutton-hover-background) !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
    }
    
    /* -Otros marcadores- button */
    
    #PersonalToolbar #OtherBookmarks {
        background-color: transparent !important;
    }
    
    #PersonalToolbar #OtherBookmarks>.toolbarbutton-icon{
        margin-block-start: 4px !important;
        height: 28px !important;
        width: 28px !important;
        padding: 6px !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
        background-color: transparent !important;
    }

    #PersonalToolbar #OtherBookmarks:hover>.toolbarbutton-icon{
        background-color: var(--toolbarbutton-hover-background) !important;
    }
    
    /* Color base botones extensiones */

    #PersonalToolbar .toolbarbutton-1 stack  {
        --toolbarbutton-inner-padding: 8px !important;
        background-color: var(--toolbarbutton-hover-background) !important;
    }
    
    /* :hover de botones: extensiones ; bookmark Folders ; other bookmarks folder */

    #PersonalToolbar .toolbarbutton-1:is([open],:active) stack  {
        background-color: var(--button-active-bgcolor) !important;
        fill: #d5dadd !important;
        transition: background-color 250ms ease-in-out !important;/**/
        
    }
    #PersonalToolbar .toolbarbutton-1:is([open],:active,[checked="true"]) {
        fill: #d5dadd !important;
    }
    
    #PersonalToolbar #PlacesToolbarItems > .bookmark-item[open]>.toolbarbutton-icon{
        background-color: var(--toolbarbutton-active-background) !important;
        fill: #d5dadd !important;
    }
    
    #PersonalToolbar #OtherBookmarks[open]>.toolbarbutton-icon{
        background-color: var(--toolbarbutton-active-background) !important;
        fill: #d5dadd !important;
    }

/*-------------------------------------- Extensiones --------------------------------------
--------------------------------------------------------------------------------------------*/
    
    /* Ocultar contador cuando este es "0" */

    toolbarbutton[badge="0"] .toolbarbutton-badge { display: none !important; }
    
     /* Contador de la extension */

    #PersonalToolbar toolbaritem toolbarbutton:not(:hover,[open],:active) .toolbarbutton-badge:not(:hover) {
        background-color: #ff0000cc !important;
        color: transparent !important;
        box-shadow: none !important;
        outline: 1px solid #000000dd !important;
        border-radius: 50% !important;
        height: 4px !important;
        width: 4px !important;
        min-height: 4px !important;
        min-width: 4px !important;
        transform: translate(-1px, -1px) !important;
    }

    #PersonalToolbar toolbaritem toolbarbutton:is(:hover,[open],:active) .toolbarbutton-badge {
        box-shadow: -1px 1px 0 hsla(0, 100%, 100%, .2) inset, 1px -1px 0px hsla(0, 100%, 100%, .2) inset, 0 1px 0 hsla(206, 50%, 10%, .2) !important;
        margin-top: -6px !important;
        margin-inline-end: -6px !important;
        animation: none !important;
        border-radius: 0 8px 0 4px !important;
    }

    /* Tab-group Extension */

    #PersonalToolbar #panorama-tab-groups_example_com-BAP>stack, 
    #PersonalToolbar #simple-tab-groups_drive4ik-BAP>stack{
        background-color: var(--button-active-bgcolor) !important;
        fill: #eaeaea !important;
        list-style-image: url("../icons/logo_tablero.svg") !important;
    }

/* _________ Trick for social extensions __________*/

    #PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP image,
    #PersonalToolbar #xrst_vardakis_gmail_com-BAP image,
    #PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP image,
    #PersonalToolbar #chatwappinsidebar_godie-BAP image,
    #PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP image,
    #PersonalToolbar #ublock0_raymondhill_net-BAP image,
    #PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP image,
    #PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP image,
    #PersonalToolbar #sidebarinstachat_godie-BAP image,
    #PersonalToolbar #panorama-tab-groups_example_com-BAP image,
    #PersonalToolbar #simple-tab-groups_drive4ik-BAP image,
    #PersonalToolbar #sidebarspotyplay_godie-BAP image,
    #PersonalToolbar #_63ec59d8-ba50-4d88-917e-fb65af892a39_-BAP image
    {
        height: 20px !important;
        width: 20px !important;
    }

    #PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #xrst_vardakis_gmail_com-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #chatwappinsidebar_godie-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #ublock0_raymondhill_net-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #sidebarinstachat_godie-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #panorama-tab-groups_example_com-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #simple-tab-groups_drive4ik-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #sidebarspotyplay_godie-BAP>.toolbarbutton-badge-stack,
    #PersonalToolbar #_63ec59d8-ba50-4d88-917e-fb65af892a39_-BAP>.toolbarbutton-badge-stack
    {
        --toolbarbutton-inner-padding: 6px !important;
    }

    /* New Icons for extensions */

    /* Twitch Extension */
    #PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP {
        list-style-image: url("../icons/logo_twitch.svg") !important; }

    /* Messenger Extension */
    #PersonalToolbar #xrst_vardakis_gmail_com-BAP {
        list-style-image:url("../icons/logo_messenger.svg") !important; }

    /* Whatsapp Extension */
    #PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP,
    #PersonalToolbar #chatwappinsidebar_godie-BAP{
        list-style-image: url("../icons/logo_whatsapp.svg") !important; }

    /* Telegram Extension */
    #PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP{
        list-style-image: url("../icons/logo_telegram.svg") !important; }

    /* ublock Extension */
    #PersonalToolbar #ublock0_raymondhill_net-BAP{
        list-style-image: url("../icons/logo_ublock.svg") !important; }

    /* Discord Extension */
    #PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP{
        list-style-image: url("../icons/logo_discord.svg") !important; }

    /* Twitter Extension */
    #PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP{
        list-style-image: url("../icons/logo_twitter.svg") !important; }

    /* Instagram Extension */
    #PersonalToolbar #sidebarinstachat_godie-BAP{
        list-style-image: url("../icons/logo_instagram.svg") !important; }
    
    /* Spotify Extension */
    #PersonalToolbar #sidebarspotyplay_godie-BAP{
        list-style-image: url("../icons/logo_spotify.svg") !important; }
    
    /* Chatgpt Extension */
    #PersonalToolbar #_63ec59d8-ba50-4d88-917e-fb65af892a39_-BAP{
        list-style-image: url("../icons/logo_chatgpt.svg") !important; }

    /* mostrar más marcaddores - button */
    #PersonalToolbar #bookmarks-menu-button {
      list-style-image: url("../icons/logo_marcadores.svg") !important; }

    /* ----------------------------- items en modo "customize toolbar" --------------------------------- */

    /* Separador Horizontal */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
        min-width: 0px !important;
        min-height: 2px !important;
        max-height: 72px !important;
        margin-inline: calc(var(--my-vertical-toolbar-width) / 2 - 17px ) !important;
    }

    /* Separador vertical */

    :is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
        min-width: 10px !important;
        min-height: var(--tabs-height-personal) !important;
        max-height: var(--tabs-height-personal) !important;
        margin-block: 0 !important;
    }

    /* Alinear items in customize mode */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"] {
        justify-content: center !important;
    }

    /* Contador de la extension invisible en modo "customize" */

    #PersonalToolbar toolbarpaletteitem[place="toolbar"] toolbaritem toolbarbutton .toolbarbutton-badge {
        display: none !important;
    }   
    

/* _______________________________________________ Nuevos márgenes Botón menú _______________________________________________ */
    
@media (-moz-platform: windows), (-moz-platform: linux) {
    
    :root:not([invisibleBMS]) {
        --margin-left-icons-personal: calc(var(--my-vertical-toolbar-width) / 2 - 16px) !important;     /* Nuevo margen-left del ícono -menu- */
        --margin-right-icons-personal: 12px !important;                                                 /* Nuevo margen-left del ícono -menu- */
        --padding-left-tab: var(--uc-vertical-toolbar-width) !important;                                /* Nuevo tamaño botón -Menu- */
    }

/* Tamaño */
    
    :root:not([chromehidden~="toolbar"],[invisibleBMS],[sizemode="fullscreen"]) #PanelUI-button {
        height: 50px !important;
    }
   
    :root:not([chromehidden~="toolbar"],[invisibleBMS]) #PanelUI-menu-button:not([open]) {
        width: calc(var(--padding-left-tab) + 4px) !important;
        padding-inline: calc(var(--padding-left-tab)/2 - 14px) !important;
    }
    
/* Posición margin-top 'normal-maximized' */
        
    :root:not([chromehidden~="toolbar"],[invisibleBMS],[sizemode="fullscreen"]) #PanelUI-menu-button>.toolbarbutton-badge-stack {
        margin-block-start: 4px !important;
    }
    
    :root:not([chromehidden~="toolbar"],[invisibleBMS])[sizemode="fullscreen"] #PanelUI-menu-button image {
        height: calc(var(--tab-height-personal) - 7px) !important;
        width:  calc(var(--tab-height-personal) - 7px) !important;
    }
    
/* Alinear lista de pestañas sincronizadas */
    
    #appMenu-popup .subviewbutton[image] > .toolbarbutton-text, .subviewbutton[targetURI] > .toolbarbutton-text {
      padding-inline-start: calc(24px - var(--margin-right-icons-personal)) !important;
    }
}
    
@media (-moz-platform: windows){
    
/* Alinear botón [open] en ventana maximizada */
        
    :root:not([chromehidden~="toolbar"],[invisibleBMS],[sizemode="normal"],[sizemode="fullscreen"]) #PanelUI-menu-button[open] .toolbarbutton-badge-stack {
        padding-inline-start: calc(var(--margin-left-icons-personal) + 4px) !important;
    }
    
/* Alinear botón [open] en ventana normal y fullscreen */
    
    :root:not([chromehidden~="toolbar"],[invisibleBMS]):is([sizemode="normal"],[sizemode="fullscreen"]) #PanelUI-menu-button[open] .toolbarbutton-badge-stack {
        margin-inline-start: calc(var(--margin-left-icons-personal) - 2px) !important;
    }
    
/* menu [open ] -sobreescribo-  Sirve para alinear al cambiar the height de pestañas 
   Mismo número que la variable de abajo: --button-height-personal */
    
    :root:not([chromehidden~="toolbar"],[sizemode="normal"],[sizemode="fullscreen"],[invisibleBMS]) 
        #PanelUI-menu-button[open]>.toolbarbutton-badge-stack {
            min-height: 35px !important; 
            max-height: 35px !important;
    }
    
/* Padding top para hacer espacio para la fila del Label menú */
    
    :root:not([chromehidden~="toolbar"],[invisibleBMS])[sizemode="maximized"] #appMenu-popup>panelmultiview>box>box>panelview {
        padding-top: 38px !important;
    }
    
/* Margin top para subir el menú [open] */
    
    :root:not([chromehidden~="toolbar"],[invisibleBMS])[sizemode="maximized"] #appMenu-popup {
        --menu-plus-label-width: 94px !important;
        --button-height-personal: 35px !important;
        --arrowpanel-border-radius: 9px !important;
        margin-top: calc(-7px - var(--button-height-personal)) !important;
        clip-path: polygon(0% 0%, 0% 100%, 1% 53%, 0 13px, var(--menu-plus-label-width) 13px,
                   var(--menu-plus-label-width) var(--button-height-personal), 0 var(--button-height-personal), 0 100%, 100% 100%, 100% 0%);
    }
}

/* _______________________ Configuration Menu for Linux _______________________ */
    
@media (-moz-platform: linux){
    
:root:not([invisibleBMS]) {
        --margin-left-icons-personal: calc(var(--my-vertical-toolbar-width) / 3 - 14px) !important;     /* Nuevo margen-left del ícono -menu- */
        --margin-right-icons-personal: 8px !important;                                                  /* Nuevo margen-left del ícono -menu- */
        --padding-left-tab: var(--uc-vertical-toolbar-width) !important;                                /* Nuevo tamaño botón -Menu- */
    }
    
/* Alinear botón en ventana maximizada, ventana normal y fullscreen */
        
    :root:not([chromehidden~="toolbar"],[invisibleBMS]) #PanelUI-menu-button{
        width: calc(var(--padding-left-tab) + 4px) !important;
    }
}

/* _______________________________ Baner de -actualización disponible- _______________________________ */

    @keyframes slide1 {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg);
        }
    }

    #PanelUI-menu-button[badge-status="update-available"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-downloading"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-manual"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-other-instance"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-restart"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-unsupported"]>.toolbarbutton-badge-stack>.toolbarbutton-badge {
        display: none !important;
    }

    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-available"]:not([open]) .toolbarbutton-badge-stack, 
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-downloading"]:not([open]) .toolbarbutton-badge-stack, 
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-manual"]:not([open]) .toolbarbutton-badge-stack, 
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-other-instance"]:not([open]) .toolbarbutton-badge-stack, 
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-restart"]:not([open]) .toolbarbutton-badge-stack, 
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-unsupported"]:not([open]) .toolbarbutton-badge-stack, 
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="addon-alert"]:not([open]) .toolbarbutton-badge-stack, 
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="fxa-needs-authentication"]:not([open]) .toolbarbutton-badge-stack {
        list-style-image: url("../icons/foxFill.svg") !important;
        fill: var(--general-color) !important;
        animation: 2000ms infinite ease;
        animation-name: slide1;
        border-radius: 50% !important;
    }
    
    /* Nueva posición de Paneles [open] de left-sidebar */
    
    #PlacesToolbarItems > .bookmark-item >  menupopup, #OtherBookmarks #OtherBookmarksPopup {
        margin-inline-start: calc(var(--padding-left-tab) - 0px) !important;
        margin-top: -56px  !important;
    }
    
    /* Nueva posición de Paneles [open] de left-sidebar 
    #PersonalToolbar>toolbarbutton>menupopup {
        margin-right: calc(var(--padding-left-tab) - 8px) !important;
        margin-top: -39px  !important;
    }
    
    #customizationui-widget-panel {
        margin-right: calc(var(--padding-left-tab) - 8px) !important;
        margin-top: -39px  !important;
    }*/
}

/* ___________________________________________________________ Firefox Revamp __________________________________________________________ 
   _____________________________________________________________________________________________________________________________________ */

@media -moz-pref("sidebar.revamp")  and (not -moz-pref("firefoxgx.oneline")) {
    
    :root {
        --vertical-elements-width: var(--my-vertical-toolbar-width) !important;
    }
    
    /* _______________ Style of the Sidebar when isn't expanded _______________ */
    
    :root:has(sidebar-main:not([expanded])) {

        /* Width of the Sidebar elements when isn't expanded */

        /* External container */
        & #sidebar-main {
            width: var(--my-vertical-toolbar-width) !important;
        }

        /* Internal container */
        & .wrapper, 
        & sidebar-main  {
            min-width: var(--vertical-elements-width) !important;
        }

        /* Tools-and-extensions */
        & .actions-list {
            max-width: var(--vertical-elements-width) !important;
        }
    }
    
    .wrapper {
        background-color: transparent !important;
        min-width: var(--vertical-elements-width) !important;
        margin-inline: 0px !important;
        padding: 0px !important;
    }
    
    .actions-list{
        appearance: none !important;
        min-width: var(--vertical-elements-width) !important;
        padding-inline: 0px !important;
    }
    
    /* _______________ Buttons size the same as the Sidebar to trick 'click on border' _______________ */

    /* Remove all padding */
    .actions-list {
        overflow: hidden !important;
        & > moz-button {
            --button-outer-padding-inline: calc(var(--vertical-elements-width)/2 - 18px) !important;
            /*--button-outer-padding-block: 0px !important;
            --button-outer-padding-inline-start: 0px !important;
            --button-outer-padding-inline-end: 0px !important;/**/
            /*--button-outer-padding-block-start: 0px !important;/**/
            --button-outer-padding-block-end: 0px !important;
        }
    }
    
    /* Remove unwanted border */
    
    #navigator-toolbox {
        border-color: transparent !important;
    }
    
    #sidebar-main {
        padding-block-start: 2px !important;
        background: none !important;
        
        &::before {
            content: ''; display: flex; position: fixed; top: 2px !important;
            width: calc(100% - 8px);
            height: calc(100% - 6px);
            margin-inline-start: 4px !important;
            border-radius: 8px !important;
            background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
                                              var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
            background-size: auto 100% !important; 
            box-shadow: inset 0 0 0 1px var(--general-border-color) !important;
        }
    }
    
    /* __________________________ Styles around web content  */
    
    #tabbrowser-tabbox {
        box-shadow: none !important;
    }

    /* Nuevo espacio alrededor del contenido web */

    :root:not([sizemode="fullscreen"]) {
        
        #tabbrowser-tabbox {
            padding-inline: 0 4px !important;
        }
        
        & #sidebar-box[positionend]{
            margin-inline: 0px 0px !important;
        }
        
        &:has(#sidebar-box[positionend]) #tabbrowser-tabbox {
            padding-inline: 4px 0px !important;
        }

        &:has(#sidebar-box[checked="true"][positionend]) #tabbrowser-tabbox {
            padding-inline: 4px 4px !important;
        }
        
        &:has(#sidebar-main[hidden="true"]) #tabbrowser-tabbox {
            padding-inline: 4px 4px !important;
        }
    }
    
    /* Splitter */
    
    splitter {                            
        --splitter-width: 4px !important;
        --sidebar-border-color: transparent;
    }
    
    /*#sidebar-launcher-splitter {
        @media (not (-moz-platform: linux)) {
            #sidebar-main[positionend] + & {
                    margin-inline-end: -4px !important;
            }
        }
    }/**/
    
    /* _________________________ Tools and extensions _________________________ */
    
    /* margin bottom last icon */

    .actions-list {
        --toolbarbutton-active-background: var(--button-hover-bgcolor);
        & > moz-button:not(.tools-overflow) {
            &:last-of-type {
                --button-outer-padding-block-end: var(--space-medium) !important;
            }
        }
    }
    
    /* background color when 'hover' on tool open */
    
    .button-background {
        
        &[type="icon"] {
            button:hover > & {
                background-color: var(--button-bgcolor) !important;
            }
        }
    }
    
    /* Size and Vertical space between icons 
       exception style for sound icons */

    .actions-list {
        & > moz-button {
            --my-min-width: var(--vertical-elements-width) !important;
            --button-size-icon: 36px !important;
            --button-background-color-hover: transparent !important;
            --my-transform-hover: scale(1.2) !important;
            --my-transform-active: scale(0.8) !important;
            --button-border-radius: 6px !important;
        }
    }
    
    /* Zoom effect */
    
    .button-background {
        & img { 
            transition: transform 200ms ease !important;
            transition: transform 0.2s ease !important;
        }
    }
    
    .button-background {
        & img { transition: transform 200ms ease !important; }
        
        &[type="icon ghost"] {
            button:hover  > & {
                & img  {
                    transform: var(--my-transform-hover) !important;
                }
            }
            button:active  > & {
                & img  {
                    transform: var(--my-transform-active) !important;
                }
            }
        }
    }
    
    /* sidebar-box - Search-box outline color on focus */
    
    .search-container input:focus-visible {
        outline: 1px solid var(--general-color) !important;
        border-color: var(--general-color) !important;
    }
}

/* _______________________________________________________ Firefox Vertical Tabs _______________________________________________________ 
   _____________________________________________________________________________________________________________________________________ */

@media -moz-pref("sidebar.verticalTabs")  and (not -moz-pref("firefoxgx.oneline")) {
    
    :root {
        --my-margin-inline-inner-tab: 10px !important;
        --vertical-elements-width: var(--my-vertical-toolbar-width) !important;
        --tab-collapsed-background-width: calc(var(--my-vertical-toolbar-width) - var(--tab-inline-padding)*2) !important;
        --my-separator-border-style1: linear-gradient(to right, transparent 10px, var(--general-border-color) 10px,
                                     var(--general-border-color) calc(100% - 10px), transparent calc(100% - 10px)) 1;
    }
    
    /* Tabs container width */

    #tabbrowser-tabs[orient="vertical"] {
        /* Used for pinned tabs */
        --tab-collapsed-width: var(--vertical-elements-width) !important;
        /* used for normal tabs */
        min-width: var(--vertical-elements-width) !important;
    }
    
    /* Space between tabs */
    
    #tabbrowser-tabs[orient="vertical"] {
        & .tabbrowser-tab {
            padding-block-end: 0px !important;
        }
    }

    /* Width of tabs when sidebar isn't expanded */
    
    #tabbrowser-tabs[orient="vertical"] {
        .tab-background {
            --tab-collapsed-background-width: calc(var(--vertical-elements-width) - var(--my-margin-inline-inner-tab)*2) !important;
            margin-inline: var(--my-margin-inline-inner-tab) !important;
            min-width: calc(var(--vertical-elements-width) - var(--my-margin-inline-inner-tab)*2) !important;
        }
    }
    
    /* Center .tab-content */

    #tabbrowser-tabs[orient="vertical"] {
        & .tab-content {
            --tab-inline-padding: calc(var(--vertical-elements-width)/2 - 8px) !important;
        }
    }
    
     #sidebar-main {
        --tab-block-margin: 0px !important;                 /* Smaller margin in tabs */
    }
    
    /* Margin top of the block of tabs */
    
    #vertical-tabs {
        padding-block-start: 4px !important;
    }
    
    #vertical-pinned-tabs-container {
        & .tab-background {
            .tabbrowser-tab:not(:hover) > .tab-stack > &:not([selected], [multiselected]) {
                background-color: transparent !important;
            }
        }
    }
    
    #vertical-pinned-tabs-container-separator {
        #tabbrowser-tabs:not([expanded]) #vertical-pinned-tabs-container:not(:empty) > &, #vertical-pinned-tabs-container:not(:empty) + & {
            margin-inline: 0px !important;
            display: flex !important;
            border-image: var(--my-separator-border-style1) 1 !important;
        }
    }
    
    /* Margen back-button de la toolbar 

    :root:not([chromehidden~="toolbar"]):has(#toolbar-menubar[autohide="true"]) #nav-bar {
        padding-inline-start: var(--padding-left-tab) !important; 
    }*/
    
    /* overwrite 'one_tabs-bar.css' - 'hover' de las pestañas no seleccionadas */

    .tabbrowser-tab:not([selected], [multiselected]):hover > .tab-stack:not([selected], [multiselected]) {
        background-color: unset !important;
    }
    
    /* _________________________ Tools and extensions _________________________ */
    
    /* Hide scrollbar */    
    
    .actions-list {
        overflow-y: hidden !important;
        transition: opacity 0.2s ease-in-out, visibility 0.4s ease, transform 0.4s ease;
    }
    
    /* Hide tools except for the last one 'configuration' */
    .actions-list[orientation="vertical"]:not(:hover) moz-button[type="icon ghost"]:not(:last-child) {
        opacity: 0 !important;
        transform: translateY(10px) !important;
        visibility: collapse !important;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
    }
    
    /* Hide tools except for the last one 'configuration' */
    .actions-list[orientation="vertical"]:is(:hover) moz-button[type="icon ghost"]:not(:last-child) {
        opacity: 1 !important;
        /*height: 0px !important;/**/
        transform: translateY(0px) !important;
        visibility: visible !important;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
    }
    
    /* Transition for 'configuration' button when other tool is open */
         
    .wrapper:has(.actions-list[orientation="vertical"] moz-button[type="icon"]) .actions-list:not(:hover) moz-button[type="icon ghost"]:is(:last-child) {
        --button-outer-padding-block-end: var(--space-small) !important;
        visibility: collapse !important;
        opacity: 0 !important;
        transform: translateY(10px) !important;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
    }
    
    .wrapper:has(.actions-list[orientation="vertical"] moz-button[type="icon"]) .actions-list:is(:hover) moz-button[type="icon ghost"]:is(:last-child) {
        --button-outer-padding-block-end: var(--space-small) !important;
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateY(0px) !important;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease, transform 0.4s ease;
    }

    /* Keep active tool in latest position */
    .actions-list[orientation="vertical"] moz-button[type="icon"] {
        order: 1 !important;
        --button-outer-padding-block-end: var(--space-medium) !important;
    }
}