/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/*Botones generales*/

/* Information button */

.panel-info-button{ margin-right: 6px !important;  }

/* Radiobutton - Protección Antirastreo */

.toggle-button:enabled { 
    --toggle-background-color-pressed: var(--general-color) !important;
}

/*-------------------------- Marcadores - Arrowpanel ----------------------------------*/

/*color Rojo de boton "borrar marcador"*/

#editBookmarkPanelRemoveButton label{
    display: none !important;
}

#editBookmarkPanelRemoveButton{
    background: url("../icons/delete.svg") no-repeat center/16px !important;
    background-color: var(--input-border-color) !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    -moz-context-properties: fill !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border-radius: 3px !important;
    padding-inline: 16px !important;
}

#editBookmarkPanelRemoveButton:hover {
    background-color: #da3633 !important;
    color: #f0f6fc !important;
    box-shadow: none !important;
    fill: white !important;
}

/*color letras de boton "Guardar" marcador en :hover*/

#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton {   
    color: white !important;
    border-radius: 4px !important;
}

/*Color de "highlight" inputtext*/

richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--general-color) !important;
    color: #ffffff !important;
}

richlistitem, #editBMPanel_namePicker , #editBMPanel_tagsField{
    color: var(--lwt-tab-text) !important;
}

/* Color del botón menú deplegable - Color -fondo y borde-(flecha hacia abajo)*/

panel menulist, panel menulist:not([open]),
#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down{
    background-color: var(--input-border-color) !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border-radius: 3px !important;
    border: none !important;
}

panel menulist:hover, panel menulist[open],
#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover{
    background-color: var(--general-color) !important;
    color: #ffffff !important;
    box-shadow: none !important;
}

/* Color -fondo y "letras" - menu desplegable flecha*/

#editBMPanel_folderTree, #editBMPanel_tagsSelector{
    border-color: var(--arrowpanel-border-color) !important;
}

treechildren::-moz-tree-row(selected) {
    background-color: var(--button-active-bgcolor) !important;
    outline: none !important;
}

treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#editBMPanel_folderTree treechildren{
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#editBMPanel_tagsSelector{
    background-color: var(--arrowpanel-background) !important;
    border: 1px solid var(--button-bgcolor) !important;
}

/* --------------------------- Barra de pestañas -------------------------------- */

toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"]):is([open],:active, :hover) {
    color: var(--lwt-tab-text) !important;  
    fill:  var(--lwt-tab-text) !important; 
}

/* Alinear botones de la barra de pestañas */

#TabsToolbar .toolbarbutton-1 { padding-block: var(--tab-block-margin-personal) !important; }

/* margin-right ultimo botón de la nav-bar*/

#nav-bar-overflow-button,
:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]) #nav-bar:not([nonemptyoverflow]) #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):last-child{
    padding-inline-end: var(--toolbar-start-end-padding) !important;
}

/* Botones de: all-tabs and unified extensions */

/* botón >> ALL tabs */

.all-tabs-item {
    margin-inline: 0px !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

.all-tabs-secondary-button{
    margin-inline-end: 4px !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
    border: none !important;
    width: 30px !important;
}

.all-tabs-secondary-button .toolbarbutton-icon{
    width: 14px !important;
    height: 14px !important;
}

/* botón >> Unified extentions */

:root{ --uei-icon-size: 18px !important; }

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not(.toolbarbutton-1)[disabled] {
    opacity: 1 !important;
}

#unified-extensions-panel .unified-extensions-item{
    padding-block: 0 !important;
    margin-block: 0px !important;
}

.unified-extensions-item-action-button.panel-no-padding.webextension-browser-action.subviewbutton.subviewbutton-iconic{
    padding-block: 2px !important;
    margin-block: 0px !important;
}

.unified-extensions-item-menu-button:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]) {
    background: transparent !important;
    padding: 0px 6px !important;
}

.unified-extensions-item-menu-button.subviewbutton.subviewbutton-iconic:hover image {
    background: var(--general-color) !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
}

/* Second label del botón de extenciones */

@media (-moz-platform: linux) {
#unified-extensions-area toolbaritem .unified-extensions-item-message-deck label{
    appearance: none !important;
    font-size: 0.875em !important;
    width: -moz-available !important;
    }
}

/* Separador linea Vertical para tabs-bar, usando "espacio flexible" */

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"],:is(#TabsToolbar) toolbarspring {
    background-color: transparent !important;
    max-width: 0px !important;
    min-width: 0px !important;
    max-height: calc(var(--tab-height-personal) + var(--tab-block-margin) * 2) !important;
    margin-inline: 3px !important;
    border-left: 1px solid red !important;
    border-image: 0 1 linear-gradient(
    transparent 28%,
    color-mix(in srgb, currentColor 20%, transparent) 28%,
    color-mix(in srgb, currentColor 20%, transparent) 70%,
    transparent 70%) !important;
}

/* Estilo separador en 'Customization mode', permite mayor zona para arrastre */

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
    min-width: 10px !important;
    min-height: var(--tabs-height-personal) !important;
    max-height: var(--tabs-height-personal) !important;
    margin-block: 0 !important;
}

/* Status panel */

#statuspanel label{
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--toolbar-color) !important;
    border-color: var(--lwt-frame) !important;
    border-radius: 0 8px 0 6px !important;
}

/* ---------------------------------------------- Used for various smooth transition ---------------------------------------------- */

panel :is(menulist, button, toolbarbutton:not(#firefox-view-button,[.subviewbutton])):not([open]),   /* Botones dentro de arrowpanels */
.titlebar-button .toolbarbutton-icon,                                                                /* Window controls */
.toolbarbutton-1 .toolbarbutton-icon,                                                                /* Botones default */
.toolbarbutton-1 .toolbarbutton-badge-stack,                                                         /* Extensiones */
.toolbarbutton-1 .toolbarbutton-badge-stack image,                                                   /* Account icon, download icon 'Used in left-sidebar'  | */
#PlacesToolbarItems>.bookmark-item,                                                                  /* Bookmark items                                      | */
.toolbarbutton-1>image,                                                                              /* íconos default                                      | */
#PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon,                                              /* Bookmark icon                                       | */
#OtherBookmarks:not(bookmark-item)>.toolbarbutton-icon{                                              /* 'Other bookmarks' icon ---------------------------- v */
    transition: all 0.2s ease !important;
}

/* Transición del botón de página segura, bookmark y Tracking Protection de la url */

#identity-box[pageproxystate="valid"].chromeUI #identity-icon,
#pageAction-panel-bookmark[starred], #star-button[starred],
#urlbar-input-container #tracking-protection-icon{ 
    transition: fill 0.2s ease !important;
}

/* Transición para los demás botones de la url */

#urlbar box, #page-action-buttons hbox { 
    transition: background-color 0.2s ease !important;
}
