/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/*----------------------------------------------This first code block is from MrOtherGuy-----------------------------------------------------
-----------------> https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/vertical_bookmarks_toolbar.css -------------------*/

/* Makes bookmarks toolbar appear vertically at the left side of the window */

@-moz-document url(chrome://browser/content/browser.xhtml) {
    :root:not([inDOMFullscreen]) {
        --uc-vertical-toolbar-width: 60px;
    }
    #navigator-toolbox {
        position: relative
    }
    #PersonalToolbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: var(--uc-vertical-toolbar-width, 0);
        min-width: unset !important;
        /* These create a empty area to the bottom of the toolbar, which is to mask a fact that we don't know exactly how high the toolbar should be */
        height: 100vh;
        max-height: 100vh !important;
        padding-bottom: 120px !important;
    }
    #PersonalToolbar #PlacesChevron {
        display: none;
    }
    #PersonalToolbar > #personal-bookmarks {
        overflow-y: auto;
        scrollbar-width: none;
        height: 100vh;
    }
    #PersonalToolbar #PlacesToolbarItems {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: none;
    }
    #PersonalToolbar #PlacesToolbarItems > toolbarseparator {
        height: 7px;
        background-color: currentColor;
        background-clip: padding-box;
        border-block: 3px solid transparent !important;
    }
    #PersonalToolbar .toolbarbutton-1 {
        padding-block: 20px !important
    }
    #PersonalToolbar #PlacesToolbarItems > .bookmark-item {
        padding-block: 0px !important;
        margin-inline: 2px !important;
    }
    #browser, #browser-bottombox, #main-window > body::after,
    /* This selector is for compatibility with tabs_below_content.css */
    #customization-container {
        padding-left: calc(var(--uc-vertical-toolbar-width, 0) + 4px);
    }
    :root:is([chromehidden~="toolbar"], [sizemode="fullscreen"]) > body > #browser, 
    :root:is([chromehidden~="toolbar"], [sizemode="fullscreen"]) > body > #browser-bottombox, 
    #main-window:is([chromehidden~="toolbar"], [sizemode="fullscreen"]) > body::after, 
    :root:is([chromehidden~="toolbar"], [sizemode="fullscreen"]) > body > #customization-container {
        padding-left: 0;
        
    }
    #PersonalToolbar #PlacesToolbarItems {
        display: -webkit-box;
        -webkit-box-orient: vertical !important;
    }
}

/* --------------------------------------- My Code to Adapt to GX Style --------------------------- */

:root {
    /* Nuevo tamaño sidebar */
    --uc-vertical-toolbar-width: 48px !important;
    /* Nuevo tamaño botón "Menú" */
    --padding-left-tab: calc(var(--uc-vertical-toolbar-width) - 1px) !important;
    /* Nuevo margen left de íconos del menú */
    --margin-left-icons-personal: 16px !important;
}

#toolbar-menubar {
    padding-inline-start: calc(var(--padding-left-tab) + 9px) !important;
    height: -moz-available !important;
    }

#toolbar-menubar>toolbaritem>menubar>menu {
    border: 6px solid #00000000 !important;
    background-clip: padding-box !important;
    box-shadow: inset 0 4px var(--toolbar-bgcolor) !important;
    }

:root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide="false"]+#TabsToolbar {
    padding-inline-start: 4px !important;
    }

/* Orientación vertical a los marcadores de la sidebar */

#PersonalToolbar>#personal-bookmarks>#PlacesToolbar>hbox, #personal-bookmarks, #PlacesToolbar, #PlacesToolbarItems {
    flex-direction: column !important;
    -moz-box-orient: vertical !important;
}

/* Posición y estilo de la barra lateral izquierda de marcadores */

:root:not([chromehidden~="toolbar"]) #PersonalToolbar {
    --toolbarbutton-active-background: transparent !important;
    --padding-top-left-sidebar: 43px !important;
    --padding-bottom-left-sidebar: 4px !important;
    --height-left-sidebar: calc(100vh - 8px) !important;
    --toolbarbutton-border-radius: 8px !important;
    height: var(--height-left-sidebar) !important;
    max-height: var(--height-left-sidebar) !important;
    background-color: var(--toolbar-bgcolor) !important;
    padding-bottom: var(--padding-bottom-left-sidebar) !important;
    /* Alinear barra */
    margin-top: calc( -14px - var(--toolbar-height-personal) - var(--tab-height-personal) - var(--windowed-top-padding, 0px)) !important;
    padding-top: var(--padding-top-left-sidebar) !important;
    border-radius: 8px !important;
    z-index: 1 !important;
    /*margin-inline-start: 4px !important;*/
}
    
/* Image in the left-sidebar in themes that use images */

:root:not([chromehidden~="toolbar"]):is([lwtheme-image]) #PersonalToolbar, 
:root:not([chromehidden~="toolbar"]):is([style*="--lwt-additional-images"]) #PersonalToolbar {
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
                      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: left top !important;
    background-repeat: repeat-y !important;
    background-size: cover !important;
    outline: 1px solid #50505040 !important;
    outline-offset: -1px !important;
}

/* --------------------------------- Zoom on :hover items ------------------------------------ */

#PersonalToolbar #PlacesToolbarItems > .bookmark-item {
        padding-block: 7px !important;
        margin-inline: 2px !important;
    }

#PersonalToolbar .toolbarbutton-1,
#PersonalToolbar .toolbarbutton-1 .toolbarbutton-icon:not(.toolbarbutton-1>image), /* Extensiones */
#PersonalToolbar #PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon,
#PersonalToolbar #OtherBookmarks image{
    transform: scale(1.0) !important;
    transition: ease-in-out 200ms !important;
}

#PersonalToolbar #PlacesToolbarItems>.bookmark-item:is(:hover)>.toolbarbutton-icon,                  /* Marcadores */
#PersonalToolbar .toolbarbutton-1:is(:hover,[open]) .toolbarbutton-icon:not(.toolbarbutton-1>image), /* Extensiones */
#PersonalToolbar .toolbarbutton-1:is(:hover,[open])>image,                                           /* demás iconos */
#PersonalToolbar #OtherBookmarks:not(bookmark-item):is(:hover,[open]) {                              /* Other bookmarks button */
    transform: scale(1.12) !important;
    transition:  200ms !important;
}

/* Color base boton extensiones */

#PersonalToolbar .toolbarbutton-1 stack  {
    --toolbarbutton-inner-padding: 8px !important;
    background: var(--toolbarbutton-hover-background) !important;   
}
#PersonalToolbar .toolbarbutton-1:is([open],:active) stack  {
    background: var(--general-color) !important;
}

/* Separador default */

#PersonalToolbar #PlacesToolbarItems>toolbarseparator {
    color: var(--lwt-selected-tab-background-color) !important;
    margin-inline: 6px !important;
}

/* Separador usando "espacio flexible" */

#PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], #PersonalToolbar toolbarspring {
    max-width: calc(var(--uc-vertical-toolbar-width) - 9px) !important;
    min-width: 14px !important;
    min-height: 60px !important;
    max-height: 110px !important;
}

/* Color y tamaño Items de la barra lateral - not extensions */

#PersonalToolbar .toolbarbutton-1 {
    padding-block: 0px !important;
    margin-block: 5px !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    min-height: 26px !important;
}

#PersonalToolbar> toolbarbutton .toolbarbutton-icon {
    padding-block: 6px !important;
    margin-block: 0px !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    height: 28px !important;
    width: 28px !important;
}

#OtherBookmarks:is([open],:active), #PersonalToolbar> toolbarbutton:is([open],:active) .toolbarbutton-icon {
    background-color: var(--general-color) !important;
    fill: #ffffff !important;
}

/* Firefox view icon */

#PersonalToolbar toolbar:not(#TabsToolbar) #firefox-view-button {
    width: 130px !important;
    min-width: 30px !important;
    max-width: 30px !important;
}

/* Centrar Items de extensiones */

#PersonalToolbar .toolbaritem-combined-buttons, #PersonalToolbar .toolbaritem-menu-buttons {
    margin-inline: 0px !important;
    /*-moz-box-align: center !important;
    -moz-box-orient: vertical !important;*/
}

/* Alinear Items Left sidebar */

#PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon {
    margin: 0 !important;
}

/* Quitar label de items de la barra laterar */

#personal-bookmarks .bookmark-item>.toolbarbutton-text, #import-button label {
    display: none !important;
}

/* Quitar oversize de las extensiones puestas en la barra lateral */

#PersonalToolbar toolbaritem toolbarbutton {
    padding: 0px !important;
}

/* Contador de la extension */

@keyframes anima89 {
from{
    background-color: color-mix(in srgb, red 80%, transparent);
    color: transparent;
    box-shadow: none;
    outline: 1px solid var(--contrast-color);
    border-radius: 50%;
    height: 4px;
    width: 4px;
    min-height: 4px;
    min-width: 4px;
    transform: translate(-1px, -1px);
    opacity: 0
    }
10%{ opacity: 0.99;}
25%{ opacity: 1;}
50%{
    background-color: color-mix(in srgb, red 80%, transparent);
    color: transparent;
    box-shadow: none;
    outline: 1px solid var(--contrast-color);
    border-radius: 50%;
    height: 4px;
    width: 4px;
    min-height: 4px;
    min-width: 4px;
    transform: translate(-1px, -1px);
    opacity: 0
    }
51%{
    background-color: inherit;
    color: none;
    outline: none;
    height: inherit;
    width: inherit;
    min-height: inherit;
    min-width: inherit;
    border-radius: 0 8px 0 4px;
    transform: translate(2px, -5px);
    opacity: 0;
    }
60%{ opacity: 0.99; }
85%{ opacity: 1; }
100%{
    color: none;
    outline: none;
    height: inherit;
    width: inherit;
    min-height: inherit;
    min-width: inherit;
    border-radius: 0 8px 0 4px;
    transform: translate(2px, -5px);
    opacity: 0;
    }
}

#PersonalToolbar toolbaritem .toolbarbutton-badge {
    animation: anima89 6s ease-in-out normal infinite;
}

#PersonalToolbar toolbaritem toolbarbutton:is(:hover,[open],:active) .toolbarbutton-badge {
    box-shadow: -1px 1px 0 hsla(0, 100%, 100%, .2) inset, 1px -1px 0px hsla(0, 100%, 100%, .2) inset, 0 1px 0 hsla(206, 50%, 10%, .2) !important;
    margin-top: -6px !important;
    margin-inline-end: -6px !important;
    animation: none !important;
    border-radius: 0 8px 0 4px !important;
}

/* hide badge of extensions when "0" */

toolbarbutton[badge="0"] .toolbarbutton-badge { display: none !important; }

/*-------------------------------------- Extensiones --------------------------------------
--------------------------------------------------------------------------------------------*/

/* Tab-group Extension */

#PersonalToolbar #panorama-tab-groups_example_com-BAP{
    --toolbarbutton-hover-background: var(--general-color) !important;
    fill: #eaeaea !important;
    list-style-image: url("../images/logo_tablero1.svg") !important;
}

/* _________________________ Trick for social extensions __________________________*/

#PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP image,
#PersonalToolbar #xrst_vardakis_gmail_com-BAP image,
#PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP image,
#PersonalToolbar #chatwappinsidebar_godie-BAP image,
#PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP image,
#PersonalToolbar #ublock0_raymondhill_net-BAP image,
#PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP image,
#PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP image,
#PersonalToolbar #sidebarinstagram_godie-BAP image,
#PersonalToolbar #panorama-tab-groups_example_com-BAP image
{
    height: 20px !important;
    width: 20px !important;
}

#PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #xrst_vardakis_gmail_com-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #chatwappinsidebar_godie-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #ublock0_raymondhill_net-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #sidebarinstagram_godie-BAP>.toolbarbutton-badge-stack,
#PersonalToolbar #panorama-tab-groups_example_com-BAP>.toolbarbutton-badge-stack
{
    --toolbarbutton-inner-padding: 6px !important;
}

/* New Icons for extensions */

/* Twitch Extension */
#PersonalToolbar #_d3d2a327-1ae0-4fd6-b732-0844d0b7fd4c_-BAP {
    list-style-image: url("../images/logo_twitch.svg") !important; }

/* Messenger Extension */
#PersonalToolbar #xrst_vardakis_gmail_com-BAP {
    list-style-image:url("../images/logo_messenger.svg") !important; }

/* Whatsapp Extension */
#PersonalToolbar #_34a257f3-adfe-460d-b6ca-7dd18d18506b_-BAP,
#PersonalToolbar #chatwappinsidebar_godie-BAP{
    list-style-image: url("../images/logo_whatsapp.svg") !important; }

/* Telegram Extension */
#PersonalToolbar #_14390478-b41b-4e29-8307-8a3c714f7783_-BAP{
    list-style-image: url("../images/logo_telegram.svg") !important; }

/* ublock Extension */
#PersonalToolbar #ublock0_raymondhill_net-BAP{
    list-style-image: url("../images/logo_ublock.svg") !important; }

/* Discord Extension */
#PersonalToolbar #_a16c3799-d903-44e3-b044-a032197f5ef8_-BAP{
    list-style-image: url("../images/logo_discord.svg") !important; }

/* Twitter Extension */
#PersonalToolbar #_3119ae66-3c2f-47e2-b1b1-1c76cb9c4ec1_-BAP{
    list-style-image: url("../images/logo_twitter.svg") !important; }

/* Instagram Extension */
#PersonalToolbar #sidebarinstagram_godie-BAP{
    list-style-image: url("../images/logo_instagram.svg") !important; }

/* mostrar más marcaddores - button */
#PersonalToolbar #bookmarks-menu-button {
  list-style-image: url("../images/logo_marcadores.svg") !important; }

/*------------- items en modo "customize toolbar -------------------"*/

/* Separador Horizontal */

#PersonalToolbar toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
    min-width: 0px !important;
    min-height: 2px !important;
    max-height: 72px !important;
    
}

/* Separador vertical */

:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"] {
    min-width: 10px !important;
    min-height: var(--tabs-height-personal) !important;
    max-height: var(--tabs-height-personal) !important;
    margin-block: 0 !important;
}

/* Alinear items in customize mode */

#PersonalToolbar toolbarpaletteitem[place="toolbar"] toolbarbutton {
    max-width: initial !important;
    margin-inline: 2px !important;
}

/* ícono de "Elementos de la barra de herramientas de marcadores" */

#wrapper-personal-bookmarks image {
    margin-inline-start: 7px !important;
}

#PersonalToolbar toolbarpaletteitem[place="toolbar"] toolbaritem toolbarbutton .toolbarbutton-badge {
    display: none !important;
}

/* Carpeta "Otros Marcadores" */
#OtherBookmarks image{
    margin-inline-start: 4px !important;
}

#OtherBookmarks {
    margin-inline: 4px !important;
    height: 26px !important;
    width: 28px !important;
}

/* ------------------------------ Nuevos margenes Botón menú ------------------------------- */

@media (-moz-platform: windows-win7), (-moz-platform: windows-win10), (-moz-platform: linux) {

/* Margin top para subir el menú [open] */
    
    :root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup {
        margin-top: calc(-1px - var(--tab-height-personal)) !important;
}

/* Logo */
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button .toolbarbutton-badge-stack {
        max-height: var(--tab-height-personal) !important;
        min-width: calc(var(--padding-left-tab) + 0px) !important;
        max-width: calc(var(--padding-left-tab) + 0px) !important;
        padding-inline-start: 4px !important;
        align-content: center !important;
        align-items: center !important;
        border: 1px solid transparent !important;
    }
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button image {
        min-height: 18px !important;
        min-width: 18px !important;
        justify-content: flex-start !important;
        justify-items: flex-start !important;
        margin-inline-start: 3px !important;
        
    }
    
    :root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open] image {
        margin-inline-start: calc(var(--margin-left-icons-personal) - 5px) !important;
    }
    
/* Label Menu */
    
:root:not([chromehidden~="toolbar"]):is([sizemode="maximized"]) #PanelUI-menu-button[open]>stack::after {
        padding-inline-start: 4px !important;
        padding-block: 7px 4px !important;
        min-height: 20px !important;
        max-height: 20px !important;
        box-shadow: none !important;
    }

/* menu :hover y open */
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button>.toolbarbutton-badge-stack {
        max-height: calc(var(--tab-height-personal) - 8px) !important;
        min-height: calc(var(--tab-height-personal) - 8px) !important;
        max-width: calc(var(--padding-left-tab) - 14px) !important;
        min-width: calc(var(--padding-left-tab) - 14px) !important;
        margin-inline-start: 8px !important;
        
    }
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]):hover>.toolbarbutton-badge-stack {
        background-color: var(--toolbarbutton-hover-personal) !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
    }
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[open]>.toolbarbutton-badge-stack {
        max-width: calc(var(--padding-left-tab) - 0px) !important;
        min-width: calc(var(--padding-left-tab) - 0px) !important;
        background-image: var(--noise-urlbar-personal) !important;
        background-color: var(--arrowpanel-background, #50505090) !important;
        border-radius: 0px !important;
        border-color: var(--toolbar-bgcolor) !important;
        width: 28.5em !important;
        margin-inline-start: 0px !important;
    }

:root:not([chromehidden~="toolbar"]):is([sizemode="normal"],[sizemode="fullscreen"]) #PanelUI-menu-button:is(:hover, [open])>.toolbarbutton-badge-stack {
        max-width: calc(var(--padding-left-tab) - 12px) !important;
        min-width: calc(var(--padding-left-tab) - 12px) !important;
        margin-left: 8px !important;
        border-radius: 6px !important;
    }
}
/* Tamaño nuevo botón Menú */

@media (-moz-platform: windows-win7), (-moz-platform: windows-win10), (-moz-platform: linux) {
:root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #PanelUI-menu-button, :root[sizemode="maximized"] #appMenu-popup {
    --tab-height-personal: 40px !important;
    }}

/* Botón Menú [open] no muy grande */

@media (-moz-platform: windows-win7), (-moz-platform: windows-win10), (-moz-platform: linux) {
:root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup>panelmultiview>box>box>panelview {
    padding-top: calc(-10px + var(--tab-height-personal)) !important;
    z-index: 2 !important;
    }}

@media (-moz-platform: windows-win7), (-moz-platform: windows-win10), (-moz-platform: linux) {
:root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup {
    clip-path: polygon(0% 0%, 0% 100%, 1% 53%, 0 10px, calc(var(--padding-left-tab) + 4px) 10px,
               calc(var(--padding-left-tab) + 4px) calc(var(--tab-height-personal) - 4px), 0 calc(var(--tab-height-personal) - 4px), 0 100%, 100% 100%, 100% 0%);
    }}

/* Nuevo margen label Account */
@media (-moz-platform: windows-win7), (-moz-platform: windows-win10), (-moz-platform: linux) {
#appMenu-fxa-label2 label, #fxa-manage-account-button label{
        margin-inline-start: calc(var(--margin-left-icons-personal) - 38px) !important;
    }

/* Menu :hover */

@media (-moz-platform: windows-win7), (-moz-platform: windows-win10), (-moz-platform: linux) {
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]):hover>.toolbarbutton-badge-stack {
        border-radius: 8px !important;
    }
}

/* Baner de -actualización disponible- */

@keyframes slide1 {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

#PanelUI-menu-button[badge-status="update-available"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
#PanelUI-menu-button[badge-status="update-downloading"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
#PanelUI-menu-button[badge-status="update-manual"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
#PanelUI-menu-button[badge-status="update-other-instance"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
#PanelUI-menu-button[badge-status="update-restart"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
#PanelUI-menu-button[badge-status="update-unsupported"]>.toolbarbutton-badge-stack>.toolbarbutton-badge {
    display: none !important;
}

:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-available"]:not([open]) .toolbarbutton-badge-stack, 
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-downloading"]:not([open]) .toolbarbutton-badge-stack, 
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-manual"]:not([open]) .toolbarbutton-badge-stack, 
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-other-instance"]:not([open]) .toolbarbutton-badge-stack, 
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-restart"]:not([open]) .toolbarbutton-badge-stack, 
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="update-unsupported"]:not([open]) .toolbarbutton-badge-stack, 
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="addon-alert"]:not([open]) .toolbarbutton-badge-stack, 
:root:not([chromehidden~="toolbar"]) #PanelUI-menu-button[badge-status="fxa-needs-authentication"]:not([open]) .toolbarbutton-badge-stack {
    list-style-image: url("../images/foxFill.svg") !important;
    fill: var(--general-color) !important;
    animation: 2000ms infinite ease;
    animation-name: slide1;
    margin-inline: 0px !important;
    border-radius: 50% !important;
}

/* Compatibilidad para <sidebar reborn> */

#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    border-right: 1px solid var(--border-contrast-color);
    box-shadow: none !important;
    border-image: none !important;
}

/* Borde izquierda-derecha de la toolbar */

:root:not([sizemode="fullscreen"]) #nav-bar {
    border-radius: 8px !important;
    margin-inline-start: calc(var(--padding-left-tab) + 9px) !important;
    margin-inline-end: 4px !important;
    margin-bottom: 2px !important;
}