/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

@media not -moz-pref("firefoxone.without-default-colors") {
  
  @media (prefers-color-scheme: dark) {
    :root {
      --tab-background-color-selected: #4d5578 !important;                                           /* tab_selected */
      --toolbar-background-color: #2d3246 !important;                                                /* toolbar */
      --toolbarbutton-background-color-hover: #4c547b !important;                                 /* button_background_hover */
      --toolbar-field-background-color-focus: #4c547b !important;                           /* toolbar_field_focus */
      --toolbar-field-open-background-color: #363844cc !important;                          /* toolbar_field_open - personal variable */
    }
     
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]) {
      --lwt-accent-color: #030614 !important;                                               /* frame */
      --toolbarbutton-icon-fill: #c7cdd0 !important;                                        /* icons */
      --toolbar-field-text-color: var(--toolbarbutton-icon-fill) !important;                     /* toolbar_field_text */
      --arrowpanel-background: #272b3f !important;                                          /* popup */
      --panel-text-color: var(--toolbarbutton-icon-fill) !important;                        /* toolbar_field_text */
      --tab-selected-outline-color: transparent !important;                                 /* tab_line */
      --toolbarbutton-hover-personal: var(--toolbarbutton-background-color-hover) !important;     /* button_background_hover */
      --tab-selected-box-shadow: 0px 5px 7px color-mix(in srgb, 
        var(--lwt-accent-color, Field) 82%, var(--tab-selected-textcolor)) !important;      /* selected tab shadow */
      /*--my-content-border-color: color-mix(in srgb, var(--toolbar-background-color), transparent) !important;/**/
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --tab-background-color-selected: #ffffff !important;                                           /* tab_selected */
      --toolbar-background-color: #ffffff !important;                                                /* toolbar */
      --toolbarbutton-background-color-hover: #becfda !important;                                 /* button_background_hover */
      --toolbar-field-background-color-focus: #e7edf1 !important;                           /* toolbar_field_focus */
      --toolbar-field-open-background-color: #ffffffcc !important;                          /* toolbar_field_open - personal variable */
    }
    
    :root:not([style*="--lwt-additional-images"],[lwtheme-image]) {
      --lwt-accent-color: #d8e2eb !important;                                               /* frame */
      --toolbarbutton-icon-fill: #372f4c !important;                                        /* icons */
      --toolbar-field-text-color: var(--toolbarbutton-icon-fill) !important;                     /* toolbar_field_text */
      --arrowpanel-background: #eff3f5 !important;                                          /* popup */
      --panel-text-color: var(--toolbarbutton-icon-fill) !important;                        /* toolbar_field_text */
      --tab-selected-outline-color: transparent !important;                                 /* tab_line */
      --toolbarbutton-hover-personal: var(--toolbarbutton-background-color-hover) !important;     /* button_background_hover */
      --tab-selected-box-shadow: 0px 5px 7px color-mix(in srgb, 
        var(--lwt-accent-color, Field) 82%, var(--tab-selected-textcolor)) !important;      /* selected tab shadow */
      /*--my-content-border-color: color-mix(in srgb, var(--toolbar-background-color), transparent) !important;/**/
    }
  }
}

/* ___________ Tabs groups ___________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
:root {
  tab-group {
    --tab-group-line-thickness: var(--my-group-line-thickness) !important;                              /* Tab-group line width */
    --tab-selected-outline-color: light-dark(var(--tab-group-color, var(--general-color)),
      var(--tab-group-color-invert, var(--general-color))) !important;                                  /* tab_line in 'group-tab' without default-colors */
    --tab-loading-fill: var(--tab-selected-outline-color) !important;                                   /* Dot color when page loads */
    --my-tab-group-background: color-mix(in srgb, var(--tab-group-color-invert) 15%, var(--toolbar-background-color));  /* Tab background */
  }
}

:root {
  --my-main-gradient-background: linear-gradient(to top, 
    var(--lwt-accent-color)                                                             /* Gradiente background used in themes with images */
    calc(100% - 200px), 
    transparent );
  
  /* Toolbox Background & text color \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  /*--lwt-accent-color: #09080d !important;                                                           /* frame */
  --lwt-accent-color-inactive: var(--lwt-accent-color, Field) !important;                             /* frame_inactive */
  /*--toolbox-text-color: blue !important;                                                            /* tab_background_text - focused window */
  /*--toolbox-text-color-inactive: red !important;                                                    /* tab_background_text - unfocused window */
  /*--lwt-text-color: inherit !important;                                                             /* tab_background_text - general focus & unfocused window */
  --inactive-titlebar-opacity: 1 !important;                                                          /* Opacity unfocused window */
  text-shadow: none !important;                                                                       /* Remove shadow in 'window controls' in some themes with images */
  
  /* Tabs \
  ¯¯¯¯¯¯¯¯ */
  --tab-block-margin: 5px !important;                                                                 /* Tab margins - change this will break the theme */
  --tab-block-margin-personal: 5px 8px !important;                                                    /* Top margin of tabs - variable personal */
  --tab-min-height: var(--tab-height-personal) !important;                                            /* Tab size */
  --tabstrip-min-height: var(--tab-height-personal) !important;                                       /* Tab min size */
  --tabs-shadow-size: 0px !important;                                                                 /* Tab shadow */
  --tab-border-radius: calc(var(--my-toolbar-border-radius)/2) !important;                            /* Tab roundness */
  --tab-attention-dot-color: var(--general-color) !important;                                         /* Dot below favicon */
  --tab-overflow-clip-margin: 1px !important;                                                         /* Space between tabs */

  /* Selected tab \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  /*--tab-selected-outline-color: transparent !important;                                             /* Selected tab border color */
  --tab-loading-fill: var(--general-color) !important;                                                /* Dot color when page loads */
  --tab-background-color-hover: var(--toolbarbutton-hover-personal) !important;                       /* Tab background when 'hover' */
  /*--tab-background-color-selected: transparent !important;                                          /* tab-selected background color - Fix 'flash' bug when add tab 'hover' transition
                                                                                                      -- test in theme with images - theme with colored tab selected */
  /*--tab-selected-textcolor: var(--my-font-color) !important;                                        /* tab_selected text color */

  /* Navbar \
  ¯¯¯¯¯¯¯¯¯¯ */
  /*--toolbar-background-color: var(--tab-background-color-selected) !important;                      /* toolbar background */
  /*--toolbar-text-color: var(--toolbarbutton-icon-fill) !important;                                  /* toolbar label color */
  /*--tabs-navbar-separator-color: transparent !important;                                            /* Separator color between tabs and navbar */
  --chrome-content-separator-color: none !important;                                                  /* toolbar_bottom_separator */

  /* Navbar field \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --toolbar-field-background-color: transparent !important;                                           /* toolbar_field */
  /*--toolbar-field-text-color: var(--toolbar-text-color) !important;                                 /* toolbar_field_text */
  --toolbar-field-border-color: transparent !important;                                               /* toolbar_field_border */

  /* Navbar field - focus \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  /*--toolbar-field-background-color-focus: var(--panel-background-color) !important;                 /* toolbar_field_focus */
  --toolbar-field-text-color-focus: var(--tab-selected-textcolor) !important;                         /* toolbar_field_text_focus */
  --toolbar-field-border-color-focus: transparent !important;                                         /* toolbar_field_border_focus */
  --lwt-toolbar-field-highlight: var(--general-color) !important;                                     /* toolbar_field_highlight */
  --lwt-toolbar-field-highlight-text: var(--my-scheme-color) !important;                              /* toolbar_field_highlight_text -|Maybe a legacy variable|- */
  --toolbar-field-open-background-color: color-mix(in srgb, 
    var(--toolbar-field-background-color-focus) 85%, transparent);                                    /* toolbar_field_open - personal variable */
  
  --autocomplete-popup-hover-background: var(--color-accent-primary-small) !important;                /* background 'Search suggestions' 'hover' ^|v */
  --urlbarview-separator-color: transparent !important;                                               /* Urlbar 'open' - Separator color  */
    --border-radius-urlbar-personal: 4px;                                                             /* Personal variable - urlbar roundness */
  
  /* Navbar field items \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --urlbar-box-background-color-hover: var(--color-accent-primary-xsmall) !important;                 /* Background urlbar icons when 'hover' */
  --urlbar-box-background-color-active: var(--color-accent-primary-small) !important;                 /* Background urlbar icons when 'active' */
  /*--urlbar-box-text-color-hover: contrast-color(var(--color-accent-primary-xsmall)) !important;     /* Icon fill when 'hover' & 'open' */
  --urlbar-inner-border-radius: 3px !important;                                                       /* Roundness of url bar icons */
  --urlbar-icon-padding: calc((var(--urlbar-min-height) - 5px - 5px - 16px ) / 2) !important;         /* Urlbar icon padding */
  --urlbar-input-gap: 10px !important;                                                                /* Margin between 'trust' icon and url */
  --urlbar-basic-component-size: calc(var(--urlbar-min-height) - 5*                                   /* Url icon size - height & width */
    (var(--urlbar-input-container-border-width) + var(--urlbar-input-container-padding))) !important;
  
  /* Toolbar buttons \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  /*--toolbarbutton-icon-fill: blue !important;                                                       /* icons */
  /*--toolbarbutton-icon-fill-attention: red !important;                                              /* icons_attention */
  --toolbarbutton-padding-inner: 6px !important;                                                      /* Smaller toolbar buttons */
  --toolbarbutton-padding-outer: 2px !important;                                                      /* Space between buttons */
  --toolbarbutton-border-radius: 5px !important;                                                      /* Buttons roundness */
  --toolbarseparator-color: var(--toolbarbutton-hover-personal) !important;                           /* Bookmarks-bar separator */
  --toolbar-padding-inline: 9px !important;                                                           /* Padding left-right in first/last toolbar button */
  
  /* Panels - Arrowpanels \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --arrowpanel-background: var(--panel-background-color) !important;                                  /* popup background - variable removed in firefox v.151 */
  --panel-box-shadow-margin: 1px !important;                                                          /* Space for shadow - external border in panels */
  --panel-border-radius: 6px !important;                                                              /* Roundness */
  --panel-subview-body-padding: 4px 0px !important;                                                   /* Popup main padding */
  /*--menu-panel-width-wide: 29em !important;                                                         /* Popup width */
  /*--panel-text-color: red !important;                                                               /* popup_text */
  /*--button-text-color-ghost: red !important;                                                        /* popup_text - other */
  /*--panel-border-color: red !important;                                                             /* popup_border */
  /*--autocomplete-popup-highlight-background: var(--color-accent-primary-hover);                     /* popup_highlight */
  /*--panel-padding: 16px !important;                                                                 /* Padding in 'notification' popup */

  /*--panel-menuitem-margin: 0px !important;                                                          /* Marging for each item */
  --panel-menuitem-margin-inline: 4px !important;                                                     /* Padding popup 'elements' */
  
  --panel-menuitem-padding-block: 8px !important;                                                     /* Padding block for each item */
  --panel-menuitem-padding-inline: 8px !important;                                                    /* Padding inline for each item */
  --panel-menuitem-border-radius: 4px !important;                                                     /* Menuitems 'hover' roundness */

  --panel-separator-padding-vertical: 4px !important;                                                 /* Padding block of separator */
  --panel-separator-padding-horizontal: 12px !important;                                              /* Padding inline of separators */
  --panel-separator-color: color-mix(in srgb, 
    var(--panel-border-color) 90%, var(--tab-selected-textcolor)) !important;                         /* Separator color */
  --panel-separator-zap-gradient: none !important;                                                    /* Default Gradient - using Alpenglow theme */
  
  /* Firefox Sidebar \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --sidebar-background-color: var(--toolbar-background-color) !important;                             /* Sidebar-background */
  --sidebar-text-color: var(--toolbar-text-color, FieldText) !important;                              /* Sidebar label color */
  /*--sidebar-border-color: var(--my-content-border-color) !important;                                /* Sidebar border color */
  
  /* Links color \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --link-color: color-mix(in srgb, 
    var(--general-color) 90%, var(--tab-selected-textcolor)) !important;                              /* Color links - e.g. urlbar open */
  --link-color-hover: var(--my-font-color) !important;                                                /* Links 'hover' color */
  --link-color-active: var(--general-color);                                                          /* Links 'click' color */
  --link-color-visited: var(--purple);                                                                /* Link 'visited' color */
  
  /* Accent colors - Other variables placed in 'ogx_root-personal.css' \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --color-accent-primary: var(--general-color) !important;                                            /* Accent color */
  --color-accent-attention: var(--general-color) !important;                                          /* Accent color - don't know where it applies */
  accent-color: var(--general-color) !important;
  
  /* Buttons \
  ¯¯¯¯¯¯¯¯¯¯¯ */
  --button-background-color: light-dark(
    lch(from var(--arrowpanel-background, var(--background-color-canvas)) calc(l - 20) c h),
    lch(from var(--arrowpanel-background, var(--background-color-canvas)) calc(l + 20) c h)) !important;  /* Normal buttons background */
  --button-background-color-hover: var(--color-accent-primary-hover) !important;                          /* Normal buttons background 'hover' - test in Private - clear session button */
  --border-radius-medium: 4px !important;                                                                 /* Roundness of various buttons */
  
  --button-text-color-primary: contrast-color(var(--button-background-color-primary-hover)) !important;   /* Primary Button text color - Test it in Notification when closing the browser */  
  --button-border-color-primary: var(--color-accent-primary-xsmall) !important;                           /* Primary Button border color */
  --button-background-color-primary-disabled: var(--color-accent-primary-xsmall) !important;              /* Primary button when disabled */
  --button-text-color-primary-disabled: GrayText !important;                                              /* Primary Button text color when disabled */  
  --button-border-color-primary-disabled: transparent !important;                                         /* Primary Button border color when disabled */
  
  /* Trust arrowpanel \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --trustpanel-highlight-bg: var(--color-accent-primary-small) !important;                                /* Trust button - Background when 'connection secure' */
  --trustpanel-graphic-bg: light-dark(var(--color-gray-20), var(--color-gray-100)) !important;            /* Trust button - Background when protection is off */
  --trustpanel-inner-border: 1px solid var(--color-accent-primary-small) !important;                      /* Trust button - Border color - 0 trackers */
  
  /* Variable used for RTL languajes */
  &:dir(rtl) {
        --rtl-variable: -1;
  }
}

/* _________________________________________________________________ Dark theme _________________________________________________________________ */

@media (prefers-color-scheme: dark) {
  :root {
    --my-scheme-color: #000000 !important;                                                                          /* variable used to modify colors */
    --my-scheme-border-color: #000000 !important;                                                                   /* variable used to modify colors */
    
    --my-content-border-color: color-mix(in srgb, var(--toolbar-background-color) 92%, var(--tab-selected-textcolor));

    --tab-selected-textcolor: #ffffff !important;                                                                         /* tab_text */
    --my-font-color: white !important;

    --toolbarbutton-background-color-active: color-mix(in srgb, 
      var(--toolbarbutton-background-color-hover) 95%, var(--tab-selected-textcolor)) !important;                                /* button_background_active */  
    --toolbarbutton-hover-personal: var(--toolbar-field-open-background-color) !important;                               /* Button personal color when 'hover' */

    --toolbar-field-open-background-color: color-mix(in srgb, var(--toolbar-field-background-color-focus) 90%, transparent);

    --panel-border-color: color-mix(in srgb, 
      var(--arrowpanel-background) 90%, var(--tab-selected-textcolor)) !important;                                        /* popup_border */

    scrollbar-color: #38375580 #18173530 !important;                                                                      /* Scroll bar colors */

    --noise-urlbar-personal: url("../icons/urlbar-noise-light.png") !important;                                           /* Urlbar [open] - noise background */
    --my-beats-image: url("../icons/Beats.webp") !important;
    
    --input-bgcolor: color-mix(in srgb, var(--arrowpanel-background) 70%, var(--my-scheme-border-color)) !important;          /* Color of the 'input box' when saving a bookmark */
    --focus-outline-color: var(--general-color) !important;                                                                 /* Border color of the 'input box' when :focused */
    --input-border-color: color-mix(in srgb, var(--arrowpanel-background) 88%, var(--tab-selected-textcolor)) !important;   /* Border Color of the 'input box' non focused */
    --Button-background-personal: color-mix(in srgb, var(--arrowpanel-background) 82%, var(--general-color)) !important;    /* Buttons background color - personal variable */

  }}

/* _________________________________________________________________ White Theme ________________________________________________________________ */

@media (prefers-color-scheme: light) {
  :root {

    --my-scheme-color: #f9f9f9 !important;                                                                          /* variable used to modify colors */
    --my-scheme-border-color: lch(from var(--panel-border-color) l c h / 20%) !important;                           /* External border in some panels */
    
    --my-content-border-color: color-mix(in srgb, var(--toolbar-background-color) 80%, var(--tab-selected-textcolor));

    --tab-selected-textcolor: #101019 !important;                                                                         /* tab_text */
    --my-font-color: black !important;

    --toolbarbutton-background-color-active: color-mix(in srgb, var(--toolbar-background-color) 84%, black) !important;                  /* button_background_active */
    --toolbarbutton-hover-personal: var(--toolbar-field-open-background-color) !important;/* Button personal color when 'hover' */

    --panel-border-color: color-mix(in srgb, 
      var(--arrowpanel-background) 80%, var(--tab-selected-textcolor)) !important;                                        /* popup_border */

    scrollbar-color: #d8d9da var(--toolbar-background-color) !important;                                                           /* Scroll bar colors */

    --noise-urlbar-personal: url("../icons/urlbar-noise-light.png") !important;                                           /* Urlbar [open] - noise background */
    --my-beats-image: url("../icons/Beats.gif") !important;
    
    --input-bgcolor: color-mix(in srgb, var(--arrowpanel-background) 90%, black) !important;                              /* Color of the 'input box' when saving a bookmark */
    --focus-outline-color: var(--general-color) !important;                                                               /* Border color of the 'input box' when 'focused' */
    --input-border-color: color-mix(in srgb, var(--arrowpanel-background) 70%, black) !important;                         /* Border Color of the 'input box' 'non focused' */
    --Button-background-personal: color-mix(in srgb, var(--arrowpanel-background) 82%, var(--general-color)) !important;  /* Buttons background color - personal variable */

  }}

/* __________________________________________________ Partial support for themes using "Images" _________________________________________________ */

:root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
  --toolbar-background-color: color-mix(in srgb,var(--my-toolbar-bgcolor),transparent var(--brightness-toolbar)) !important;     /* toolbar */
  --tab-background-color-selected: color-mix(in srgb, var(--my-toolbar-bgcolor), var(--my-toolbar-bgcolor)) !important;          /* tab_selected */
  --toolbar-field-background-color: transparent !important;                                                             /* toolbar_field */
  --toolbar-field-text-color: var(--toolbar-text-color) !important;                                                               /* toolbar_field_text */
  --toolbar-field-border-color: transparent !important;                                                                 /* toolbar_field_border */
}

@media (prefers-color-scheme: dark) {
  :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
    --my-toolbar-bgcolor: #1e1e2fbc;                                                                                    /* toolbar */
    --toolbar-field-background-color-focus: color-mix(in srgb, var(--general-color) 4%, #222222fc) !important;          /* toolbar_field_focus - url 'open' */
    --toolbarbutton-background-color-hover: var(--toolbarbutton-hover-personal) !important;                                   /* button_background_hover */
    --toolbarbutton-hover-personal: color-mix(in srgb, 
      transparent 85%, color-mix(in srgb, var(--tab-selected-textcolor) 80%, var(--general-color))) !important;          /* Button :hover color personal */
  }}

@media (prefers-color-scheme: light) {
  :root:is([lwtheme-image],[style*="--lwt-additional-images"]) {
    --my-toolbar-bgcolor: #f9f9f9bc;
    --toolbar-field-background-color-focus: color-mix(in srgb, var(--general-color) 14%, #f9f9f9ec) !important;         /* toolbar_field_focus */
    --toolbarbutton-background-color-hover: color-mix(in srgb, 
      var(--toolbar-field-background-color-focus) 100%, transparent) !important;                                        /* button_background_hover */
    --toolbarbutton-background-color-active: color-mix(in srgb, 
      var(--toolbar-field-background-color-focus) 94%, var(--tab-selected-textcolor)) !important;                       /* button_background_active */
    --toolbarbutton-hover-personal: color-mix(in srgb, 
      transparent 85%, color-mix(in srgb, var(--tab-selected-textcolor) 80%, var(--general-color))) !important;          /* Button :hover color personal */
    --my-content-border-color: color-mix(in srgb, var(--toolbar-background-color) 85%, var(--tab-selected-textcolor));
  }}

/* ___________________________________________________________ Private Browsing Mode ___________________________________________________________ 
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
:root[privatebrowsingmode="temporary"] {
  
  /* Toolbox Background \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --toolbox-background-image: var(--lwt-private-image)  !important;                   /* Background image */
  --toolbox-background-size: cover !important;                                        /* Background size */
  --tabpanel-background-color: transparent !important;                                /* Remove default gradient background in newtab page */
  --my-main-gradient-background: transparent !important;                              /* Remove unneeded gradient effect in newtab page */
  
  /* Selected tab \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --tab-background-color-selected: var(--toolbar-background-color) !important;        /* Selected tab border color */
  --tab-selected-outline-color: var(--general-color) !important;                      /* Selected tab border color */

  /* Font color \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --toolbox-text-color: var(--my-font-color) !important;                              /* tab_background_text - focused window */
  --toolbox-text-color-inactive: var(--my-font-color) !important;                     /* tab_background_text - unfocused window */
  --tab-selected-textcolor: var(--my-font-color) !important;                          /* tab_selected text color */

  /* Navbar \
  ¯¯¯¯¯¯¯¯¯¯ */
  --toolbar-background-color: color-mix(in srgb,
    var(--my-toolbar-bgcolor), transparent var(--brightness-toolbar)) !important;     /* toolbar background - important! test in solid themes */
  --toolbar-text-color: var(--my-font-color) !important;                              /* Toolbar text color */
  --toolbarbutton-icon-fill: var(--toolbar-text-color) !important;                    /* Toolbar icons color */
  --toolbarbutton-icon-fill-attention: var(--general-color) !important;               /* Toolbar icons fill */

  /* Panels - Arrowpanels \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  --arrowpanel-background: light-dark(#eeedf7, #121221) !important;                   /* popup background - variable personal */
  --panel-background-color: light-dark(#eeedf7, #121221) !important;                  /* popup background */
  --panel-text-color: var(--my-font-color) !important;                                /* popup text color */
  --input-color: var(--my-font-color) !important;                                     /* Label color - test it when saving a bookmark */
  
  /* _______-¯Dark theme colors¯-_______ \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  @media (prefers-color-scheme: dark) {
    --my-font-color: #bebebe !important;                                              /* General variable to use in Fonts color */
    --my-toolbar-bgcolor: #0e0c1d !important;                                         /* toolbar background */    
    --toolbar-field-background-color-focus: #231e48 !important;                       /* toolbar_field_focus */
  }
  
  /* _______-¯Light theme colors¯-_______ \
  ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
  @media (prefers-color-scheme: light) {
    --my-font-color: #404040 !important;                                              /* General variable to use in Fonts color */
    --my-toolbar-bgcolor: #eeedf7 !important;                                         /* toolbar background */
    --toolbar-field-background-color-focus: #cdc9e8 !important;                       /* toolbar_field_focus */
  }
}

/* ________________________________________ Colors when the theme selected is 'System theme - automatic' _______________________________________ */

@media not (prefers-contrast) {
  :root:not([lwtheme]) {
    --lwt-accent-color: light-dark(#f9f9f9, #101019) !important;                                                        /* Frame */
    --toolbox-bgcolor: light-dark(var(--lwt-accent-color), var(--lwt-accent-color)) !important;                         /* Frame window focus */
    --toolbox-bgcolor-inactive: light-dark(var(--lwt-accent-color), var(--lwt-accent-color)) !important;                /* Frame window unfocus */
    --toolbar-background-color: light-dark(#030615, #363844) !important;                                                         /* Toolbar */
    --arrowpanel-background: light-dark(#eff3f5, #2a2c36) !important;                                                   /* Popup */
    --toolbar-field-background-color-focus: light-dark(#e7edf1, #4c547b) !important;                                    /* Urlbar focus */
    --sidebar-background-color: light-dark(var(--toolbar-background-color), var(--toolbar-background-color)) !important;                  /* Sidebar content background */
    --toolbarbutton-icon-fill: light-dark(#101019, #c4bbd7) !important;                                                 /* Icons */
  }
  
  ::selection {
    background: var(--my-selected-text-background) !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}

/* _____________________ Set height of menu-bar, Bookmarks-bar */

/* Set menu-bar height */

:root:not([sizemode="fullscreen"]):has(#toolbar-menubar:not([autohide])) {
  --menubar-height-personal: 26px !important;
}

/* Set bookmarks-bar height */

:root:not([sizemode="fullscreen"]):has(#PersonalToolbar:not([collapsed])) {
  --bookmarksbar-height-personal: 30px !important;
}

#PersonalToolbar {
  max-height: var(--bookmarksbar-height-personal) !important;
}

/* __________________________________________ Sizes for other densities ___________________________________________
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

/* Compact density
   ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

:root[uidensity="compact"] {
  --tab-height-personal: 22px !important;
  --tabstrip-min-height: var(--tab-height-personal) !important;
  --toolbar-height-personal: 32px !important;
  --toolbarbutton-padding-inner: 3px !important;                                        /* Smaller toolbar buttons */
  --toolbarbutton-padding-outer: 3px !important;                                        /* More spaced buttons */
  --margin-left-icons-personal: -1px !important;
  
  &:root:has(#PersonalToolbar:not([collapsed])) {
  --bookmarksbar-height-personal: 22px !important;
  }
}

@media (not -moz-pref("firefoxone.style_without_leftsidebar")), -moz-pref("sidebar.revamp"), -moz-pref("firefoxgx.tree-tabs"), -moz-pref("firefoxgx.oneline") {
  :root[uidensity="compact"] {
    --my-vertical-toolbar-width: 44px !important;
  }}

/* Touch density
   ¯¯¯¯¯¯¯¯¯¯¯¯¯ */

:root[uidensity="touch"] {
  --tab-height-personal: 38px !important;
  --tabstrip-min-height: var(--tab-height-personal) !important;
  --tab-block-margin: 5px !important;
  --tab-block-margin-personal: 5px 8px !important;
  --toolbar-height-personal: 42px !important;
  --toolbarbutton-padding-inner: 8px !important;                                        /* Smaller toolbar buttons */
  --toolbarbutton-padding-outer: 4px !important;                                        /* More spaced buttons */
  
  &:root:has(#PersonalToolbar:not([collapsed])) {
    --bookmarksbar-height-personal: 34px !important;
  }
}

@media (not -moz-pref("firefoxone.style_without_leftsidebar")), -moz-pref("sidebar.revamp"), -moz-pref("firefoxgx.tree-tabs"), -moz-pref("firefoxgx.oneline") {
  :root[uidensity="touch"]{
    --my-vertical-toolbar-width: 58px !important;
  }}