/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* WindowsOS - window control icons */

@media (-moz-platform: windows) {

    .titlebar-button{
        background-color: transparent !important;
        padding-inline: 4px !important;
        padding-block-start: calc(var(--tab-block-margin-personal) + 4px) !important;
    }
    
    .titlebar-button:hover{
        background-color: transparent !important;
    }
    
    .titlebar-button.titlebar-min .toolbarbutton-icon,
    .titlebar-button.titlebar-restore .toolbarbutton-icon, .titlebar-button.titlebar-max .toolbarbutton-icon,
    .titlebar-button.titlebar-close .toolbarbutton-icon{
        width: 32px !important;
        height: 32px !important;
        padding: 9px !important;
    }
    
    .titlebar-button:hover .toolbarbutton-icon{
        background-color:  var(--toolbarbutton-hover-background) !important;
        border-radius: var(--tab-border-radius) !important;
    }
    
    .titlebar-button.titlebar-close:hover .toolbarbutton-icon{        
        background-color:  #e81123 !important;
    }
    
    /* Keep the same windows control icons in all the themes, includint the themes with images */
    
    .titlebar-button {
        background-color: transparent !important;
        -moz-context-properties: stroke !important;
        stroke: currentColor !important;
    }
    .titlebar-close:hover {
        background-color: transparent !important;
        color: white !important;
    }
    .titlebar-close {
        list-style-image: url(chrome://browser/skin/window-controls/close.svg) !important;
    }
    .titlebar-min {
        list-style-image: url(chrome://browser/skin/window-controls/minimize.svg) !important
    }
    .titlebar-max {
        list-style-image: url(chrome://browser/skin/window-controls/maximize.svg) !important
    }
    .titlebar-restore {
        list-style-image: url(chrome://browser/skin/window-controls/restore.svg) !important
    }
}

/* Linux default window control icons */

@media (-moz-platform: linux) {
    
    .titlebar-button{
        list-style-image: none !important;
        appearance: auto !important;
    }
    .titlebar-min {
        -moz-default-appearance: -moz-window-button-minimize !important;
    }
    .titlebar-max {
        -moz-default-appearance: -moz-window-button-maximize !important;
    }
    .titlebar-restore {
        -moz-default-appearance: -moz-window-button-restore !important;
    }
    .titlebar-close {
        -moz-default-appearance: -moz-window-button-close !important;
    }
    .titlebar-buttonbox {
        min-height: calc(var(--tab-block-margin-personal) * 2 + var(--tab-height-personal)) !important;
        max-height: calc(var(--tab-block-margin-personal) * 2 + var(--tab-height-personal)) !important;
        
    }
}

@media (-moz-gtk-csd-reversed-placement) {
    .titlebar-buttonbox-container {
        margin-inline: 2px 8px !important;
    }
}
