/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/firefox-one */

/*"Botón de cerrar pestaña" en windows y linux */

@media not -moz-pref("sidebar.verticalTabs") {

    :is(#TabsToolbar) .close-icon {
        list-style-image: url("../icons/close.svg") !important;
        width: 15px !important;
        height: 15px !important;
    }

    .tabbrowser-tab .tab-close-button{
        display: none !important;
    }

    .tabbrowser-tab:not([pinned]):hover .tab-close-button{
        display: block !important;
        border-radius: 3px !important;
    }

    :is(#TabsToolbar) .tab-close-button {
        padding: 4px !important;
    }

    :is(#TabsToolbar) .tab-close-button:hover {
        background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 40%, var(--border-contrast-color)) !important;
        fill: var(--general-color) !important;
    }

    :is(#TabsToolbar) .tab-close-button:hover,
    :root:not([chromehidden~="toolbar"]):is([lwtheme-image],[style*="--lwt-additional-images"]) :is(#TabsToolbar) tab:not([selected]) .tab-close-button:hover{
        background-color: color-mix(in srgb, var(--contrast-color) 50%, transparent) !important;
    }
}

#tabbrowser-tabs[orient="vertical"] {
    
    &:is([selected]):not(:hover) {
        opacity: 0 !important;
    }
    
    &:not([expanded]) {
        & .tab-close-button {
            width: 12px !important;
            height: 12px !important;
            padding: 1px !important;
            background: var(--tab-selected-textcolor) !important;
            fill: var(--contrast-color) !important;
            outline-color: transparent !important;
            top: -1px !important;
            inset-inline-start: 6px !important;
            
            &:hover {
                fill: var(--contrast-color) !important;
                background: var(--general-color) !important;
            }
        }
    }
    &[expanded] {
        & .tab-close-button {
            height: 20px !important;
            width:  20px !important;
            padding: 4px !important;
            margin-inline-end: -4px !important;
            border-radius: 2px !important;

            &:hover {
                background-color: var(--contrast-color) !important;
                fill: var(--general-color) !important;
            }
        }
    }
}