/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/*Botones generales*/

/* Botón info*/

.panel-info-button{ border-radius: 3px !important; color: var(--toolbarbutton-icon-fill) !important; }
.panel-info-button:is(:hover){ background-color: var(--button-hover-bgcolor) !important; border-radius: 2px !important; color: white !important;}
.panel-info-button:not(:hover)[checked]{ background-color: var(--general-color) !important; border-radius: 2px !important; color: white !important;}

/*-"Radiobutton"-ProtecciónAntirastreo*/

.protections-popup-tp-switch:not([enabled]):not(:hover){background-color: color-mix(in srgb, var(--arrowpanel-background) 88%, var(--lwt-tab-text)) !important;}
.protections-popup-tp-switch::before {outline: none !important; }
.protections-popup-tp-switch:not([enabled]):hover{background-color: var(--button-bgcolor) !important;}
.protections-popup-tp-switch[enabled]:hover {background-color: var(--button-hover-bgcolor) !important; border-color: transparent !important; }
.protections-popup-tp-switch[enabled]{background-color: var(--button-active-bgcolor) !important; border-color: transparent !important; }

/*color Rojo de boton "borrar marcador"*/

#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton label{
display: none !important;
}

#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton{
background: url("../images/delete.svg") no-repeat center/16px !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    -moz-context-properties: fill !important;
}

#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton {
    background-color: var(--input-border-color) !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border-radius: 3px !important;
}

#editBookmarkPanelBottomButtons>#editBookmarkPanelRemoveButton:hover {
    background-color: #da3633 !important;
    color: #f0f6fc !important;
    box-shadow: none !important;
    fill: white !important;
}

/*color letras de boton "Guardar" marcador en :hover*/

#editBookmarkPanelBottomButtons>#editBookmarkPanelDoneButton {   
    color: white !important;
    border-radius: 4px !important;
}

/*Color del botón menú deplegable*/

panel menulist, panel menulist:not([open]) {
    background-color: var(--input-border-color) !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border-radius: 3px !important;
}

panel menulist:hover, panel menulist[open] {
    background-color: var(--general-color) !important;
    color: #ffffff !important;
    box-shadow: none !important;
}

/*Color -fondo y borde-(flecha hacia abajo)*/

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
    background-color: var(--input-border-color) !important;
    box-shadow: inset 0px 0px 0 1px var(--input-border-color) !important;
    border: none !important;
    border-radius: 3px !important
}

#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover {
    box-shadow: none !important;
    background-color: var(--general-color) !important;
    color: #ffffff !important;
}

/*Color -fondo y "letras" - menu desplegable*/

treechildren::-moz-tree-row(selected) {
    background-color: var(--button-active-bgcolor) !important;
    outline: none !important;
}

treechildren::-moz-tree-image(selected), treechildren::-moz-tree-twisty(selected), treechildren::-moz-tree-cell-text(selected) {
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#editBMPanel_folderTree treechildren{
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#editBMPanel_tagsSelector{
    background-color: var(--arrowpanel-background) !important;
    border: 1px solid var(--button-bgcolor) !important;
}

/* Quitar linea gradiente en botones de extensiones puestas en la Barra de herramientas y de pestañas */

:is(#nav-bar,#TabsToolbar, #PersonalToolbar) toolbaritem .toolbarbutton-1 { background-image: none !important; }

/*--------------------------Marcadores----------------------------------*/

/* Barra de marcadores - color [open] */

toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"])[open] {
    color: var(--lwt-tab-text) !important;  
    fill:  var(--lwt-tab-text) !important; 
}

/* Barra de marcadores - color :hover */

#PersonalToolbar .toolbarbutton-1 , toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"]) {text-shadow: none !important; }

#PersonalToolbar .toolbarbutton-1:hover , toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover {
    color: var(--toolbarbutton-icon-fill) !important;  
    fill:  var(--toolbarbutton-icon-fill) !important; 
    --toolbarbutton-hover-background: var(--toolbarbutton-hover-personal) !important; 
}

/*Color de "highlight" inputtext*/

richlistitem[selected="true"], #editBMPanel_namePicker::selection , #editBMPanel_tagsField::selection{
    background-color: var(--general-color) !important;
    color: #ffffff !important;
}

richlistitem, #editBMPanel_namePicker , #editBMPanel_tagsField{
    color: var(--lwt-tab-text) !important;
}

/*################# Color de iconos de la tabs-bar cuando están :hover ###################### */

#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"],[open="true"],#tabs-newtab-button,  #new-tab-button) > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"],[open="true"],#tabs-newtab-button,  #new-tab-button) > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"],[open="true"],#tabs-newtab-button,  #new-tab-button) > .toolbarbutton-badge-stack{
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-personal), var(--contrast-color)) !important;
}

#TabsToolbar .toolbarbutton-1[open="true"] > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1[open="true"] > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1[open="true"] > .toolbarbutton-badge-stack {
    background-color: var(--arrowpanel-background) !important;
}

/*Color de iconos de la tabs-bar cuando están :hover en temas con imágenes */

:root:is([lwtheme-image],[style*="--lwt-additional-images"])
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"],[open="true"],#tabs-newtab-button,  #new-tab-button) > .toolbarbutton-icon,
:root:is([lwtheme-image],[style*="--lwt-additional-images"])
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"],[open="true"],#tabs-newtab-button,  #new-tab-button) > .toolbarbutton-text,
:root:is([lwtheme-image],[style*="--lwt-additional-images"])
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"],[open="true"],#tabs-newtab-button,  #new-tab-button) > .toolbarbutton-badge-stack{
    background-color: var(--toolbarbutton-hover-background) !important;
}

:root:is([lwtheme-image],[style*="--lwt-additional-images"])
#TabsToolbar .toolbarbutton-1[open="true"] > .toolbarbutton-icon,
:root:is([lwtheme-image],[style*="--lwt-additional-images"])
#TabsToolbar .toolbarbutton-1[open="true"] > .toolbarbutton-text,
:root:is([lwtheme-image],[style*="--lwt-additional-images"])
#TabsToolbar .toolbarbutton-1[open="true"] > .toolbarbutton-badge-stack {
    background-color: var(--toolbarbutton-active-background) !important;
}

/* Barra de menú */

#main-menubar>menu {
    text-shadow: none !important;
    border-radius: calc(var(--toolbarbutton-border-radius) + 6px) !important;
    background-color: transparent !important;
}

#main-menubar>menu label{
    margin-bottom: -2px !important;
}

#main-menubar>menu:is(:hover, [open]){
    background-color: var(--button-active-bgcolor) !important;
}

/* margin-right ultimo botón de la nav-bar*/

#nav-bar-overflow-button,
:root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #nav-bar:not([nonemptyoverflow]) #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):last-child{
    margin-inline-end: 3px !important;
}

/* :hover en botones de: all-tabs and unified extensions  */


.all-tabs-secondary-button{
    margin-inline-end: 4px !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
    border: none !important;
    width: 35px !important;
}

:root{ --uei-icon-size: 18px !important; }

#unified-extensions-panel .unified-extensions-item{
    padding-block: 0 !important;
    margin-block: 0px !important;
}

#unified-extensions-panel .subviewbutton{
    padding-block: 2px !important;
}

.unified-extensions-item-menu-button:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]) {
    background: transparent !important;
    padding-inline-end: 6px !important;
}

.unified-extensions-item-menu-button.subviewbutton.subviewbutton-iconic:hover image {
    background: var(--general-color) !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
}

/* Second label del botón de extenciones */

#unified-extensions-area toolbaritem:hover .unified-extensions-item-message-deck label{
    color: #ffffff !important;
}

@media (-moz-platform: linux) {
#unified-extensions-area toolbaritem .unified-extensions-item-message-deck label{
    appearance: none !important;
    font-size: 0.875em !important;
    width: -moz-available !important;
    }
}

/* Separador linea Vertical para tabs-bar, usando "espacio flexible" */
:is(#TabsToolbar) toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"],:is(#TabsToolbar) toolbarspring {
    background: #484d65 !important;
    max-width: 1px !important;
    min-width: 1px !important;
    max-height: 16px !important;
    min-height: 16px !important;
    margin-inline: 3px !important;
    margin-block-start: calc(var(--tab-block-margin) + 6px) !important;
}

/* Status panel */

#statuspanel label{
    background-color: var(--toolbar-bgcolor) !important;
    border-color: var(--lwt-frame) !important;
    margin: 0px 4px 4px 5px !important;
    border-radius: 0 8px 0 8px !important;
}
