/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

@media (-moz-platform: windows), (-moz-platform: linux) {
    :root {
        --label-color: color-mix(in srgb, var(--arrowpanel-color, var(--lwt-tab-text))80%, var(--Button-background-personal));
        --margin-left-icons-personal: 2px !important;
        --margin-right-icons-personal: 6px !important;
        --margin-left-separators: calc(var(--margin-left-icons-personal) + var(--margin-right-icons-personal) + 22px) !important;
        --menu-label: "" ;
        --padding-left-tab: 32px;
    }

/* ------------Menú hamburguesa-> top-left ------------- */
    
/*Posición*/
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-button {
        position: fixed;
        display: flex;
        top: var(--windowed-top-padding, 0px);
        z-index: 2 !important;
    }
    
/* Tamaño menu [Open] - ventana maximizada y no maximizada*/
    
    :root[sizemode="maximized"]:not([chromehidden~="toolbar"]) #appMenu-popup panelview {
        width: 28.5em !important;
    }
    #appMenu-popup panelview {
        width: 25.5em !important;
    }
    
/* Ocultar botón menú en modo "pantalla completa" */
    
    :root:is([chromehidden~="toolbar"], [sizemode="fullscreen"])>body>#browser, 
    :root:is([chromehidden~="toolbar"], [sizemode="fullscreen"])>body>#browser-bottombox,
    :root:is([chromehidden~="toolbar"], [sizemode="fullscreen"])>body>#customization-container {
        z-index: 3 !important;
    }
    
/* margen izquierda pestañas*/
    
    :root:not([chromehidden~="toolbar"]) #toolbar-menubar, :root:not([chromehidden~="toolbar"]) #toolbar-menubar[autohide="true"]+#TabsToolbar {
        padding-inline-start: calc(var(--padding-left-tab) + 8px) !important;
    }
    
/* tamaño botón Menú */
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button {
        padding: 0px !important;
        height: calc(var(--tab-height-personal) + var(--tab-block-margin) * 2) !important;
    }
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button>.toolbarbutton-badge-stack {
        height: calc(var(--tab-height-personal) + var(--tab-block-margin) / 2) !important;
        width: var(--padding-left-tab) !important;
        padding-inline: 2px !important;
    }
    
/* menu :hover y open */

    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button:not([open]):hover>.toolbarbutton-badge-stack {
        background-color: var(--toolbarbutton-hover-personal) !important;
        border-radius: 7px !important;
    }
    
    :root:not([chromehidden~="toolbar"],[sizemode="normal"],[sizemode="fullscreen"]) 
        #PanelUI-menu-button[open]>.toolbarbutton-badge-stack {
            --menu-label: "Menu" ;
            --padding-left-tab: 74px;
            background-image: var(--noise-urlbar-personal) !important;
            background-color: var(--arrowpanel-background, #50505090) !important;
            /* Simula el borde que falta al botón menú open */
            outline: 1px solid var(--arrowpanel-border-color) !important;
            outline-offset: -1px !important;
            box-shadow: -1px 0px var(--border-contrast-color)  !important;
    }

/* Logo */
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button {
        list-style-image: url("chrome://branding/content/icon32.png") !important;
    }
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button image {
        height: 18px !important;
        width: 18px !important;
        margin-inline: 5px !important;
    }
    
/* Label Menú */
    
    :root:not([chromehidden~="toolbar"]) #PanelUI-menu-button > stack{
        display: flex;
        align-items: center !important;
    }
    
    :root:not([chromehidden~="toolbar"])[sizemode="maximized"] #PanelUI-menu-button[open]>stack::after {
        width: var(--padding-left-tab) !important;
        content: var(--menu-label);
        color: var(--label-color) !important;
        background-image: var(--noise-urlbar-personal, var(--noise-urlbar-personal, none)),
                          linear-gradient(var(--arrowpanel-background), var(--arrowpanel-background)),
                          linear-gradient(var(--arrowpanel-background), var(--arrowpanel-background)) !important;
        padding-inline: calc(var(--margin-right-icons-personal) - 5px) 6px !important;
        padding-block: 6px !important;
        text-shadow: none !important;
    }
    
/* Padding top para hacer espacio para la fila del Label menú */
    
    :root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup>panelmultiview>box>box>panelview {
        padding-top: var(--tab-height-personal) !important;
    }
    
/* Margin top para subir el menú [open] */
    
    :root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup {
        --padding-left-tab: 74px !important;
        appearance: none !important;
        margin-top: calc(0px - var(--tab-block-margin) - var(--tab-height-personal)) !important;
        padding-inline-start: 4px !important;
        clip-path: polygon(0% 0%, 0% 100%, 1% 53%, 0 10px, calc(var(--padding-left-tab) + 4px) 10px,
               calc(var(--padding-left-tab) + 4px) calc(var(--tab-height-personal) + 2px), 0 calc(var(--tab-height-personal) + 2px), 0 100%, 100% 100%, 100% 0%);
        --arrowpanel-menuitem-padding: 6px !important;
        --arrowpanel-border-radius: 8px !important;
        --panel-separator-margin-horizontal: 0px !important;
    }

/* Separadores */
    
    :root:not([chromehidden~="toolbar"])[sizemode="maximized"]{
    #appMenu-popup.cui-widget-panel toolbarseparator {
        margin-inline-start: var(--margin-left-separators) !important;
        --panel-separator-margin-vertical: 2px !important;
        --panel-separator-margin: var(--panel-separator-margin-vertical) var(--panel-separator-margin-horizontal) !important;
        }
        
    /* Linea sobre label Account solo en ventana maximizada */
    
    #appMenu-fxa-status2 {
        padding-top: 2px !important;
        border-top: 1px solid var(--panel-separator-color) !important;
        border-image: linear-gradient(to left, var(--panel-separator-color), 
            var(--panel-separator-color) calc(100% - var(--margin-left-separators)), 
                             transparent calc(100% - var(--margin-left-separators))) 1 !important;
    }}
    
/* circulo de notificación de actualización */
    
    #PanelUI-menu-button[badge-status="update-available"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-downloading"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-manual"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-other-instance"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-restart"]>.toolbarbutton-badge-stack>.toolbarbutton-badge, 
    #PanelUI-menu-button[badge-status="update-unsupported"]>.toolbarbutton-badge-stack>.toolbarbutton-badge {
        box-shadow: none;
        margin: -6px -4px 0px !important;
        margin-inline-end: -9px !important;
    }
    
    #appMenu-popup .panel-banner-item {
        margin: 2px 0px 2px !important;
        padding-inline-start: calc(var(--margin-left-icons-personal) + 6px) !important;
    }
    
    .panel-banner-item::before {
        margin-inline-end: var(--margin-right-icons-personal) !important;
    }
    
/* Sobreescribir nuevo Tamaño y margen de los íconos - Trick para aplicar margen nuevo solo al menu hamburguesa maximizado */
    
    :root:not([chromehidden~="toolbar"])[sizemode="maximized"]{
        
    #appMenu-popup .subviewbutton:not(.subviewbutton-iconic, .toolbarbutton-text, [checked="true"])> .toolbarbutton-icon,                       /* Mayoría de botones */
    #appMenu-popup #appMenu-fxa-status2[fxastatus="signedin"] #appMenu-fxa-label2::before, #appMenu-popup #fxa-manage-account-button::before,   /* Account icon signedin */
    #appMenu-popup #appMenu-fxa-status2:not([fxastatus="signedin"])::before,                                                                    /* Account icon not signedin */
    #appMenu-popup #appMenu-zoom-controls:before, #appMenu-popup .syncNowBtn{           
        width: 16px; height: 16px;
        margin-inline-start: var(--margin-left-icons-personal) !important;
        margin-inline-end: var(--margin-right-icons-personal) !important;
    }
    
    #appMenu-popup .subviewbutton.subviewbutton-iconic:not(.subviewbutton-back) image{
        margin-inline-start: var(--margin-left-icons-personal) !important;
    }

    /* Margen-left en varios textos al lado de íconos */
    .subviewbutton-iconic> .toolbarbutton-text, 
    .subviewbutton[image]> .toolbarbutton-text, 
    .subviewbutton[targetURI]> .toolbarbutton-text, 
    .subviewbutton.bookmark-item > .toolbarbutton-text, 
    .subviewbutton[checked="true"] > .toolbarbutton-text {
        padding-inline-start: var(--margin-right-icons-personal) !important;
    }}

/* Margin top en Cuenta no iniciada */
    
    :root:not([chromehidden~="toolbar"]) #appMenu-fxa-status2:not([fxastatus="signedin"]) {
        padding-top: 4px !important;
    }
}

/* Menú más pequeño en linux*/

@media (-moz-platform: linux) {
    :root {
        --margin-left-icons-personal: 9px !important;
    }
    :root:not([chromehidden~="toolbar"])[sizemode="maximized"] #appMenu-popup {
        --arrowpanel-menuitem-padding: 5px !important;
    }
}
