/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-one */

/* Bookmark text */

.browser-toolbar:not(.titlebar-color) {
    color: var(--lwt-text-color) !important;
}

/* Barra de busqueda */

findbar{
    background-image: linear-gradient(var(--toolbar-bgcolor, transparent), var(--toolbar-bgcolor, transparent)),
                      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), 
                      var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position: left top !important;
    background-repeat: repeat !important;
    background-size: var(--display-theme-with-images) !important;
    box-shadow: none !important;
    z-index: 3 !important;
    color: var(--lwt-tab-text) !important;
    border: none !important;
}

:root:is([style*="--lwt-additional-images"],[lwtheme-image]) findbar{
    outline: 1px solid color-mix(in srgb, var(--toolbar-bgcolor) 96%, var(--lwt-tab-text)) !important;
    outline-offset: -1px !important;
}

.findbar-find-status[status="notfound"] {
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.findbar-textbox:focus {
    border-color: var(--general-color) !important;
    background-color: var(--arrowpanel-background) !important;
}

/* Vizualización correcta del porcentaje de zoom mostrado en la urlbar */

#urlbar-zoom-button {
    padding: 0px 4px !important;
    border-radius: 2px !important;
}

/* "popup_highlight" ---> 1.- keyboard highlight ;  2.-mouse highlight */

.urlbarView-row[selected], .urlbarView-row[row-selectable]:not([selected]):hover {
    --urlbar-popup-url-color: #ffffff !important; 
    background-color: var(--autocomplete-popup-hover-background) !important;
    --link-color: #ffffff !important;
    border-radius: 0px !important;
}

.urlbarView-row .urlbarView-row-inner {
    border-radius: 0px !important;
}

.urlbarView-row .urlbarView-url {
    font-weight: 501 !important
}

.urlbarView-title {
    font-size: 1.06em !important;
}

.urlbarView-tags, .urlbarView-url, .urlbarView-title:not(:empty)~.urlbarView-action {
    font-size: 1.0em !important;
}

/* tamaño letras urlbar */

#urlbar-input {
    font-weight: 501 !important;
    opacity: 0.9 !important;
}

/* Sugerencias de búsqueda */

.urlbarView {
    margin-inline: -11px !important;
    width: -moz-available !important;
}

.urlbarView-row {
    margin-top: -7px !important;
    margin-bottom: 5px !important;
}

.urlbarView-results {
    margin-bottom: -14px !important;
}

.urlbarView-row-inner {
    padding-left: 14px !important;
}

#urlbar .search-panel-header {
    padding-left: 14px !important;
}

#urlbar .search-one-offs {
    padding-right: 14px !important;
}

/* Botones de los diferentes buscadores url-bar open */

#urlbar .searchbar-engine-one-off-item {
    border-radius: var(--toolbarbutton-border-radius) !important;
}
#urlbar .searchbar-engine-one-off-item:hover {
    color: #ffffff !important;
}

.urlbarView-row:hover .urlbarView-favicon {
    background: var(--toolbar-field-focus-background-color) !important;
}

.urlbarView-favicon {
    color: var(--lwt-tab-text) !important;
    padding: 6px !important;
    border-radius: 8px !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
    clip-path: circle(50%);
}

/* Botones de acciones rápidas urlbar open */

.urlbarView-row[dynamicType="quickactions"] .urlbarView-quickaction-row {
    box-shadow: 0px 0px 1px rgba(128, 128, 142, 0.9) !important;
}

.urlbarView-row[dynamicType="quickactions"] .urlbarView-quickaction-row:hover {
    box-shadow: 0px 0px 0px 1px var(--autocomplete-popup-hover-background) !important;
}

/* Label "Sugerencias de firefox - Sugerencias de google" */

.urlbarView-row[label] {
    margin-top: 16px !important;
}

.urlbarView-row[label]::before {
    margin-inline-start: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.04em !important;
}

#nav-bar {
    min-height: var(--toolbar-height-personal) !important;
}

/* Urlbar */

#urlbar {
    min-height: calc(var(--toolbar-height-personal) - 8px) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 7px !important;
}

#urlbar:not([open], [focused]) #urlbar-background {
    border-radius: 7px !important;
    transition: ease-in 150ms !important;
    transition-delay: 80ms !important;
}

#urlbar:not([open], [focused]):hover #urlbar-background {
    background-color: var(--toolbarbutton-hover-background) !important;
    border-radius: 7px !important;
    border-color: transparent !important;
    transition: linear 150ms !important;
    transition-delay: 80ms !important;
}

#urlbar:not([open]):is([focused]) #urlbar-background {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#urlbar[focused] #urlbar-background {
    border-radius: 7px !important;
    box-shadow: none !important;
}

#urlbar[open] #urlbar-background {
    background-image: var(--noise-urlbar-personal) !important;
    border-radius: 10px !important;
    border-color: transparent !important;
}

#urlbar-input, #urlbar-scheme {
    padding-left: 6px !important;
}

#urlbar[open] {
    z-index: 4 !important;
}

@media (-moz-platform: windows) {
    #urlbar-input, #urlbar-scheme {
        padding-bottom: 2px !important;
    }
}

/* Brighness when urlbar [open]*/

#nav-bar[urlbar-exceeds-toolbar-bounds="true"]::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    pointer-events: none;
}

@supports -moz-bool-pref("firefoxone.without-default-colors") {
    #nav-bar, #PersonalToolbar, findbar {
    outline: 1px solid color-mix(in srgb, var(--toolbar-bgcolor) 96%, var(--lwt-tab-text)) !important;
    outline-offset: -1px !important;
    }
}

/* Bordes de las toolbar cuando left-sidebar no es usada */

#nav-bar, #PersonalToolbar {
    border-radius: 8px !important;
    margin-inline: 4px !important;
}

#nav-bar{
    margin-block-end: 1px !important;
}

#PersonalToolbar{
    padding-block: 1px !important;
    padding-inline: 1px !important;
}

:root:is([sizemode="fullscreen"]) #nav-bar{
    margin-bottom: 2px !important;
}

/* Search-bar */

#searchbar {
    min-height: 28px !important;
    max-height: 30px !important;
}

#searchbar:hover {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#searchbar:focus-within {
    border-color: var(--toolbar-field-focus-background-color) !important;
    box-shadow: none !important;
    background-color: var(--toolbarbutton-hover-background) !important;
}

#PopupSearchAutoComplete {
    appearance: none !important;
    margin-top: -1px !important;
    margin-left: -3px !important;
    --arrowpanel-border-color: none !important;
}

/* Páginas de extensiones */

#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button {
    background: transparent !important;
}

#identity-box.extensionPage label {
    display: none !important;
}

/* Páginas seguras de firefox */

/* Label e ícono */

#identity-icon-label {
    display: none !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    list-style-image: url("../images/foxFill.svg") !important;
    -moz-context-properties: fill !important;
    fill: var(--lwt-tab-text) !important;
    width: 15px !important;
    height: 15px !important;
    margin-inline: 2px 2px !important;
    opacity: 0.8 !important;
}

#identity-box[pageproxystate="valid"].chromeUI .identity-box-button:is(:hover, [open]) #identity-icon {
    fill: var(--lwt-tab-text) !important;
    opacity: 1 !important;
}

#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, 
#identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    margin-inline-end: 3px !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button, #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button, 
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button, #urlbar-label-box {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:hover:not([open]), 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:hover:not([open]) {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 85%, var(--lwt-tab-text)) !important;
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button[open="true"], 
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 78%, var(--lwt-tab-text)) !important;
}

/* alinear: "Conexión segura" en candado */

#identity-popup-security-button {
    margin-bottom: 0px !important;
}

/* -----------------> Íconos de la urlbar más pequeños <--------------------- */

/* Tamaño */

#tracking-protection-icon, #identity-icon, .sharing-icon, .desktop-notification-icon {
    height: 14px !important;
    width: 14px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.identity-box-button {
    padding-inline: 0px !important;
}

/* box, caja de íconos */

#identity-icon-box, #identity-permission-box, #notification-popup-box {
    margin-block: 3px !important;
    margin-inline: 2px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

#permissions-granted-icon, #identity-permission-box[hasPermissions], #blocked-permissions-container>.blocked-permission-icon {
    margin-inline: 2px !important;
    margin-right: 2px !important;
}

#blocked-permissions-container>.blocked-permission-icon {
    padding: 1px !important;
    margin-left: 0px !important;
}

/* íconos varios de permisos */

#notification-popup-box image {
    padding: 3px !important;
    height: 20px !important;
    width: 20px !important;
}

/* ícono de Permitir Notificaciones */

.popup-notification-icon[popupid="web-notifications"], .desktop-notification-icon {
    width: 16px !important;
    height: 16px !important;
    padding: 0px !important;
    margin-inline-start: 0px !important;
}

#notification-popup-box {
    width: 20px !important;
    height: 20px !important;
}

/* ícono Portección contra rastreo */

#tracking-protection-icon-container {
    margin-block: 3px !important;
    margin-inline: 3px 0px!important;
    padding: 2px !important;
}

#tracking-protection-icon {
    margin-inline-start: 1px !important;
    margin-block-start: 1px !important;
}

/* ícono bookmark, vista de lectura, etc */

.urlbar-page-action {
    width: 21px !important;
    height: 20px !important;
    margin-inline: 3px !important;
    padding: 3px !important;
    color: var(--toolbarbutton-icon-fill) !important;
}

.urlbar-page-action>.urlbar-icon {
    width: 15px !important;
    height: 15px !important;
}

/* Translate button */

#translations-button[translationsactive="true"]{
    width: initial !important;
    border-radius: 52px !important;
}

#translations-button[translationsactive="true"] .urlbar-icon{
    display: none !important;
}

#translations-button-locale {
    background-color: var(--button-active-bgcolor) !important;
    color: var(--lwt-tab-text) !important;
    border-radius: 52px !important;
    height: 20px !important;
    padding-top: 1px !important;
    padding-inline-start: 0px !important;
    margin-inline: -3px -3px !important;
    margin-block: -3px !important;
}

#translations-button:is([open], :hover) #translations-button-locale{
    background-color: var(--toolbarbutton-icon-fill) !important;
    color: var(--contrast-color) !important;
}

/* Fondo :hover de íconos de la urlbar" */

#notification-popup-box:hover:not([open="true"]), #identity-icon-box:hover:not([open="true"]), #identity-permission-box:hover:not([open="true"]), 
#tracking-protection-icon-container:hover:not([open="true"]), .urlbar-page-action:not([disabled], [open="true"]):hover, #urlbar-go-button:hover, 
.search-go-button:hover, #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button:hover {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 85%, var(--lwt-tab-text)) !important;
    border-radius: 4px !important;
}

/* Color verde de la descripción de web segura */

description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, 
#identity-popup-securityView-body>button {
    color: #2cf62c !important
}

/* Fondo active de íconos de la urlbar */

#notification-popup-box[open="true"], #identity-icon-box[open="true"], #identity-permission-box[open="true"], #tracking-protection-icon-container[open="true"], 
.urlbar-page-action:not([disabled])[open="true"], #urlbar-go-button[open="true"], .search-go-button[open="true"], 
:not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], :not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], 
.urlbar-icon-wrapper[open="true"], .urlbar-icon-wrapper[open="true"], .identity-box-button[open="true"], 
#tracking-protection-icon-container[open="true"], .identity-box-button[open="true"] .urlbar-page-action:not([disabled]):hover, 
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 78%, var(--lwt-tab-text)) !important;
    border-radius: 4px !important;
}

/* Eliminar ícono de -sitio anclado- en las sugerencias de busqueda */

.urlbarView-type-icon {
    display: none !important;
}

/*  --------------------------------------- Rounded corner in pages --------------------------------------- */

/* Nuevo espacio alrededor del contenido web */

.browserContainer {
    padding: 2px 5px 5px 5px !important;
}

.browserStack>browser{
    border-radius: 8px !important;
    outline: 2px solid var(--lwt-frame) !important;
    outline-offset: 1px !important;
    box-shadow: 0 0 4px 0px color-mix(in srgb, var(--lwt-frame) 85%, var(--lwt-tab-text)) !important;
}

:root:is([sizemode="fullscreen"]) :is(.browserContainer,.browserStack>browser) {
    padding: initial !important;
    margin: initial !important;
    border-radius: 0px !important;
}

findbar{ 
    border-radius: 8px !important; 
    margin: 5px -1px -1px -1px !important; 
}

.browserContainer, .browserStack, #browser{
    background-color: var(--lwt-frame) !important;
}

/* Corners en ventanas emergentes */

:root:is([chromehidden~="toolbar"]) #nav-bar{
    margin-top: 4px !important;
    margin-right: 4px !important;
    border-radius: 8px 8px 0 0  !important;
}

:root:is([chromehidden~="toolbar"]) .browserStack>browser{
    margin: -2px 0px 0px 0px !important; 
    border-radius: 0 0 8px 8px !important;
    outline: none !important;
    box-shadow: 0 0 0 1px var(--toolbar-bgcolor) !important;
}
